{% extends "layout.html" %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-fan-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">Хоккей</a>
                <div class="divider"> / </div>
                <a class="section">Клубы</a>
                <div class="divider"> / </div>
                <a class="section">СКА</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-info">
            <div class="team-heading">
                <a class="ui red button my-team-btn">+ Я БОЛЕЮ ЗА ЭТУ КОМАНДУ</a>
                <div class="team-logo"><img src="../static/images/ska-logo.png" alt="Sportomatics" class="team-logo-image"></div>
                <div class="team-name">СКА <span>(Санкт-Петербург)</span></div>
            </div>
            <ul class="info-list">
                <li class="info-item"><i class="browser icon"></i> Сайт: http://www.ska.ru</li>
                <li class="info-item"><i class="mail icon"></i> E-mail: pochta@ska.ru</li>
                <li class="info-item"><i class="phone icon"></i> Тел.: +7 (812) 234 72 37</li>
            </ul>
        </div>

        <div class="page-content page-container">
            <div class="ui green inverted menu page-menu">
                <a class="item">Состав команды</a>
                <a class="item">Новости и результаты матчей</a>
                <a class="item">Календарь игр</a>
                <a class="item">Командная статистика</a>
                <a class="item">Домашняя площадка</a>
                <a class="item">Фотографии</a>
                <a class="active item">Фан-клуб</a>
                <a class="item">Форум</a>
                <a class="item">Магазин</a>
            </div>
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">Фан-клуб</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17049530.119718827!2d68.2935659097025!3d58.55779998400435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1419190365425" width="932" height="586" frameborder="0" style="border:0"></iframe>
                            <hr class="hr">
                            <span class="sub-heading">Ссылки</span>
                            <ul class="fan-links-list">
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.skaifan.ru</a> - неофициальная страница команды
                                </li>
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.maxfan.ru</a> - неофициальная страница команды
                                </li>
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.minifan.ru</a> - неофициальная страница команды
                                </li>
                            </ul>
                            <a href="#" class="add-fan-link-btn">+ добавить еще одну ссылку</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}