{% extends "base.html" %}
{% load i18n %}
{% load base_extras %}


{% block title %}
Главная, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container home-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <div class="active section">Главная</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="home-main-slider">
                        <div class="slides_container">
                            <div>
                                <div class="slider-top" style="background-image: url({{ STATIC_PREFIX }}images/temp/3ddzGJQ.jpg)">
                                    <div class="info-left">
                                        <div class="category">Хоккей</div>
                                        <div class="date">14 февраля 2015</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1996</div>
                                        <div class="comments"><i class="comment icon"></i>87</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title text-shadow-right-bottom">Глинкин: "Трактор" готов к плей-офф</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Нам в первом раунде попалась "Сибирь" – очень хорошая команда, – приводит официальный сайт "Трактора" слова Глинкина.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url({{ STATIC_PREFIX }}images/temp/3ddzzby.jpg)">
                                    <div class="info-left">
                                        <div class="category">Хоккей</div>
                                        <div class="date">26 февраля 2015</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title text-shadow-right-bottom">Гимаев: люди, составившие такой календарь плей-офф, ненавидят хоккеистов</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Я против расписания плей-офф, когда матчи идут два через день. Люди, которые приняли такое решение, ненавидят хоккеистов и болельщиков.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url({{ STATIC_PREFIX }}images/temp/3ddzQk6.jpg)">
                                    <div class="info-left">
                                        <div class="category">Хоккей</div>
                                        <div class="date">14 января 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title text-shadow-right-bottom">Сергей Фёдоров будет тренироваться с ЦСКА во время плей-офф</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Это инициатива тренерского штаба, причем не разовая акция. Я продолжу работать с командой и дальше.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url({{ STATIC_PREFIX }}images/temp/3ddzZEi.jpg)">
                                    <div class="info-left">
                                        <div class="category">Хоккей</div>
                                        <div class="date">20 февраля 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title text-shadow-right-bottom">Сафронов: через 12-14 дней сборная России начнет подготовку к Еврочелленджу</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Даем 12-14 дней перерыва, а потом будем потихоньку собираться и готовиться к чемпионату мира. Связывались с кандидатами и клубами, которые нам интересны. </div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="prev"><i class="chevron circle left icon"></i></a>
                        <a href="#" class="next"><i class="chevron circle right icon"></i></a>
                    </div>
                </div>
                <div class="four wide column">
                    <img src="{{ STATIC_URL }}images/site-pro-version.png" class="home-banner" width="232" alt="">
                    <img src="{{ STATIC_URL }}images/popular-banner.png" class="home-banner" width="232" alt="">
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="interests-block">
                        <ul class="interests-list">
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">Хоккей</span>
                            </li>
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">Россия</span>
                            </li>
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">КХЛ</span>
                            </li>
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">Валуев</span>
                            </li>
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">Марадонна</span>
                            </li>
                            <li class="interest-item">
                                <img src="{{ STATIC_PREFIX}}images/temp/50x50.jpg" alt="" class="interest-icon">
                                <span class="interest-title">ЧМ Футбол 2014</span>
                            </li>
                        </ul>
                        <span class="heading">Ваши интересы</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid"
             ng-controller="NewsListController as NewsListCtrl">
            <a class="hidden" id="NewsListLink"
               href="{% url 'hockeyapp:news-list-api' %}"></a>
            <div class="row">
                <div class="column">
                    <div class="relative">
                        <ul class="events-list">
                            <li class="event-item"><a href="#" class="event-link">Мои</a></li>
                            {% verbatim %}
                                <li class="event-item"><a href="#" class="event-link event-link_active">Все события ({{ data.length }})</a></li>
                            {% endverbatim %}
                        </ul>
                        <div class="page-title">События</div>
                    </div>
                </div>
            </div>
            <div class="row events-row" style="width: 80% !important;">
                <div class="three wide column"
                     ng-repeat="column in columns">
                    <div class="event-block"
                         ng-show="column === 1 && data">
                        <img src="{{ STATIC_URL }}images/welcome-banner.png" alt="" class="event-picture">
                    </div>
                    <div class="event-block event-block_green" style="text-align: center"
                         ng-repeat="event in getColumn(data, limit, column)">
                        {% verbatim %}
                            <a href="{{ event.url }}" style="position: relative"
                               ng-show="event.image">
                                <span class=" float-left ribbon" style="background: {{ event.rgb }};">
                                    {{ event.type }}
                                </span>
                                <img ng-src="{{ event.image }}" alt="" class="event-picture">
                            </a>
                            <div class="event-match"
                                 ng-show="event.logos">
                                <span class=" float-left match-ribbon" style="background: {{ event.rgb }};">
                                    {{ event.type }}
                                </span>
                                <div class="event-picture" style="text-align: center">
                                    <a href="{{ event.logos_urls[0] }}" style="position: relative">
                                        <img ng-src="{{ event.logos[0] }}" alt="" class="event-club-logo event-club-logo-left">
                                    </a>
                                    <a href="{{ event.logos_urls[1] }}" style="position: relative">
                                        <img ng-src="{{ event.logos[1] }}" alt="" class="event-club-logo event-club-logo-right">
                                    </a>
                                </div>
                                <div class="event-info">
                                    <span class="event-date event-game-date">
                                        {{ event.date|date:'dd MMMM yyyy' }}
                                    </span>
                                </div>
                            </div>
                            <div class="event-info">
                                <!--<span class="event-more"><i class="align justify icon"></i></span>-->
                                <!-- <span class="event-label">{% trans 'Hockey' %}</span> -->
                                <!--<span class="event-date">{{ event.date }}</span>-->
                            </div>
                            <div class="event-title"
                                 ng-show="event.image">{{ event.title }}</div>
                            <div class="event-game-title"
                                 ng-show="event.logos">{{ event.title }}</div>
                            <!--<span class="event-views"><i class="unhide icon"></i>1206</span>
                            <span class="event-comments"><i class="comment icon"></i>10</span>-->

                        {% endverbatim %}
                    </div>
                </div>
            </div>

            <div class="row events-row">
                <div class="column" style="text-align: center;">
                     <img src="{{ STATIC_URL }}images/loader-large.gif"
                          ng-hide="loaded" />
                     <a href="" class="event-link event-link_active"
                        ng-click="next()"
                        ng-show="loaded && hasNext()">
                         показать еще 50
                     </a>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
