{% extends "base.html" %}
{% load i18n %}

{% block body %}
<section class="content">
    <div class="container home-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <div class="active section">Главная</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="home-main-slider">
                        <div class="slides_container">
                            <div>
                                <div class="slider-top" style="background-image: url(http://lorempixel.com/744/340/sports/)">
                                    <div class="info-left">
                                        <div class="category">ФУТБОЛ</div>
                                        <div class="date">14 августа 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title">Баллончик с пеной на авторитет арбитра не повлияет</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Судья Егоров о технических новинках ЧМ-2014, человеческом факторе и праве на ошибку. Высказывания судьи о последних событиях.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url(http://lorempixel.com/744/340/sports/)">
                                    <div class="info-left">
                                        <div class="category">ФУТБОЛ</div>
                                        <div class="date">14 августа 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title">Баллончик с пеной на авторитет арбитра не повлияет</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Судья Егоров о технических новинках ЧМ-2014, человеческом факторе и праве на ошибку. Высказывания судьи о последних событиях.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url(http://lorempixel.com/744/340/sports/)">
                                    <div class="info-left">
                                        <div class="category">ФУТБОЛ</div>
                                        <div class="date">14 августа 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title">Баллончик с пеной на авторитет арбитра не повлияет</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Судья Егоров о технических новинках ЧМ-2014, человеческом факторе и праве на ошибку. Высказывания судьи о последних событиях.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                            <div>
                                <div class="slider-top" style="background-image: url(http://lorempixel.com/744/340/sports/)">
                                    <div class="info-left">
                                        <div class="category">ФУТБОЛ</div>
                                        <div class="date">14 августа 2014</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="views"><i class="unhide icon"></i>1206</div>
                                        <div class="comments"><i class="comment icon"></i>10</div>
                                        <div class="more"><i class="align justify icon"></i></div>
                                    </div>
                                    <div class="title">Баллончик с пеной на авторитет арбитра не повлияет</div>
                                </div>
                                <div class="slider-bottom">
                                    <div class="desc">Судья Егоров о технических новинках ЧМ-2014, человеческом факторе и праве на ошибку. Высказывания судьи о последних событиях.</div>
                                    <span class="slide-desc">Денис Глушаков Фото: Александр Вильф / РИА Новости</span>
                                    <a href="#" class="read-more">читать<i class="angle right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="prev"><i class="chevron circle left icon"></i></a>
                        <a href="#" class="next"><i class="chevron circle right icon"></i></a>
                    </div>
                </div>
                <div class="four wide column">
                    <img src="{{ STATIC_URL }}images/site-pro-version.png" class="home-banner" width="232" alt="">
                    <img src="{{ STATIC_URL }}images/popular-banner.png" class="home-banner" width="232" alt="">
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="interests-block">
                        <ul class="interests-list">
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">Хоккей</span>
                            </li>
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">Россия</span>
                            </li>
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">КХЛ</span>
                            </li>
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">Валуев</span>
                            </li>
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">Марадонна</span>
                            </li>
                            <li class="interest-item">
                                <img src="http://lorempixel.com/50/50/sports/" alt="" class="interest-icon">
                                <span class="interest-title">ЧМ Футбол 2014</span>
                            </li>
                        </ul>
                        <span class="heading">Ваши интересы</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="relative">
                        <ul class="events-list">
                            <li class="event-item"><a href="#" class="event-link">Мои</a></li>
                            <li class="event-item"><a href="#" class="event-link event-link_active">Все события ({{ events|length }})</a></li>
                        </ul>
                        <div class="page-title">События</div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for event in events %}
                    <div class="four wide column">
                        <div class="event-block event-block_green" style="text-align: center">
                            <a href="{{ event.url }}">
                                {% if event.image %}
                                    <img src="{{ event.image }}" alt="" class="event-picture">
                                {% endif %}
                                {% if event.logos %}
                                    <div class="event-picture" style="text-align: center">
                                        {% for logo in event.logos %}
                                            <img src="{{ logo }}" alt="">
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </a>
                            <div class="event-info">
                                <span class="event-more"><i class="align justify icon"></i></span>
                                <!-- <span class="event-label">{% trans 'Hockey' %}</span> -->
                                <span class="event-label">{{ event.type }}</span>
                                <span class="event-date">{{ event.date }}</span>
                            </div>
                            <div class="event-title">{{ event.title }}</div>
                            <span class="event-views"><i class="unhide icon"></i>1206</span>
                            <span class="event-comments"><i class="comment icon"></i>10</span>
                        </div>
                    </div>
                    {% if forloop.counter == 8 %}
                        <div class="four wide column">
                            <div class="event-block">
                                <img src="{{ STATIC_URL }}images/welcome-banner.png" alt="" class="event-picture">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
