<div class="ui green menu player-menu">
    <a class="{% if players_menu_active == 'player-card' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card' pk %}">Главное</a>
    <a class="{% if players_menu_active == 'player-card-indicators' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-indicators' pk %}">Статистика</a>
    <a class="{% if players_menu_active == 'player-card-clubs' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-clubs' pk %}">Клубы</a>
    <a class="{% if players_menu_active == 'player-card-coaches' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-coaches' pk %}">Тренеры</a>
    <a class="{% if players_menu_active == 'player-card-partners' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-partners' pk %}">Партнеры по команде</a>
    <a class="{% if players_menu_active == 'player-card-photos' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-photos' pk %}">Фотографии</a>
    <a class="{% if players_menu_active == 'player-card-communication' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-communication' pk %}">Общение</a>
    <a class="{% if players_menu_active == 'player-card-news' %}active {% endif %}item"
       href="{% url 'hockeyapp:player-card-news' pk %}">Новости</a>
</div>
