{% extends "hockeyapp/players/base.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline.js"></script>
    <!-- <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script> -->
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
    <script>
        $(document).ready(function() {
            createStoryJS({
                type: 'timeline',
                width: '900',
                height: '600',
                source: '{% url 'hockeyapp:player-timeline-api' pk %}',
                embed_id: 'player-timeline'
            });
        });
    </script>
{% endblock %}

{% block title %}
{{fio}}: краткая информация, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">

    <div class="overlay-black" style="visibility: hidden"></div>
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">Игроки</a>
                <div class="divider"> / </div>
                <a class="active section">Краткая информация</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}

        <div class="page-content page-container" ng-controller="PhotosController">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card" %}
            <div class="page-inner-container">
                {% verbatim %} <!-- Popup -->
                <div id="#switcher" class=" player-partners-popup photo-popup no-transition">
                    <a href="#" id="close-popup-btn" class="close-popup-btn">×</a>
                    <div>
                        <div style="display: inline-block; width: 645px">
                            <div class="rightleft" ng-show="currentIndex !== 0">
                                <i class="fa fa-angle-left photo-prev" ng-click="prevPhoto()"></i>
                            </div>
                            <img alt="" class="item-photo popup-photo float-left" ng-src="{{ PhotoPopup.data.photo.img.file }}">
                            <div class="rightleft" ng-show="currentIndex !== photos.length - 1 ">
                                <i class="fa fa-angle-right photo-next" ng-click="nextPhoto()"></i>
                            </div>
                        </div>
                        <div style="display:inline-block;margin-left: 20px; vertical-align: top; background: #ffffff !important; width: inherit">
                            <div class="m-t-20 m-r-30">
                                <div class="inline-block vertical-top m-r-5">
                                    <div>
                                        <img class="instagram-profile-picture" ng-src="{{PhotoPopup.instagramUser.profile_picture}}" alt="" class="item-photo" width="150" height="150">
                                    </div>
                                    <div class="instagram-user-name">
                                        <a href="https://instagram.com/{{PhotoPopup.instagramUser.username}}" target="_blank">{{PhotoPopup.instagramUser.username}}</a>
                                    </div>
                                </div>
                                <div class="inline-block ">
                                    <div class="instagram-comment">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="m-t-20">
                                <strong class="font-16">{{PhotoPopup.arena.ru_title}}</strong>
                            </div>-->
                        </div>
                    </div>
                </div>
                {% endverbatim %}

                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Спортивные показатели</span>
                            </div>
                            <table class="ui celled table segment design-table">
                                <thead>
                                    <tr>
                                        <th>Характеристики</th>
                                        <th align="center">Показатели</th>
                                        <th align="center">Место</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include "hockeyapp/players/indicators-row.html" with label="Seasons" key="seasons_total" value=seasons_total rating=seasons_total_index pk=pk %}
                                    {% include "hockeyapp/players/indicators-row.html" with label="Matches" key="matches_total" value=matches_total rating=matches_total_index pk=pk %}
                                    {% if line == 1 %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Matches Win" key="matches_win_total" value=matches_win_total rating=matches_win_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Matches Lose" key="matches_lose_total" value=matches_lose_total rating=matches_lose_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Matches with series of bullet goals" key="bullet_matches_total" value=bullet_matches_total rating=bullet_matches_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Shots" key="shots_received_total" value=shots_received_total rating=shots_received_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Blocked shots" key="saves_total" value=saves_total rating=saves_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Blocked shots, %" key="saves_p_average" value=saves_p_average rating=saves_p_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Safety factor" key="sf_average" value=sf_average rating=sf_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Missed goals" key="loose_goals_total" value=loose_goals_total rating=loose_goals_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Goal transfers" key="assists_total" value=assists_total rating=assists_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="0 goals matches" key="zero_goals_matches_total" value=zero_goals_matches_total rating=zero_goals_matches_total_index pk=pk %}
                                    {% else %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Goals" key="goals_total" value=goals_total rating=goals_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Transfers" key="assists_total" value=assists_total rating=assists_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Points" key="points_total" value=points_total rating=points_total_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Average goals count per game" key="goals_average" value=goals_average rating=goals_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Average transfers count per game" key="assists_average" value=assists_average rating=assists_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Average score count per game" key="points_average" value=points_average rating=points_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label="Average penalty time" key="penalty_time_average" value=penalty_time_average rating=penalty_time_average_index pk=pk %}
                                        {% include "hockeyapp/players/indicators-row.html" with label='Average "plus/minus" per game' key="plus_minus_average" value=plus_minus_average rating=plus_minus_average_index pk=pk %}
                                    {% endif %}
                                    {% include "hockeyapp/players/indicators-row.html" with label="Penalty time, min" key="penalty_time_total" value=penalty_time_total rating=penalty_time_total_index pk=pk %}
                                    {% include "hockeyapp/players/indicators-row.html" with label="Gaming time" key="gamingtime_total" value=gamingtime_total rating=gamingtime_total_index pk=pk %}
                                    {% include "hockeyapp/players/indicators-row.html" with label="SM-индекс" key="sm_index" value=12 rating=23 pk=pk %}
                                    {% include "hockeyapp/players/indicators-row.html" with label="CORSI-индекс" key="corsi_index" value=12 rating=23 pk=pk %}
                                </tbody>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Главные новости</span>
                            </div>
                            <ul class="player-news-list">
                                <li class="player-news-item">Открытие УКРК "Арена 2000" (универсальный культурно-развлекательный комплекс "Арена 2000. Локомотив").</li>
                                <li class="player-news-item">Прошли соревнования в универсальный культурно-спортивный комплекс российского города Ярославля. Открыт в 2001 году.</li>
                                <li class="player-news-item">Расположен в Красноперекопском районе города в жилом районе Нефтестрой, на пересечении улиц Гагарина и Институтской. Проводятся домашние матчи.</li>
                            </ul>
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Внешние ссылки</span>
                            </div>
                            <div class="ui grid">
                                <div class="row">
                                    <div class="eight wide column">
                                        <ul class="player-links-list">
                                            {% if khl_url %}
                                                <li class="player-links-item">
                                                    <a href="{{ khl_url }}" class="player-links-link">
                                                        <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/khl-logo.png" alt="" class="player-links-logo"></span>
                                                        <span class="player-links-title">Профиль на сайте КХЛ</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% comment %}
                                                <li class="player-links-item">
                                                    <a href="#" class="player-links-link">
                                                        <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/nhl-logo.png" alt="" class="player-links-logo"></span>
                                                        <span class="player-links-title">Профиль на сайте НХЛ</span>
                                                    </a>
                                                </li>
                                            {% endcomment %}
                                            {% if wiki_page %}
                                                <li class="player-links-item">
                                                    <a href="{{ wiki_page }}" class="player-links-link">
                                                        <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/wiki-logo.png" alt="" class="player-links-logo"></span>
                                                        <span class="player-links-title">Статья в Википедии</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="eight wide column">
                                        {% if fb or vk %}
                                            <ul class="player-links-list">
                                                {% if fb %}
                                                    <li class="player-links-item">
                                                        <a href="{{ fb }}" class="player-links-link">
                                                            <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/fb-logo.png" alt="" class="player-links-logo"></span>
                                                            <span class="player-links-title">Страница на Facebook</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if vk %}
                                                    <li class="player-links-item">
                                                        <a href="{{ vk }}" class="player-links-link">
                                                            <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/vk-logo.png" alt="" class="player-links-logo"></span>
                                                            <span class="player-links-title">Страница ВКонтакте</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% comment %}
                                                    <li class="player-links-item">
                                                        <a href="#" class="player-links-link player-links-link_internet">
                                                            +ЕЩЕ В ИНТЕРНЕТ
                                                        </a>
                                                    </li>
                                                {% endcomment %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="photo-title heading">Фотографии</div>
                            <a href="#" class="view-all-photos-btn">посмотреть все фото</a>
                                <div class="clubs-photos-slider">
                                    {% verbatim %}
                                    <div class="slides_container" >
                                        <div>
                                            <ul class="photos-list">
                                                <li class="photo-item">
                                                    <a href="#" class="club-photo player-photo_add"><span class="add-photo-icon"><i class="add sign icon"></i></span>добавить свое фото</a>
                                                </li>
                                                <li ng-repeat="item in photos track by $index | limitTo: 4 " class="photo-item">
                                                    <a href="#" class="club-photo" ng-click="PhotoPopupShow(item.id, $index, $event)">
                                                        <img ng-src="{{item.photo.img.file}}" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-show="photosSlider[1].length">
                                            <ul class="photos-list">
                                                <li ng-repeat="item in photosSlider[1]" class="photo-item">
                                                    <a href="#" class="club-photo" ng-click="PhotoPopupShow(item.id, $index+5, $event)">
                                                        <img ng-src="{{item.photo.img.file}}"  alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div ng-show="photosSlider[2].length">
                                            <ul class="photos-list">
                                                <li ng-repeat="item in photosSlider[2] | limitTo: 4 " class="photo-item">
                                                    <a href="#" class="club-photo" ng-click="PhotoPopupShow(item.id, $index+10, $event)">
                                                        <img ng-src="{{item.photo.img.file}}"  alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="prev" ng-show="photosSlider[1].length"><i class="chevron circle left icon" ></i></a>
                                    <a class="next" ng-show="photosSlider[1].length"><i class="chevron circle right icon" ></i></a>

                                    {% endverbatim %}
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="news-title heading">События из жизни</div>
                            <div id="player-timeline"></div>

                            <!-- <div class="player-news-slider"> -->
                            <!--     <div class="slides_container"> -->
                            <!--         <div> -->
                            <!--             <div class="slide"> -->
                            <!--                 <div class="news-image"> -->
                            <!--                     <img src="{{ STATIC_URL }}images/player-news-slider-pic.png" alt="" class="news-image-pic"> -->
                            <!--                 </div> -->
                            <!--                 <div class="news-desc"> -->
                            <!--                     <div class="news-date">1 августа 2003</div> -->
                            <!--                     <div class="news-title">Приглашение в сборную России</div> -->
                            <!--                     <div class="news-description">Вместе с рядом других игроков Илья был приглашен принять участие в тренировочном сборе в белорусском Пинске.</div> -->
                            <!--                 </div> -->
                            <!--             </div> -->
                            <!--         </div> -->
                            <!--         <div> -->
                            <!--             <div class="slide"> -->
                            <!--                 <div class="news-image"> -->
                            <!--                     <img src="{{ STATIC_URL }}images/player-news-slider-pic.png" alt="" class="news-image-pic"> -->
                            <!--                 </div> -->
                            <!--                 <div class="news-desc"> -->
                            <!--                     <div class="news-date">12 августа 2003</div> -->
                            <!--                     <div class="news-title">Новость 2</div> -->
                            <!--                     <div class="news-description">Вместе с рядом других игроков Илья был приглашен принять участие в тренировочном сборе в белорусском Пинске.</div> -->
                            <!--                 </div> -->
                            <!--             </div> -->
                            <!--         </div> -->
                            <!--     </div> -->
                            <!--     <a href="#" class="prev"><i class="arrow left icon"></i></a> -->
                            <!--     <a href="#" class="next"><i class="arrow right icon"></i></a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                    <!--     <div class="column"> -->
                    <!--         <div class="align-center"> -->
                    <!--             <img src="{{ STATIC_URL }}images/player-card-short-graph.png" alt=""> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!-- </div> -->
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
