{% extends "hockeyapp/players/base.html" %}
{% block title %}
{{fio}}: фотографии, хоккей  - Sportomatics.ru
{% endblock %}
{% block body %}
<section class="content">
    <div class="overlay-black" style="visibility: hidden"></div>
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">Игроки</a>
                <div class="divider"> / </div>
                <a class="active section">Фотографии</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card-photos" %}
            <div class="page-inner-container" ng-controller="PhotosController">
                {% verbatim %} <!-- Popup -->
                <div id="#switcher" class=" player-partners-popup photo-popup no-transition">
                    <a href="#" id="close-popup-btn" class="close-popup-btn">×</a>
                    <div>
                        <div style="display: inline-block;">
                            <div class="rightleft" ng-show="currentIndex !== 0">
                                <i class="fa fa-angle-left photo-prev" ng-click="prevPhoto()"></i>
                            </div>
                            <img alt="" class="item-photo popup-photo float-left" ng-src="{{ PhotoPopup.data.photo.img.file }}">
                            <div class="rightleft" ng-show="currentIndex !== 3 ">
                                <i class="fa fa-angle-right photo-next" ng-click="nextPhoto()"></i>
                            </div>
                        </div>
                        <div style="display:inline-block;margin-left: 20px; vertical-align: top; background: #ffffff !important; width: inherit">
                            <div class="m-t-20 m-r-30">
                                <div class="inline-block vertical-top m-r-5">
                                    <div>
                                        <img class="instagram-profile-picture" src="{{PhotoPopup.instagramUser.profile_picture}}" alt="" class="item-photo" width="150" height="150">
                                    </div>
                                    <div class="instagram-user-name">
                                        <a href="https://instagram.com/{{PhotoPopup.instagramUser.username}}" target="_blank">{{PhotoPopup.instagramUser.username}}</a>
                                    </div>
                                </div>
                                <div class="inline-block ">
                                                <textarea class="instagram-user-str" disabled>
                                                </textarea>
                                </div>
                            </div>
                            <!--<div class="m-t-20">
                                <strong class="font-16">{{PhotoPopup.arena.ru_title}}</strong>
                            </div>-->
                        </div>
                    </div>
                </div>
                {% endverbatim %}
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Фотографии</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen wide column">
                            <div class="masonry-clubs-photos masonry">
                                {% verbatim %}
                                <div ng-repeat="item in photos track by $index" class="item" ng-class="{'w25': $index %2 === 0, 'w2': $index % 5 === 0}">
                                    <img src="{{item.photo.img.file}}" alt="" class="item-photo pointer" ng-click="PhotoPopupShow(item.id, $index, $event)">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="/static/images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                {% endverbatim %}
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
