{% extends "hockeyapp/players/base.html" %}

{% block body %}
<section class="content">
    <div class="container players-search-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">Игроки</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content page-container"
             ng-controller="PlayersSearchController as PlayersSearchCtrl">
            <div class="container-top-block">
                <form id="PlayersSearchForm" action="{% url 'hockeyapp:players-search-api' %}">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="title">
                                <span>Игроки</span>
                                <div class="sub-title">В базе данных сайта содержатся сведения о более, чем 100 500 игроках за 60 лет.<br>
                                Вы можете найти нужного Вам по алфавиту или посмотреть рейтинг игроков по двум версиям.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three wide column">
                            <div class="column-title">Страна:</div>
                            <select name="citizenship" id="players-search-country" class="select players-search-select" multiple="multiple" size="8">
                                {% for country in countries %}
                                    <option value="{{ country.pk }}">{{ country.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="three wide column">
                            <div class="column-title">Лига:</div>
                            <select name="players-search-countryleague" id="players-search-league" class="select players-search-select" multiple="multiple" size="8">
                                <option value="">КХЛ</option>
                                <option value="">НХЛ</option>
                                <option value="">ВХЛ</option>
                                <option value="">МХЛ</option>
                                <option value="">МХЛ-А</option>
                            </select>
                        </div>
                        <div class="two wide column">
                            <div class="column-title">Амплуа:</div>
                            <div class="ui form">
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="line" value="[1,2,3]">
                                        <label>все</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="line" value="[2]">
                                        <label>защитник</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="line" value="[3]">
                                        <label>нападающий</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="line" value="[1]">
                                        <label>вратарь</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="column-title">Гражданство:</div>
                            <div class="ui form">
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>все</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>Россия</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>иное</label>
                                    </div>
                                    <div class="ui selection dropdown dropdown-small-inline">
                                        <input type="hidden">
                                        <div class="default text">любое</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="hokey">ААА</div>
                                            <div class="item" data-value="football">БББ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="column-title">Контракт:</div>
                            <div class="ui form">
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>все</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>ограниченно свободный агент</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>неограниченно свободный агент</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <div class="ui checkbox">
                                        <input type="checkbox">
                                        <label>юниор</label>
                                    </div>
                                </div>
                                <div class="inline">
                                    <span>на дату</span>
                                    <input type="text" class="datepicker">
                                    <i class="calendar icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="align-center">
                                <a class="ui tiny green button"
                                   ng-click="PlayersSearchCtrl.search()">показать</a>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide column">
                            <a href="#" class="option-btn option-btn_active">Сейчас играют</a>
                            <a href="#" class="option-btn">Все</a>
                            <ul class="options-list">
                                <li class="option-item">
                                    <a href="#" class="option-link option-link_active">сезоны</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">матчи</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">голы</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">передачи</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">очки</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">плюс / минус</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">среднее количество голов за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">среднее количество передач за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">среднее количество очков за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">средний показатель "плюс/минус" за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">SM-индекс</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">CORSI-индекс</a>
                                </li>
                            </ul>
                        </div>
                        <div class="twelve wide column">
                            <table class="ui celled table segment player-select-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Имя</th>
                                        <th align="center">Амплуа</th>
                                        <th>Команда</th>
                                        <th align="center">Возраст</th>
                                        <th align="center">Гражданство</th>
                                        <th align="center">Контракт до</th>
                                        <th align="center">SMI</th>
                                        <th align="center">CORSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% verbatim %}
                                    <tr ng-repeat="player in PlayersSearchCtrl.data.results">
                                        <td>
                                            {{ $index + 1 }}
                                        </td>
                                        <td>
                                            <div class="player-avatar-block">
                                                <a href="{{ player.url }}"><img ng-src="{{ player.photo }}" width="30" alt="" class="player-avatar"></a>
                                                <div class="player-info">
                                                    <span class="player-name">
                                                        <a href="{{ player.url }}">{{ player.fio }}</a>
                                                    </span>
                                                    <span class="player-name">&nbsp;</span>
                                                    <span class="player-country">{{ player.citizenship.title }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center">{{ player.line }}</td>
                                        <td>
                                            <a href="{{ player.last_clubs[0].url }}" class="club-link"
                                               ng-show="player.last_clubs.length > 0">
                                                {{ player.last_clubs[0].title }}
                                                <span ng-show="player.last_clubs[0].address.title">
                                                    ({{ player.last_clubs[0].address.title }})
                                                </span>
                                            </a>
                                            <div ng-show="player.last_clubs.length > 1">
                                                <ul class="club-link-list hidden">
                                                    <li ng-repeat="club in player.last_clubs">
                                                        <a href="{{ club.url }}" class="club-link"
                                                           ng-hide="$first">
                                                            {{ club.title }}
                                                            <span ng-show="club.address.title">
                                                                ({{ club.address.title }})
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <a class="more-clubs-btn more-clubs-btn_open"
                                                   onclick="angular.element(this).scope().moreClubs(this)"><span>показать еще {{ player.last_clubs.length - 1 }} команд</span><i class="triangle down icon"></i></a>
                                                <a class="more-clubs-btn more-clubs-btn_close"
                                                   onclick="angular.element(this).scope().moreClubs(this)"><span>скрыть прошлые команды</span><i class="triangle up icon"></i></a>
                                            </div>
                                        </td>
                                       <td align="center">
                                            {{ player.age[0] }}
                                            <div class="player-desc">{{ player.birth_date_short }}</div>
                                        </td>
                                        <td align="center">{{ player.citizenship.title }}</td>
                                        <td align="center">
                                            {{ player.contract_to }}
                                            <span class="player-desc">{{ player.contract_type }}</span>
                                        </td>
                                        <td align="center">2837</td>
                                        <td align="center">3274</td>
                                    </tr>
                                    {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="team-controls player-controls-block">
                        <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                        <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                        <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
