{% extends "hockeyapp/players/base.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="http://cdn.knightlab.com/libs/timeline/latest/css/timeline.css">
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline.js"></script>
    <!-- <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/timeline-min.js"></script> -->
    <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
    <script>
        $(document).ready(function() {
            createStoryJS({
                type: 'timeline',
                width: '900',
                height: '600',
                source: '{% url 'hockeyapp:player-timeline-api' pk %}',
                embed_id: 'player-timeline'
            });
        });
    </script>
{% endblock %}

{% block title %}
{{fio}}: краткая информация, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">Игроки</a>
                <div class="divider"> / </div>
                <a class="active section">Краткая информация</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Спортивные показатели</span>
                            </div>
                            <table class="ui celled table segment design-table">
                                <thead>
                                    <tr>
                                        <th>Характеристики</th>
                                        <th align="center">Показатели</th>
                                        <th align="center">Место</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Seasons' %}</td>
                                        <td align="center">{{ seasons_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=seasons_total" class="player-place-link">
                                                {{ seasons_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Matches' %}</td>
                                        <td align="center">{{ matches_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=matches_total" class="player-place-link">
                                                {{ matches_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Goals' %}</td>
                                        <td align="center">{{ goals_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=goals_total" class="player-place-link">
                                                {{ goals_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Transfers' %}</td>
                                        <td align="center">{{ assists_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=assists_total" class="player-place-link">
                                                {{ assists_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Scored' %}</td>
                                        <td align="center">{{ points_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=points_total" class="player-place-link">
                                                {{ points_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Penalty time, min' %}</td>
                                        <td align="center">{{ penalty_time_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=penalty_time_total" class="player-place-link">
                                                {{ penalty_time_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% comment %}
                                    <tr>
                                        <td>{% trans 'Plus/minus' %}</td>
                                        <td align="center">{{ plus_minus_total }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=plus_minus_total" class="player-place-link">
                                                {{ plus_minus_total_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endcomment %}
                                    <tr>
                                        <td>{% trans 'Average goals count per game' %}</td>
                                        <td align="center">{{ goals_average|floatformat:3 }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=goals_average" class="player-place-link">
                                                {{ goals_average_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Average transfers count per game' %}</td>
                                        <td align="center">{{ assists_average|floatformat:3 }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=assists_average" class="player-place-link">
                                                {{ assists_average_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Average score count per game' %}</td>
                                        <td align="center">{{ points_average|floatformat:3 }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=points_average" class="player-place-link">
                                                {{ points_average_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Average penalty time' %}</td>
                                        <td align="center">{{ penalty_time_average|floatformat:3 }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=penalty_time_average" class="player-place-link">
                                                {{ penalty_time_average_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Average "plus/minus" per game' %}</td>
                                        <td align="center">{{ plus_minus_average|floatformat:3 }}</td>
                                        <td align="center">
                                            <a href="{% url 'hockeyapp:players-search' %}#?player={{ pk }}&order_by=rating&reversed&rated_by=plus_minus_average" class="player-place-link">
                                                {{ plus_minus_average_index }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>SM-индекс</td>
                                        <td align="center">12</td>
                                        <td align="center">
                                            <a href="#" class="player-place-link">23</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>CORSI-индекс</td>
                                        <td align="center">12</td>
                                        <td align="center">
                                            <a href="#" class="player-place-link">23</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Главные новости</span>
                            </div>
                            <ul class="player-news-list">
                                <li class="player-news-item">Открытие УКРК "Арена 2000" (универсальный культурно-развлекательный комплекс "Арена 2000. Локомотив").</li>
                                <li class="player-news-item">Прошли соревнования в универсальный культурно-спортивный комплекс российского города Ярославля. Открыт в 2001 году.</li>
                                <li class="player-news-item">Расположен в Красноперекопском районе города в жилом районе Нефтестрой, на пересечении улиц Гагарина и Институтской. Проводятся домашние матчи.</li>
                            </ul>
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Внешние ссылки</span>
                            </div>
                            <div class="ui grid">
                                <div class="row">
                                    <div class="eight wide column">
                                        <ul class="player-links-list">
                                            <li class="player-links-item">
                                                <a href="{{ khl_url }}" class="player-links-link">
                                                    <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/khl-logo.png" alt="" class="player-links-logo"></span>
                                                    <span class="player-links-title">Профиль на сайте КХЛ</span>
                                                </a>
                                            </li>
                                            <li class="player-links-item">
                                                <a href="#" class="player-links-link">
                                                    <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/nhl-logo.png" alt="" class="player-links-logo"></span>
                                                    <span class="player-links-title">Профиль на сайте НХЛ</span>
                                                </a>
                                            </li>
                                            <li class="player-links-item">
                                                <a href="{{ wiki_page }}" class="player-links-link">
                                                    <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/wiki-logo.png" alt="" class="player-links-logo"></span>
                                                    <span class="player-links-title">Статья в Википедии</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="eight wide column">
                                        <ul class="player-links-list">
                                            <li class="player-links-item">
                                                <a href="#" class="player-links-link">
                                                    <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/fb-logo.png" alt="" class="player-links-logo"></span>
                                                    <span class="player-links-title">Страница на Facebook</span>
                                                </a>
                                            </li>
                                            <li class="player-links-item">
                                                <a href="#" class="player-links-link">
                                                    <span class="player-links-logo-container"><img src="{{ STATIC_URL }}images/vk-logo.png" alt="" class="player-links-logo"></span>
                                                    <span class="player-links-title">Страница ВКонтакте</span>
                                                </a>
                                            </li>
                                            <li class="player-links-item">
                                                <a href="#" class="player-links-link player-links-link_internet">
                                                    +ЕЩЕ В ИНТЕРНЕТ
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="photo-title heading">Фотографии</div>
                            <a href="#" class="view-all-photos-btn">посмотреть все фото</a>
                            <div class="player-photos-slider">
                                <div class="slides_container">
                                    <div>
                                        <ul class="photos-list">
                                            <li class="photo-item">
                                                <a href="#" class="player-photo player-photo_add"><span class="add-photo-icon"><i class="add sign icon"></i></span>добавить свое фото</a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="photos-list">
                                            <li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li><li class="photo-item">
                                                <a href="#" class="player-photo">
                                                    <img src="http://lorempixel.com/136/119/sports/" alt="">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="prev"><i class="chevron circle left icon"></i></a>
                                <a href="#" class="next"><i class="chevron circle right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <hr class="hr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="news-title heading">События из жизни</div>
                            <div id="player-timeline"></div>

                            <!-- <div class="player-news-slider"> -->
                            <!--     <div class="slides_container"> -->
                            <!--         <div> -->
                            <!--             <div class="slide"> -->
                            <!--                 <div class="news-image"> -->
                            <!--                     <img src="{{ STATIC_URL }}images/player-news-slider-pic.png" alt="" class="news-image-pic"> -->
                            <!--                 </div> -->
                            <!--                 <div class="news-desc"> -->
                            <!--                     <div class="news-date">1 августа 2003</div> -->
                            <!--                     <div class="news-title">Приглашение в сборную России</div> -->
                            <!--                     <div class="news-description">Вместе с рядом других игроков Илья был приглашен принять участие в тренировочном сборе в белорусском Пинске.</div> -->
                            <!--                 </div> -->
                            <!--             </div> -->
                            <!--         </div> -->
                            <!--         <div> -->
                            <!--             <div class="slide"> -->
                            <!--                 <div class="news-image"> -->
                            <!--                     <img src="{{ STATIC_URL }}images/player-news-slider-pic.png" alt="" class="news-image-pic"> -->
                            <!--                 </div> -->
                            <!--                 <div class="news-desc"> -->
                            <!--                     <div class="news-date">12 августа 2003</div> -->
                            <!--                     <div class="news-title">Новость 2</div> -->
                            <!--                     <div class="news-description">Вместе с рядом других игроков Илья был приглашен принять участие в тренировочном сборе в белорусском Пинске.</div> -->
                            <!--                 </div> -->
                            <!--             </div> -->
                            <!--         </div> -->
                            <!--     </div> -->
                            <!--     <a href="#" class="prev"><i class="arrow left icon"></i></a> -->
                            <!--     <a href="#" class="next"><i class="arrow right icon"></i></a> -->
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                    <!--     <div class="column"> -->
                    <!--         <div class="align-center"> -->
                    <!--             <img src="{{ STATIC_URL }}images/player-card-short-graph.png" alt=""> -->
                    <!--         </div> -->
                    <!--     </div> -->
                    <!-- </div> -->
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
