{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}

{% block title %}
{{fio}}: номера игроков, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <!-- {% trans "Player's numbers" %} -->
        {% include "hockeyapp/players/player-header.html" with player_section="Favourite numbers" %}

        <input type="hidden" id="url" value="{% url 'api:hockey:player_partners' pk %}">
        <div class="page-content page-container">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card-numbers" %}
            <div class="page-inner-container" ng-controller="ClubNumbersController as ClubNumbersCtrl"
                 ng-init="url = '{% url 'hockeyapp:player-numbers-api' %}'; player = {{ pk }}">
                <a class="hidden" id="PlayerNumbersApi"
                   href="{% url 'hockeyapp:player-numbers-api' %}"></a>
                <input name="player" type="hidden" value="{{ pk }}">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">{% trans "Favourite numbers" %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve wide column">
                            <div style="position:relative;text-align: center; top: 50px; right: 34px; background: #ffffff" ng-hide="loaded">
                                <img style="position: absolute; max-height: 100px; z-index: 1;" src="{{ STATIC_URL }}images/loader-large.gif">
                            </div>
                            {% verbatim %}
                            <div class="partners-block-container" ng-show="loaded">
                                <div class="partners-block" ng-repeat="group in data">
                                    <div class="partners-heading">{{ group.number || '-' }}</div>
                                    <ul class="player-partners-list">
                                        <li class="player-partners-item pointer"
                                            ng-click="PlayerPartnersPopupShow(player, $event)"
                                            ng-repeat="club in group.clubs track by $index"
                                            ng-if="$index < getLimit(group.number)">
                                            <a class="player-partners-link">
                                                <img ng-src="{{ club.logo }}" alt="" class="player-partners-photo">
                                            </a>
                                            <div class="player-partners-info">
                                                <div class="player-partners-name">{{ player.lastname }}</div>
                                                <div class="player-partners-name">{{ player.name }}</div>
                                                <div class="player-partners-country">{{ player.line_display }}</div>
                                                <i ng-if="player.citizenship.code" class="flag" ng-class="player.citizenship.code"></i>
                                            </div>
                                        </li>
                                        <li class="player-partners-add-label pointer"
                                            ng-click="increaseLimit(group.number)"
                                            ng-if="getLimit(group.number) < group.players.length">
                                            <div class="player-partners-info">
                                                <div>Показать еще</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
                {% include "hockeyapp/player-partners-popup.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
