{% extends "hockeyapp/players/base.html" %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section">Игроки</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:player-card' pk %}">{{ fio }}</a>
                <div class="divider"> / </div>
                <div class="active section">Спортивные показатели</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}

        <div class="page-content page-container">
            <div class="ui green inverted menu page-menu">
                <a class="item" href="{% url 'hockeyapp:player-card' pk %}">Краткая информация</a>
                <a class="active item" href="{% url 'hockeyapp:player-card-indicators' pk %}">Спортивные показатели</a>
                <a class="item" href="{% url 'hockeyapp:player-card-clubs' pk %}">Клубы</a>
                <a class="item" href="{% url 'hockeyapp:player-card-coaches' pk %}">Тренеры</a>
                <a class="item" href="{% url 'hockeyapp:player-card-partners' pk %}">Партнеры по команде</a>
                <a class="item" href="{% url 'hockeyapp:player-card-photos' pk %}">Фотографии</a>
                <a class="item" href="{% url 'hockeyapp:player-card-communication' pk %}">Общение</a>
                <a class="item" href="{% url 'hockeyapp:player-card-news' pk %}">Новости</a>
            </div>
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Спортивные показатели</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three wide column">
                            <div class="players-compare-title">Сравнить<br>с ...</div>
                            <ul class="players-compare-list">
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="players-compare-player-add">+ добавить игрока</a>
                        </div>
                        <div class="ten wide column">
                            <div class="graph-controls-block">
                                <ul class="graph-controls-list">
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link graph-control-link_active">И</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">Ш</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">А</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">О</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">+/-</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">Штр</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ШР</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ШБ</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ШМ</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ШО</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ШП</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">РБ</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">БВ</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">%БВ</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">БВ/И</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">Вбр</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ВВбр</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">%Вбр</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">ВП/И</a>
                                    </li>
                                    <li class="graph-control-item">
                                        <a href="#" class="graph-control-link">См/И</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="indicators-list">
                                <li class="indicator-item"><a href="#" class="indicator-link">График</a></li>
                                <li class="indicator-item"><a href="#" class="indicator-link">Таблица</a></li>
                            </ul>
                            <img src="{{ STATIC_URL }}images/player-card-graph.png" alt="" class="indicator-graph">
                        </div>
                        <div class="three wide column">
                            <div class="players-compare-title">Похожие<br>игроки</div>
                            <ul class="players-compare-list">
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                                <li class="players-compare-item">
                                    <a href="#" class="players-compare-link">
                                        <img src="{{ STATIC_URL }}images/player1.png" alt="" class="players-compare-photo">
                                        <span class="player-compare-name">Кержаков</span>
                                        <span class="player-compare-name">Александр</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
