{% extends "hockeyapp/players/base.html" %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">Игроки</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:player-card' pk %}">{{ fio }}</a>
                <div class="divider"> / </div>
                <div class="active section">Фотографии</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card-photos" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">Фотографии</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sixteen wide column">
                            <div class="masonry-player-photos masonry">
                                <div class="item item_add">
                                    <a href="#" class="item-add-photo-btn">
                                        <span class="add-photo-icon"><i class="add sign icon"></i></span>
                                        <span class="add-photo-text">Загрузи свое фото здесь</span>
                                    </a>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/240/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/220/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/260/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/230/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/186/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/160/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item w2">
                                    <img src="http://lorempixel.com/372/240/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/210/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/222/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/100/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://lorempixel.com/186/80/sports/" alt="" class="item-photo">
                                    <a href="#" class="item-photo-author">
                                        <span class="item-author-avatar"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="item-author-image"></span>
                                        <span class="item-author-name">Иванов Александр</span>
                                    </a>
                                    <div class="item-data">12 августа 2014</div>
                                    <div class="item-info">
                                        <a href="#" class="item-views"><i class="unhide icon"></i>1206</a>
                                        <a href="#" class="item-comments"><i class="like icon"></i>10</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
