{% extends "hockeyapp/players/base.html" %}
{% load i18n %}
{% block title %}
{{fio}}: партнеры по команде, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">{% trans 'Hockey' %}</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">{% trans 'Players' %}</a>
                <div class="divider"> / </div>
                <a class="active section">{% trans 'Team partners' %}</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="{% trans 'Search' %}...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/players/card.html" %}
        <input type="hidden" id="url" value="{% url 'api:hockey:player_partners' pk %}">
        <div class="page-content page-container" ng-controller="PlayerPartnersController">
            {% include "hockeyapp/players/menu.html" with players_menu_active="player-card-partners" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <span class="heading">{% trans 'Team partners' %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <ul class="tabs-list">
                                <li class="tabs-item">
                                    <a href="" class="tabs-link" ng-class="{ 'tabs-link_active':params.is_playing === 1}" ng-click="setPlaying(1)">{% trans 'Playing now' %}</a>
                                </li>
                                <li class="tabs-item">
                                    <a href="" class="tabs-link" ng-class="{ 'tabs-link_active':params.is_playing === 0 }" ng-click="setPlaying(0)">{% trans 'All' %}</a>
                                </li>
                            </ul>
                            <ul class="options-list player-partner-menu-list">
                                <li class="option-item">
                                    <a href="" class="option-link" ng-class="{ 'option-link_active': params.rate_by !== 0 }" ng-click="setRatedBy(1)">{% trans 'Oldest' %}</a>
                                </li>
                                <li class="option-item">
                                    <a href="" class="option-link" ng-class="{ 'option-link_active': params.rate_by === 0 }" ng-click="setRatedBy(0)">{% trans 'Most inseparable' %}</a>
                                </li>
                            </ul>
                        </div>
                        {% verbatim %}
                        <div class="twelve wide column">
                            <div class="partners-block-container">
                                <div class="partners-block" ng-repeat="players in playersBySeasonCount track by $index">
                                    <div class="partners-heading">{{players.seasons_count}} сезонов вместе</div>
                                    <ul class="player-partners-list">
                                        <li class="player-partners-item pointer" ng-repeat="player in players.players | limitTo : 5" ng-click="go('/ru/hockey/players/'+player.id+'/partners')">
                                            <a class="player-partners-link"><img ng-src="{{player.photo.file}}" alt="" class="player-partners-photo"></a>
                                            <div class="player-partners-info">
                                                <div class="player-partners-name">{{player.lastname}}</div>
                                                <div class="player-partners-name">{{player.name}}</div>
                                                <div class="player-partners-country">{{player.citizenship.title}}</div>
                                                <div class="player-partners-country" ng-if="!player.citizenship.title">Не указано</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!--<div class="partners-block">
                                    <div class="partners-heading">{{season.title}}</div>
                                    <ul class="player-partners-list">
                                        <li class="player-partners-item">
                                            <a href="#" class="player-partners-link"><img src="{{ STATIC_URL }}images/player1.png" alt="" class="player-partners-photo"></a>
                                            <div class="player-partners-info">
                                                <div class="player-partners-name">Акинфеев</div>
                                                <div class="player-partners-name">Игорь</div>
                                                <div class="player-partners-country">Россия</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>-->

                                <div class="player-partners-popup popup">
                                    <a href="#" class="close-popup-btn">&times;</a>
                                    <div class="player-bio">
                                        <img src="{{ STATIC_URL }}images/player-avatar.jpg" alt="" class="player-photo">
                                        <div class="player-info">
                                            <div class="player-name">Акинфеев</div>
                                            <div class="player-name">Игорь</div>
                                            <div class="player-amplua">Амплуа: голкипер</div>
                                        </div>
                                    </div>
                                    <div class="player-clubs">
                                        <div class="player-club"><a href="#" class="player-club-link">Динамо (Москва)</a> 2008-2011</div>
                                        <div class="player-club"><a href="#" class="player-club-link">Спартак (Москва)</a> 2011-2013</div>
                                        <div class="player-club"><span class="player-club-now">Сейчас </span><a href="#" class="player-club-link">ЦСКА (Москва)</a></div>
                                    </div>
                                    <div class="player-details">
                                        <div class="player-details_left">
                                            <div class="player-detail">Рост: 180 см.</div>
                                            <div class="player-detail">Вес: 89 кг.</div>
                                            <div class="player-detail">Хват: правый</div>
                                        </div>
                                        <div class="player-details_right">
                                            <div class="player-detail">Дата рождения: 19 марта 1983 г.</div>
                                            <div class="player-detail">Возраст: 24 года 5 месяцев</div>
                                            <div class="player-detail">Гражданство: Россия</div>
                                        </div>
                                    </div>
                                    <div class="player-indexes">
                                        <div class="player-detail">SM-index: 2323</div>
                                        <div class="player-detail">Corsi: 9483</div>
                                    </div>
                                    <div class="align-center">
                                        <a href="#" class="player-card-btn">открыть карточку игрока</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrahead %}
<script type="text/javascript"></script>
{% endblock %}