{% load i18n %}

<div class="ui grid breadcrumb-search">
    <div class="twelve wide column">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="{% url 'i18n_index' %}">{% trans 'Hockey' %}</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="{% url 'hockeyapp:players-search' %}">{% trans 'Players' %}</a>
                <i class="right chevron icon divider"></i>
                {% if club.league %}
                    <a class="section" href="{% url 'hockeyapp:players-search' %}#?country=1&league={{ club.league.pk }}">{{ club.league.title }}</a>
                    <i class="right chevron icon divider"></i>
                {% endif %}
                <a class="section" href="{% url 'hockeyapp:club' club.pk%}">{{ club.title_verbose }}</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="{% url 'hockeyapp:player-card' pk %}">{{ name }} {{ lastname }}</a>
                <i class="right chevron icon divider"></i>
                <a class="active section">{% trans player_section %}</a>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="search-block">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="row">
        <div class="twelve wide column">
            <div id="player-card-block" class="player-card-block">
                <img id="player-card-avatar" src="{{ photo|default:'/static/images/nophoto.gif' }}" width="105" alt="" class="player-card-avatar">
                <div id="player-card-desc" class="player-card-desc">
                    <a id="player-card-name" href="{% url 'hockeyapp:player-card' pk %}" class="player-card-name">{{ fio }}</a>
                    <div id="player-card-amplua" class="player-card-amplua">
                        {% trans 'Line' %}: {{ line_display }}
                    </div>
                    <div id="player-card-amplua" class="player-card-amplua">
                        {% trans 'Team' %}: <a href="{{ club.url }}">{{ club.title_verbose }}</a>
                    </div>
                    <ul class="player-card-list">
                        <li class="player-card-item">{% trans 'Height' %}: {{ height }} см.</li>
                        <li class="player-card-item">{% trans 'Weight' %}: {{ weight }} кг.</li>
                        <li class="player-card-item">{% trans 'Grip' %}: {{ grip }}</li>
                    </ul>
                    <ul class="player-card-list player-card-list_nb">
                        <li class="player-card-item">{% trans 'Birth date' %}: {{ birth_date }}</li>
                        <li class="player-card-item">{% trans 'Age' %}: {{ age.0 }} {% trans 'years' %} {{ age.1 }} {% trans 'months' %}</li>
                        <li class="player-card-item">{% trans 'Citizenship' %}: {{ citizenship.title|default:"" }}</li>
                    </ul>
                </div>
            </div>
            <input type="hidden" id="player-id" value="{{pk}}">
            <input type="hidden" id="player-name" value="{{name}} {{lastname}}">
            <input type="hidden" id="api-players-url" value="{% url 'hockeyapp:players-search-api' %}">
            <input type="hidden" id="player-color" value="{{club.main_color}}">
        </div>
        <div class="four wide column">
            <div class="align-center">
                <a class="ui mini orange button player-like-btn">+мне нравится этот игрок</a>
                <span class="player-likers">Нравится: <a href="#" class="player-likers-link">23 участникам</a></span>
            </div>
        </div>
    </div>
</div>
