{% extends "hockeyapp/players/base.html" %}
{% load i18n %}
{% load static from base_extras %}

{% block title %}
Все игроки, хоккей - Sportomatics.ru
{% endblock %}

{% block extrahead %}
    {{ block.super }}
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic' rel='stylesheet' type='text/css'>
	 <link rel="stylesheet" href="{% static 'css/players-global.css' %}">
	 <link rel="stylesheet" href="{% static 'css/players-style.css' %}">
     <script src="{% static 'jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
     <script src="{% static 'Dimox/jQueryFormStyler/jquery.formstyler.min.js' %}"></script>
     <script src="{% static 'jScrollPane/script/jquery.jscrollpane.min.js' %}"></script>
     <script src="{% static 'jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
     <script src="{% static 'ionrangeslider/js/ion.rangeSlider.min.js' %}"></script>
     <script src="{% static 'js/players-scripts.js' %}"></script>
{% endblock %}

{% block body %}
<section class="content">
    <div class="container players-search-page">
    <div class="ui grid breadcrumb-search">
        <div class="twelve wide column">
                    <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">ХОККЕЙ</a>
                <i class="right chevron icon divider"></i>
                <a class="section">Игроки</a>
            </div>
            </div>
        </div>
        <div class="four wide column">
              <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="page-content page-container"
             ng-controller="PlayersSearchController as PlayersSearchCtrl">
            <form id="PlayersSearchForm" action="{% url 'hockeyapp:players-search-api' %}">
            <a class="hidden" id="PlayersSearchLink"
               href="{% url 'hockeyapp:players-search-api' %}"></a>
            <!-- <div class="container-top-block"> -->
            <!--     <div class="ui grid"> -->


	 <!-- <div class="wrapper"> -->
	   <!-- <div class="shadow"> -->
	   	<div class="content-wrap">
	 	   <div class="left-side">
	 		   <div class="kind-sport">
	 			  <div class="head-block"><h1>ОСНОВНЫЕ НАСТРОЙКИ</h1></div>
         <div class="ui divider"></div>
<!--  sport kind          -->
             <div class="sport-kind-block">
	 			      <label for="search-select" class="left">ВИД СПОРТА</label>
	 			      <select class="ui search selection dropdown" id="search-select" data-placeholder="Все">

                    <option selected value="" >Все</option>
                    <option value="ФУ">Футбол</option>
                    <option value="ХО">Хоккей</option>
                    <option value="БА">Баскетбол</option>
                    <option value="РЕ">Регби</option>
                    <option value="ТЕ">Теннис</option>
                    <option value="ФО">Формула-1</option>
                    <option value="БИ">Биатлон</option>

              </select>
             </div>
      	</div>
<!--  sport kind  END        --> 	 		   
         <div class="ui divider"></div>
          <div class="country-block">

	 	     	     <label>СТРАНА</label>
	 		         <select class="country" multiple>
	 			       <option>Россия</option>
	 				     <option>Германия</option>
	 				     <option>Италия</option>
	 				     <option>Франция</option>
	 				     <option>Латвия</option>
	 				     <option>Испания</option>
	 				     <option>Нидерланды</option>
	 				     <option>Бразилия</option>
               <option>Литва</option>
               <option>Россия</option>
               <option>Германия</option>
               <option>Италия</option>
               <option>Франция</option>
               <option>Латвия</option>
               <option>Испания</option>
               <option>Нидерланды</option>
               <option>Бразилия</option>
               <option>Литва</option>
                            
	 		         </select>
	 		         <div class="ui checkbox">
               <input type="checkbox">
               <label>запомнить выбор</label>
               </div>
          </div>
          <div class="lige-block">
              	<label>ЛИГА</label>
	 		          <select class="lige" multiple>		
	 				      <option>НХЛ</option>
	 				      <option>КХЛ</option>
	 				      <option>ВХЛ</option>
	 				      <option>МХЛ</option>
	 				      </select>
	 	            <div class="ui checkbox" id="checkC">
                <input type="checkbox">
                <label>запомнить выбор</label>
                </div>
	 	        </div>
	 	    <div class="ui divider"></div>   
      <!-- Range  --> 
        <div class="range-block">
             <label for="range" class="left">ВОЗРАСТ:</label> 
             <input type="text" id="range" value="" name="range" />
        </div>
        <div class="ui divider"></div>
         	   <div class="posit">
         		   <h3>АМПЛУА</h3>
         		   <div class="ui radio checkbox checked">
         			  <input type="radio" name="posit" checked="checked">
         			  <label>нападающий</label>
         		   </div>	
         		   <div class="ui radio checkbox" id="radio">
         			  <input type="radio" name="posit">
         			  <label>защитник</label>
         		   </div>	
               <div class="ui radio checkbox">
         			  <input type="radio" name="posit"> 
         			  <label>вратарь</label>
               </div>

         	</div>
         <div class="ui divider"></div>
           <div class="calendar-block">
           	<div class="ui dropdown">
              <h3>КОНТРАКТ:</h3>
           	   <p class="cal"> ДО <input type="text" id="datepicker"></p>
               <p>  
               	    <select class="kind-contract dropdown">
	 			            <option>Двусторонний</option>
	 				          <option>Двусторонний</option>
	 				          <option>Двусторонний</option>
	 				          <option>Двусторонний</option>
	 				          <option>Двусторонний</option>
	 				              
	 		               </select>
	 		          </p>

	 		       </div>
             <div class="ui checkbox">
              <input type="checkbox">
              <label>только без контракта</label>
              </div>
           </div>
         <div class="ui divider"></div>
          
          <div class="hvat ui dropdown">
          <label class="left">ХВАТ</label>
          <select class="hvat-type dropdown">
	 			  <option>Не важно</option>
	 				<option>Левый</option>
	 				<option>Правый</option>
	 				<option>Не важно</option>
	 				
	 				              
	 		    </select>
           </div>
         <div class="ui divider"></div>
           <div class="grow">
           	<p>РОСТ (см)
           	<input type="text"></p>
           </div>
         <div class="ui divider"></div>
            <div class="grow">
           	  <p>ВЕС ОТ (кг)
           	    <input type="text"></p>
           </div>
         <div class="ui divider"></div>
           <h3>ГРАЖДАНСТВО</h3>
           <div class="nation">
             <input type="text"> <br>
            <div class="ui checkbox">
                   <input type="checkbox">
                   <label>Все, кроме указанных</label>
            </div>
            </div>
          <div class="ui divider"></div>
          <div class="nation-team">
          	<h3 class="left">УЧАСТИЕ В СБОРНОЙ СТРАНЫ</h3>
             <div class="ui checkbox">

          		  <input type="checkbox">
                <label>Да</label>
              </div>
          </div>


         	</div>
	 	  <div class="right-side">
	 	  	<div class="head-block">
	 			<h1>ИНДИВИДУАЛЬНЫЕ ПОКАЗАТЕЛИ</h1>
	 			<div class="ui divider"></div>
	 			<h2>ВЫБОРКА ДАННЫХ ПО ИГРОКАМ</h2>
	 			<div class="ui divider"></div>
	 		</div>
	 	       <div class="ui checkbox">
             <input type="checkbox">
             <label><span>ПО СЕЗОНАМ</span></label> 
           </div>
             <select name=""  class="dropdown">
             <option>2000</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
             </select>
             
             до 

              <select name=""  class="dropdown">
             	<option>2000</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
	 				<option>1999</option>
             </select>

         
         <div class="ui divider"></div>
         <div class="dif">
         <div class="ui checkbox">
         	<input type="checkbox">
             <label class="left"><span>ПО КОМАНДАМ </span></label>
             
         </div>
         <input type="text">
         <div class="ui divider"></div>
          <div class="ui checkbox">
          	 <input type="checkbox">
             <label class="left"><span>ПО ЛИГАМ</span></label>
             
         </div>
         <input type="text">
         <div class="ui divider"></div>
          <div class="ui checkbox"><input type="checkbox">
             <label class="left"><span>ПО ПОХОЖЕСТИ</span></label>
             
         </div>
          <input type="text">
          </div>  
         <div class="ui divider"></div>
         <div class="rangeTwo-block">
          <label for="range">КОЛИЧЕСТВО СОВПАДЕНИЙ (%)</label> 
             <input type="text" id="rangeTwo" value="" name="range" />
          </div>
            <div class="ui divider"></div>
         <div class="grow">
           	<p>МАТЧЕЙ ДЛЯ ОЦЕНКИ НЕ МЕНЕЕ</p>
           	<input type="text">
           </div>
         <div class="ui divider"></div>
            <div class="grow">
           	  <p>ВРЕМЯ ЗА ИГРУ НЕ МЕНЕЕ</p>
           	    <input type="text">
           </div>
         </div>
       </div>
     <!-- </div> -->
	 <!-- </div> -->


            <!--     </div> -->
            <!-- </div> -->
            <div class="page-inner-container">
                 <div class="ui grid">
                    {% include "hockeyapp/players-search-table.html" %}
                </div>
            </div>
            {% include "hockeyapp/player-partners-popup.html" %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
