{% load i18n %}
<div class="player-card-block">
    {% verbatim %}
        <img ng-src="{{ player.photo }}" width="105" alt="" class="player-card-avatar">
    {% endverbatim %}
    <div class="player-card-desc">
        {% verbatim %}
            <div class="player-card-name">{{ player.fio }}</div>
        {% endverbatim %}
        <div class="player-card-amplua">{% trans 'Line' %}:
            {% verbatim %}
                {{ player.line_display }}
            {% endverbatim %}
        </div>
        <ul class="player-card-list">
            <li class="player-card-item">{% trans 'Height' %}:
                {% verbatim %}
                    {{ player.height }} см.
                {% endverbatim %}
            </li>
            <li class="player-card-item">{% trans 'Weight' %}:
                {% verbatim %}
                    {{ player.weight }} кг.
                {% endverbatim %}
            </li>
            <li class="player-card-item">{% trans 'Grip' %}:
                {% verbatim %}
                    {{ player.grip }}
                {% endverbatim %}
            </li>
        </ul>
        <ul class="player-card-list player-card-list_nb">
            <li class="player-card-item">{% trans 'Birth date' %}:
                {{ player.birth_date }}
            </li>
            <li class="player-card-item">{% trans 'Age' %}:
                {% verbatim %}
                    {{ player.age[0] }}
                {% endverbatim %}
                {% trans 'years' %}
                {% verbatim %}
                    {{ player.age[1] }}
                {% endverbatim %}
                {% trans 'months' %}
            </li>
            <li class="player-card-item">{% trans 'Citizenship' %}:
                {% verbatim %}
                    {{ player.citizenship.title }}
                {% endverbatim %}
            </li>
        </ul>
    </div>
</div>
