# Mac crap
.DS_Store

*.py[co]

#Translations
*.mo

db.sqlite3
celerybeat-schedule.db

media/
reports/

sportparser/local_settings.py
local_settings.py
node_modules
node_modules/

/static/
/docs/_build
/local_email_box
/logs
.idea/
.idea