{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{STATIC_PREFIX}}css/semantic.min.css">
        <link rel="stylesheet" href="{{STATIC_PREFIX}}css/style.css">
        <link rel="stylesheet" href="{{STATIC_PREFIX}}font-awesome-4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_PREFIX}}css/ng-tags-input.css">
        <link rel="stylesheet" href="{{STATIC_PREFIX}}css/teams/ska.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/angular.min.js"></script>
        <script src="{{ STATIC_URL }}js/angular-cookies.js"></script>
        <script src="{{ STATIC_URL }}js/angular-resource.js"></script>
        <script src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>
        <script src="{{ STATIC_URL }}js/angucomplete.js"></script>
        <script src="{{ STATIC_URL }}js/ng-tags-input.js"></script>
        {% block extrahead %}
        {% endblock %}
    </head>
    <body ng-app="{% block ngapp %}Sportomatics{% endblock %}">
    <div ui-view></div>
        {% block header %}
            {% include "partial/header.html" %}
        {% endblock %}

        {% block body %}
        <section class="content">

        </section>
        {% endblock %}

        {% include "partial/footer.html" %}

        <script src="{{ STATIC_URL }}build/app.js"></script>
        <script src="{{STATIC_PREFIX}}build/libs.min.js"></script>
        <script src="{{STATIC_PREFIX}}js/amcharts/amcharts.js"></script>
        <script src="{{STATIC_PREFIX}}js/amcharts/serial.js"></script>
    </body>
</html>
