{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}



{% block body %}
<input id="club-team-api" type="hidden" value="{% url 'hockeyapp:club-team-api' pk %}">
<a class="hidden" id="ClubTeamCompareLink" href="{% url 'hockeyapp:club-team-compare-api' pk %}"></a>
<div class="w-page__crew">

    <div class="body_inner bg-image" ng-controller="ClubTeamController as ClubTeamCtrl">
        {% block mobile_menu %}
            {% include "hockeyapp/clubs/mlpushmenu.html" with section="club" active_section="club-team" active_menu="club-team-all" %}
        {% endblock %}
        <main id="main">
            <section class="container">

                {% include "hockeyapp/clubs/clubs-header.html" with club_section="Team" %}

                {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club" %}
                <section class="w-club__logo visible-xs">
                    <div class="b-club__logo">
                        <a href="#"><img src="/static/new/images/l-hockey/logo.jpg" /></a>
                    </div>
                    <h3 class="header-text w-club__name">
                        СКА (Санкт-Петербург)
                    </h3>
                </section><!--w-club__logo-->

                <section class="w-page-tabs">
                    <div class="ui inline dropdown w-page-tabs__dropdown" tabindex="0">
                        <div class="text">Сезон 2014-15</div>
                        <i class="dropdown icon"></i>
                        <div class="menu transition hidden" tabindex="-1">
                            {% for season in seasons %}
                                <div class="item season" data-value="{{ season.pk }}" ng-click="setSeason('{{ season.pk }}')">{% trans 'Season' %} {{ season.label }}</div>
                                <input class="season-input" type="hidden" id="season_{{season.pk}}" value="{% trans 'Season' %} {{season.label}}">
                            {% endfor %}
                        </div>
                    </div>

                <!--tabs items-->
                    <div class="ui tabular w-page-tabs__tabs w-page-tabs__with-select menu hidden-xs">
                        <div class="item" ng-class="{'active': state === 'roaster'}" data-tab="tab-name" ng-click="setState('roaster')">Ростер</div>
                        <div class="item" ng-class="{'active': state === 'fio'}" data-tab="tab-name2" ng-click="setState('fio')">Все</div>
                        <div class="item" ng-class="{'active': state === 'is_joined'}" data-tab="tab-name3" ng-click="setState('is_joined')">Пришли</div>
                        <div class="item" ng-class="{'active': state === 'is_left'}" data-tab="tab-name4" ng-click="setState('is_left')">Ушли</div>
                        <div class="item" ng-class="{'active': state === 'is_legionnaire'}" data-tab="tab-name5" ng-click="setState('is_legionnaire')">Легионеры</div>
                        <div class="item" ng-class="{'active': state === 'is_home'}" data-tab="tab-name6" ng-click="setState('is_home')">Воспитанники</div>
                        <div class="item" ng-class="{'active': state === 'coaches'}" data-tab="tab-name7" ng-click="setState('coaches')">Тренеры</div>
                    </div>
                <!--tabs items ends-->
                    <div class="ui vertical tabular-xs menu visible-xs">
                        <div class="item" ng-class="{'active': state === 'roaster'}" data-tab="tab-name" ng-click="setState('roaster')">Ростер</div>
                        <div class="item" ng-class="{'active': state === 'fio'}" data-tab="tab-name2" ng-click="setState('fio')">Все</div>
                        <div class="item" ng-class="{'active': state === 'is_joined'}" data-tab="tab-name3" ng-click="setState('is_joined')">Пришли</div>
                        <div class="item" ng-class="{'active': state === 'is_left'}" data-tab="tab-name4" ng-click="setState('is_left')">Ушли</div>
                        <div class="item" ng-class="{'active': state === 'is_legionnaire'}" data-tab="tab-name5" ng-click="setState('is_legionnaire')">Легионеры</div>
                        <div class="item" ng-class="{'active': state === 'is_home'}" data-tab="tab-name6" ng-click="setState('is_home')">Воспитанники</div>
                        <div class="item" ng-class="{'active': state === 'coaches'}" data-tab="tab-name7" ng-click="setState('coaches')">Тренеры</div>
                    </div>
                <!--tabs items ends-->

                <!--tabs content-->

                    <!--tabs content items-->
                    <div class="b-tabs-content w-crew__all ui tab active">

                        <section class="w-section">

                            <div class="b-header b-header__md b-header__filter-in">
                                <div class="w-table">

                                    <h2 class="b-cell b-header__text">
                                        Состав
                                    </h2>

                                    <a class="b-cell b-change-views__item w-tooltip" data-content="По алфавиту" data-variation="basic" ng-click="setOrderBy('lastname')" ng-class="{'active': order_by.indexOf('lastname') > -1}">
                                        <i class="sort alphabet ascending icon" ng-class="{'ascending': order_by !== '-lastname', 'descending': order_by === '-lastname'}"></i>
                                    </a>

                                    <a class="b-cell b-change-views__item w-tooltip" data-content="По номерам" data-variation="basic" ng-click="setOrderBy('number')" ng-class="{'active': order_by.indexOf('number') > -1}">
                                        <i class="sort numeric ascending icon" ng-class="{'ascending': order_by !== '-number', 'descending': order_by === '-number'}"></i>
                                    </a>
                                </div><!--row-->
                            </div><!--b-header b-header__md-->

                            <section class="w-section" ng-repeat="season in seasons track by $index">
                                {% verbatim %}
                                <div class="b-header b-header__md b-header__filter-in" ng-if="$index !== 0">
                                    <div class="w-table">
                                        <h2 class="b-cell b-header__text" >
                                            {{season.title}}
                                        </h2>
                                    </div>
                                </div>
                                {% endverbatim %}

                                <div ng-if="order_by.indexOf('number') === -1 && state === 'fio'">
                                    <div class="b-row w-gallery-preview">
                                        <div class="b-header b-header__sm b-header__filter-in">
                                            <h3 class="b-cell b-header__text">
                                                Нападающие
                                            </h3>
                                        </div><!--b-header b-header__sm-->
                                        <div class="w-gallery-preview__overflow row w-gallery-preview__items w-gallery-preview__items__8">

                                            {% verbatim %}
                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="player in season.players.offender_players | orderBy: order_by " ng-class="{'b-notactive': !playerFilter(player)}">
                                                <div class="ui card">
                                                    <div class="ui ribbon green label" ng-if="player.number">{{player.number}}</div>
                                                    <div class="ui ribbon green label-flag">
                                                        <i id="player_{{player.pk}}_flag" class="flag i-top-2 {{player.citizenship.code}}"></i>
                                                    </div>
                                                    <div class="w-gallery-preview__item__img">
                                                        <a href="{{ player.url }}" class="ui image">
                                                            <img class="ui image" src="{{player.photo}}">
                                                        </a>
                                                    </div>

                                                    <div class="w-gallery-preview__item__info">
                                                        <p class="name">
                                                            <a href="{{ player.url }}">{{player.lastname}} {{player.name}}</a>
                                                        </p>
                                                    </div>
                                                </div><!--ui card-->
                                            </div><!--w-gallery-preview__item-->
                                            {% endverbatim %}

                                        </div><!--row w-gallery-preview__items w-gallery-preview__overflow-->
                                    </div><!--w-gallery-preview-->



                                    <div class="w-gallery-preview">
                                        <div class="b-header b-header__sm b-header__filter-in">
                                            <h3 class="b-cell b-header__text">
                                                Защитники
                                            </h3>
                                        </div><!--b-header b-header__sm-->
                                        <div class="w-gallery-preview__overflow row w-gallery-preview__items w-gallery-preview__items__8">
                                            {% verbatim %}
                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="player in season.players.defender_players | orderBy: order_by " ng-class="{'b-notactive': !playerFilter(player)}">
                                                <div class="ui card">
                                                    <div class="ui ribbon green label" ng-if="player.number">{{player.number}}</div>
                                                    <div class="ui ribbon green label-flag">
                                                        <i id="player_{{player.pk}}_flag" class="flag i-top-2 {{player.citizenship.code}}"></i>
                                                    </div>
                                                    <div class="w-gallery-preview__item__img">
                                                        <a href="{{ player.url }}" class="ui image">
                                                            <img class="ui image" src="{{player.photo}}">
                                                        </a>
                                                    </div>

                                                    <div class="w-gallery-preview__item__info">
                                                        <p class="name">
                                                            <a href="{{ player.url }}">{{player.lastname}} {{player.name}}</a>
                                                        </p>
                                                    </div>
                                                </div><!--ui card-->
                                            </div><!--w-gallery-preview__item-->
                                            {% endverbatim %}
                                        </div><!--row w-gallery-preview__items w-gallery-preview__overflow-->
                                    </div><!--w-gallery-preview-->



                                    <div class="w-gallery-preview">
                                        <div class="b-header b-header__sm b-header__filter-in">
                                            <h3 class="b-cell b-header__text">
                                                Вратари
                                            </h3>
                                        </div><!--b-header b-header__sm-->
                                        <div class="w-gallery-preview__overflow row w-gallery-preview__items w-gallery-preview__items__8">
                                            {% verbatim %}
                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="player in season.players.goalkeeper_players | orderBy: order_by" ng-class="{'b-notactive': !playerFilter(player)}">
                                                <div class="ui card">
                                                    <div class="ui ribbon green label" ng-if="player.number">{{player.number}}</div>
                                                    <div class="ui ribbon green label-flag">
                                                        <i id="player_{{player.pk}}_flag" class="flag i-top-2 {{player.citizenship.code}}"></i>
                                                    </div>
                                                    <div class="w-gallery-preview__item__img">
                                                        <a href="{{ player.url }}" class="ui image">
                                                            <img class="ui image" src="{{player.photo}}">
                                                        </a>
                                                    </div>

                                                    <div class="w-gallery-preview__item__info">
                                                        <p class="name">
                                                            <a href="{{ player.url }}">{{player.lastname}} {{player.name}}</a>
                                                        </p>
                                                    </div>
                                                </div><!--ui card-->
                                            </div><!--w-gallery-preview__item-->
                                            {% endverbatim %}
                                        </div><!--row w-gallery-preview__items w-gallery-preview__overflow-->
                                    </div><!--w-gallery-preview-->
                                </div>

                                <div ng-if="order_by.indexOf('number') > -1 && state === 'fio' || state === 'is_legionnaire' || state === 'is_home'">
                                    <div class="b-row w-gallery-preview">
                                        <div class="w-gallery-preview__overflow row w-gallery-preview__items w-gallery-preview__items__8">
                                            {% verbatim %}
                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="player in season.players.all_players | orderBy: order_by " ng-if="playerFilter(player)">
                                                <div class="ui card">
                                                    <div class="ui ribbon green label" ng-if="player.number">{{player.number}}</div>
                                                    <div class="ui ribbon green label-flag">
                                                        <i id="player_{{player.pk}}_flag" class="flag i-top-2 {{player.citizenship.code}}"></i>
                                                    </div>
                                                    <div class="w-gallery-preview__item__img">
                                                        <a href="{{ player.url }}" class="ui image">
                                                            <img class="ui image" src="{{player.photo}}">
                                                        </a>
                                                    </div>

                                                    <div class="w-gallery-preview__item__info">
                                                        <p class="name">
                                                            <a href="{{ player.url }}">{{player.lastname}} {{player.name}}</a>
                                                        </p>
                                                        <p class="line-display">
                                                            {{player.line_display}}
                                                        </p>
                                                    </div>
                                                </div><!--ui card-->
                                            </div><!--w-gallery-preview__item-->
                                            {% endverbatim %}
                                        </div><!--row w-gallery-preview__items w-gallery-preview__overflow-->
                                    </div><!--w-gallery-preview-->
                                </div>

                                <div ng-if="state === 'is_joined' || state === 'is_left'">
                                    <div class="b-row w-gallery-preview">
                                        <div class="w-gallery-preview__overflow row w-gallery-preview__items w-gallery-preview__items__8">
                                            {% verbatim %}
                                            <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="player in season.players.all_players | orderBy: order_by " ng-if="playerFilter(player)">
                                                <div class="ui card">
                                                    <div class="ui ribbon green label" ng-if="player.number">{{player.number}}</div>
                                                    <div class="ui ribbon green label-flag">
                                                        <i id="player_{{player.pk}}_flag" class="flag i-top-2 {{player.citizenship.code}}"></i>
                                                    </div>
                                                    <div class="w-gallery-preview__item__img">
                                                        <a href="{{ player.url }}" class="ui image">
                                                            <img class="ui image" src="{{player.photo}}">
                                                        </a>
                                                    </div>

                                                    <div class="w-gallery-preview__item__info">
                                                        <p class="name">
                                                            <a href="{{ player.url }}">{{player.lastname}} {{player.name}}</a>
                                                        </p>
                                                        <p class="line-display">
                                                            {{player.line_display}}
                                                        </p>
                                                        <div class="ui feed">
                                                            <div class="event">
                                                                <div class="label">
                                                                    <figure>
                                                                        <img src="images/l-hockey/logo-1.jpg">
                                                                    </figure>
                                                                </div>
                                                                <div class="content text-small">
                                                                    <span ng-if="state === 'is_joined'">перешел из</span>
                                                                    <span ng-if="state === 'is_left'">сейчас в</span>
                                                                    <div class="summary">
                                                                        Адмирал
                                                                    </div>
                                                                    <p class="">
                                                                        Московская область
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--ui card-->
                                            </div><!--w-gallery-preview__item-->
                                            {% endverbatim %}
                                        </div><!--row w-gallery-preview__items w-gallery-preview__overflow-->
                                    </div><!--w-gallery-preview-->
                                </div>
                            </section>

                            <div class="ui large centered inline text loader" style="background: none !important; height: 480px;" ng-class="{'active': !loaded}">
                                Загрузка...
                            </div>

                            <!--<section class="b-paging__styled">
                                <div class="ui left labeled tiny icon button">
                                    <i class="left arrow icon"></i>
                                    сезон 12/13
                                </div>
                                <div class="ui right labeled tiny icon button">
                                    <i class="right arrow icon"></i>
                                    сезон 14/15
                                </div>
                            </section>-->
                        </section><!--w-section-->
                    </div>
                    <!--tabs content items-->

                <!--tabs content end-->

                </section><!--w-page-tabs-->

            </section><!--container-->

            {% include 'hockeyapp/clubs/team/sticky_menu.html' with clubs_menu_active='club' %}

        </main>
        <footer id="footer">

        </footer>
    </div>


</div>
{% endblock %}



{% comment %}
{% block extrahead %}
{% if object.rgb %}
<style>
    .clubs-page .ui.tabular.menu .item {
    color: {{object.rgb}} !important; /* текст табов secondary */
    }
    .clubs-team-page .team-player-number{
    background: {{object.rgb}} !important; /* номер игрока secondary */
    }
    .clubs-page .heading{
    color: {{object.rgb}} !important; /* заголовок сезонов secondary */
    }
    .clubs-page .team-info .info-item .icon{
    color: {{object.rgb}} !important; /* иконки над меню primary */
    }
    .clubs-page .page-menu.ui.green.menu {
    background: {{object.rgb}} !important; /* цвет меню primary */
    }
    .clubs-page .ui-tabs-nav .ui-state-active {
        color: #000000 !important;
    }
    .clubs-page .ui.tabular.menu .ui-tabs-active .item{
        color: #000000 !important;
    }
    .team-player-name{
    color: {{object.rgb}} !important;
    }
    .head-player-block {
    border-bottom: 2px solid {{object.rgb}} !important;
    color: {{object.rgb}} !important;
    }
    .ribbon{
    background-color: {{object.rgb}} !important;
    border-color: {{object.rgb}} !important;
    }
</style>
{% endif %}
{% endblock %}

{% block title %}
{{title}}: состав команды, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-team-page">
        <!-- {% trans "Team" %} -->
        {% include "hockeyapp/clubs/clubs-header.html" with club_section="Team" %}

        <div class="page-content page-container">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club" %}
            <div class="page-inner-container">
                <div class="clubs-team-tabs"
                     ng-controller="ClubTeamController as ClubTeamCtrl">
                    <form id="ClubTeamForm" action="{% url 'hockeyapp:club-team-api' pk %}">
                        <div class="ui grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui tabular menu content-tabs">
                                        <span class="heading">Состав команды на</span>
                                        <div class="ui selection dropdown">
                                            <input state="hidden" name="season" value="{{ default_season.pk }}"
                                                   ng-model="ClubTeamCtrl.season"
                                                   onchange="angular.element(this).scope().setSeason(this)">
                                            <div class="default text">{{ default_season.label }}</div>
                                            <i class="dropdown icon"></i>
                                            <div class="menu">
                                                {% for season in seasons %}
                                                <div class="item" data-value="{{ season.pk }}">{{ season.label }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <a ng-click="setState('fio')" href="#team-all" class="item tab-btn" data-tab="team-all" ng-click="unMakeTransferArrows()">
                                                    {% trans 'Roster' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="setState('fio')" href="#team-all" class="item tab-btn" data-tab="team-all" ng-click="unMakeTransferArrows()">
                                                    {% trans 'All' %}
                                                </a>
                                            </li>
                                            <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                                   ng-click="setState('is_joined')">Пришли</a></li>
                                            <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                                   ng-click="setState('is_left')">Ушли</a></li>
                                            <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                                   ng-click="setState('is_legionnaire')">Легионеры</a></li>
                                            <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                                   ng-click="setState('is_home')">Свои</a></li>
                                            <li>
                                                <a href="#team-all" class="item tab-btn" data-tab="team-all" ng-click="notPlayingNow()">
                                                    {% trans 'Not playing now' %}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-photo-wrap">
                                <div id="sel" class="ui small buttons">
                                    <div class="ui button active-photo-table" ng-click="setState('photos')">фото</div>
                                    <div class="or"></div>
                                    <div class="ui button" ng-click="setState('table')">таблица</div>
                                </div>
                            </div>
                            <div class="row clubs-team-inner-tabs" id="team-all" data-tab="team-all">

                                <div class="row " id="team-photos" ng-show="state === 'photos'">
                                    {% verbatim %}

                                    <div class="clubs-team-wrap">

                                        <div class="player-block-wrap">
                                            <ul class="players-list">
                                                <li class="player-item" ng-repeat="player in season.players.all_players | filter : playerFilter" id="player_{{player.pk}}" ng-click="go('/ru/hockey/players/'+player.pk)">
                                                    <a class="player-link"><img src="{{ player.photo }}" alt="No photo"  onError="this.onerror=null;this.src='/static/images/no-photo.png';" class="player-photo">
                                                    </a>
                                                    <div class="player-number ui teal ribbon label">{{player.number}}</div>
                                                    <div class="player-club-info">
                                                        <div class="player-club-name">{{player.lastname}}</div>
                                                        <div class="player-club-name">{{player.name}}</div>
                                                        <div class="player-club-country">{{player.line_display}}</div>
                                                        <i class="flag" ng-class="player.citizenship.code"></i>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    {% endverbatim %}

                                    <div style="text-align: center">
                                        <img src="{{ STATIC_URL }}images/loader-large.gif"
                                             ng-show="ClubTeamCtrl.season.players.loader">
                                    </div>

                                    <a class="hidden" id="ClubTeamCompareLink" href="{% url 'hockeyapp:club-team-compare-api' pk %}"></a>

                                    <div class="season-tabs season-last-tabs" ng-repeat="clubs in ClubTeamCtrl.clubs.clubs">

                                        <div class="ui tabular menu content-tabs">
                                            <span class="heading" ng-bind="clubs.data.season.label"></span>
                                            <!--<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                <li class="ui-state-default ui-corner-top"
                                                    ng-class="{ 'ui-tabs-active ui-state-active':clubs.league === league }"
                                                    ng-repeat="league in clubs.data.leagues">
                                                    <a href="" class="item tab-btn ui-tabs-anchor" data-tab="league"
                                                       ng-click="clubs.league = league; clubs.table.club = league.clubs">
                                                        {% verbatim %}
                                                        {{ league.title }}: {{ league.players_count }}
                                                        {% endverbatim %}
                                                        {% trans 'players' %}
                                                    </a>
                                                </li>
                                            </ul>-->
                                        </div>

                                        <table class="clubs-team-logos-table" id="leagues-all">
                                            <tbody>
                                            {% verbatim %}
                                            <tr ng-repeat="clubRow in clubs.clubRows">
                                                <td ng-repeat="club in clubRow" id="club_{{ club.pk }}">
                                                    <a class="team-player-photo-link"
                                                       href="{{ club.url }}">
                                                        <img alt="" class="clubs-team-logo"
                                                             ng-src="{{ club.logo || '/static/images/avatar-sample.png' }}">
                                                                <span class="team-player-name">
                                                                    {{ club.title_verbose }}
                                                                </span>
                                                        <span class="team-player-name"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endverbatim %}
                                            </tbody>
                                        </table>

                                    </div>

                                    <div style="text-align: center">
                                        <img src="{{ STATIC_URL }}images/loader-large.gif"
                                             ng-show="ClubTeamCtrl.clubs.loader">
                                    </div>

                                    <div class="align-center">
                                        <a href="" class="more-seasons-btn"
                                           ng-click="ClubTeamCtrl.compare()"
                                           ng-show="ClubTeamCtrl.clubs.getLastClub().data.prev_season">Показать еще сезон</a>
                                    </div>

                                </div>

                                <div class="row" id="team-tables"  ng-show="state === 'table'">
                                    <input state="hidden" value="">
                                    <div class="heading">Сезон 2013-2014</div>

                                    <table class="ui celled table segment clubs-team-table">
                                        <thead>
                                        <tr>
                                            <th width="75">Номер</th>
                                            <th width="136">Амплуа</th>
                                            <th width="250">Имя Фамилия</th>
                                            <th width="95" class="small-cell">Дата рождения</th>
                                            <th width="115">Гражданство</th>
                                            <th width="110">Контракт до</th>
                                            <th width="75">SM-index</th>
                                            <th>CORSI</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="player in ClubTeamCtrl.season.players.data.all_players">
                                            {% verbatim %}
                                            <td align="center">{{ player.number }}</td>
                                            <td>{{ player.line_display }}</td>
                                            <td>
                                                <a href="{{ player.url }}" class="player-popup-btn">
                                                    {{ player.name }} {{ player.lastname }}
                                                </a>
                                            </td>
                                            <td align="center">{{ player.birth_date_short }}</td>
                                            <td>{{ player.citizenship && player.citizenship.title }}</td>
                                            <td align="center">{{ player.contract_to }}</td>
                                            <td align="center">256789</td>
                                            <td align="center">12345</td>
                                            {% endverbatim %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">География клуба</span>
                            </div>
                        </div>
                    </div>
                    <div id="clubs-map-container">
                        <div id="clubs-map">
                        </div>
                    </div>

                    <!--<div class="align-center"
                         ng-show="ClubTeamCtrl.season.players.data.prev_season">
                        <a href="#" class="more-seasons-btn">Показать еще сезон</a>
                    </div>-->
                </div>

            </div>
        </div>
        <!--end-->
    </div>
    <ul class="team-controls player-controls-block">
        <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
        <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
        <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
    </ul>
    </div>
    {% include 'hockeyapp/player-partners-popup.html' %}


    </div>
    </div>
    </div>
</section>
{% endblock %}
{% endcomment %}


