{% extends "base.html" %}

{% block extrahead %}
    <link href="/static/css-styled/semantic.min.css" rel="stylesheet">
    <link href="/static/css-styled/grid.css" rel="stylesheet">
    <link href="/static/css-styled/style.css" media="all" type="text/css" rel="stylesheet">
    <script src="/static/new/assets/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/static/new/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/new/dist/semantic.min.js"></script>
    <!--push mobile menu-->
    <script src="/static/new/assets/js/classie.js"></script>
    <script src="/static/new/assets/js/mlpushmenu.js"></script>
    <!---->
    <script type="text/javascript" src="/static/new/assets/js/scripts.js"></script>
{% endblock %}

{% block header %}
    {% include "partial/header.html" with user_card_menu_active="clubs" %}
{% endblock %}
