{% extends "base.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
    </style>
    {% if object.rgb %}
    <style>
        .clubs-page .ui.red.button, .clubs-page .ui.red.buttons .button {
            background-color: {{object.rgb}} !important; /* номер игрока secondary */
            color: #ffffff; /* подходящий цвет для текста на кнопке */
        }
        .clubs-page .ui.tabular.menu .item {
            color: {{object.rgb}} !important; /* текст табов secondary */
        }
        .clubs-team-page .team-player-number{
            background: {{object.rgb}} !important; /* номер игрока secondary */
        }
        .clubs-page .heading{
            color: {{object.rgb}} !important; /* заголовок сезонов secondary */
        }
        .clubs-page .team-info .info-item .icon{
            color: rgba(0,0,0, 1) !important; /* иконки над меню primary */
        }
        .clubs-page .page-menu.ui.green.menu {
            background: rgba(0,0,0, 1) !important; /* цвет меню primary */
        }
        .clubs-page .ui-tabs-nav .ui-state-active {
            color: #000000 !important;
        }
        .clubs-page .ui.tabular.menu .ui-tabs-active .item{
            color: #000000 !important;
        }
    </style>
    {% endif %}
{% endblock %}


{% block header %}
    {% include "partial/header.html" with user_card_menu_active="clubs" %}
{% endblock %}
