{% extends "hockeyapp/clubs/base.html" %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-stats-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">Хоккей</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Клубы</a>
                <div class="divider"> / </div>
                <a class="active section">Командная статистика</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/clubs/team-info.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club-stats" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">Командная статистика</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <a href="#" class="option-btn option-btn_active">сейчас играют</a>
                            <a href="#" class="option-btn">все</a>
                            <ul class="options-list clubs-stats-menu-list">
                                <li class="option-item">
                                    <a href="#" class="option-link option-link_active">Сезоны</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Матчи</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Голы</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Передачи</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Очки</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Плюс/минус</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Среднее количество голов за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Среднее количество передач за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Среднее количество очков за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Средний показатель "Плюс/минус" за игру</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Матчи (вратари)</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Средний коэффициент надежности (вратари)</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">Победы (вратари)</a>
                                </li>
                                <li class="option-item">
                                    <a href="#" class="option-link">"Сухие" матчи (вратари)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="eleven wide column">
                            <table class="ui celled table segment clubs-stats-table">
                                <thead>
                                    <tr>
                                        <th width="35"></th>
                                        <th width="170">Имя</th>
                                        <th width="78" class="small-cell">Количество сезонов</th>
                                        <th width="60">SMI</th>
                                        <th width="60">CORSI</th>
                                        <th>Сейчас играет за...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in all_players %}
                                    <tr>
                                        <td align="center">{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'hockeyapp:player-card' player.pk %}">{{ player.fio }}</a>
                                        </td>
                                        <td align="center">3</td>
                                        <td align="center">225</td>
                                        <td align="center">125</td>
                                        <td>
                                            <a href="{% if player.club %}{% url 'hockeyapp:club' player.club.pk %}{% endif %}">
                                                {{ player.club.title }}
                                                {% if player.club.address.title %}
                                                    ({{ player.club.address.title }})
                                                {% endif %}
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="align-center">
                                <a href="#" class="show-other-season-btn">показать еще сезон</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr">
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
