{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}

{% block extrahead %}
    <script src="{{ STATIC_URL }}hockey/js/clubs-team.js"></script>
{% endblock %}

{% block ngapp %}SportomaticsClubsTeam{% endblock %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-team-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">Хоккей</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Клубы</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club' pk %}">{{ title }}</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/clubs/team-info.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club" %}
            <div class="page-inner-container">
                <div class="clubs-team-tabs"
                     ng-controller="ClubTeamController as ClubTeamCtrl">
                    <form id="ClubTeamForm" action="{% url 'hockeyapp:club-team-api' pk %}">
                    <div class="ui grid">
                        <div class="row">
                            <div class="column">
                                <div class="ui tabular menu content-tabs">
                                    <span class="heading">Состав команды на</span>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="season" value="{{ default_season.pk }}"
                                               ng-model="ClubTeamCtrl.season"
                                               onchange="angular.element(this).scope().setSeason(this)">
                                        <div class="default text">{{ default_season.label }}</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {% for season in seasons %}
                                                <div class="item" data-value="{{ season.pk }}">{{ season.label }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.players.status = 'all'">Все</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.players.status = 'joined'">Пришли в этом сезоне</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.players.status = 'left'">Ушли в этом сезоне</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.players.status = 'legionnaire'">Легионеры</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="team-all" data-tab="team-all">
                            <div class="column">
                                <div class="team-view-type-tabs">
                                    <ul class="team-view-list">
                                        <li class="team-view-item">
                                            <a class="item tab-btn team-view-link" href="#team-photos" data-tab="team-photos">фотографии</a>
                                        </li>
                                        <li class="team-view-item">
                                            <a class="item tab-btn team-view-link" href="#team-tables" data-tab="team-tables">таблица</a>
                                        </li>
                                    </ul>

                                    <div id="team-photos" data-tab="team-photos">
                                        <table class="clubs-team-photos-table"
                                               ng-show="ClubTeamCtrl.players.data">
                                            <thead>
                                                <tr>
                                                    <th class="cell-defender" colspan="7">защитники</th>
                                                    <th class="cell-forward" colspan="3">нападающие</th>
                                                    <th class="cell-goalkeeper"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% verbatim %}
                                                    <tr ng-repeat="row in ClubTeamCtrl.PLAYERS_TABLE">
                                                        <td ng-repeat="cell_id in row"
                                                            class="cell-{{ cell_id[0] }}">
                                                            <a class="team-player-photo-link"
                                                               href=""
                                                               onclick="angular.element(this).scope().showPopup(this, event);"
                                                               ng-show="ClubTeamCtrl.isPersonVisible(ClubTeamCtrl.players, cell_id)">
                                                                <span class="team-player-number"
                                                                      ng-show="ClubTeamCtrl.getCell(ClubTeamCtrl.players, cell_id).number">
                                                                    {{ ClubTeamCtrl.getCell(ClubTeamCtrl.players, cell_id).number }}
                                                                </span>
                                                                <img alt="" class="team-player-photo"
                                                                     ng-src="{{ ClubTeamCtrl.getCell(ClubTeamCtrl.players, cell_id).photo || '/static/images/nophoto.gif' }}">
                                                                <span class="team-player-name">
                                                                    {{ ClubTeamCtrl.getCell(ClubTeamCtrl.players, cell_id).fio }}</span>
                                                                <span class="team-player-name"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endverbatim %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="cell-defender" colspan="3"></td>
                                                    <td class="cell-trainer" colspan="7">тренера</td>
                                                    <td class="cell-goalkeeper">вратари</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div style="text-align: center">
                                            <img src="{{ STATIC_URL }}images/loader-large.gif"
                                                 ng-show="ClubTeamCtrl.players.loader">
                                        </div>

                                        <a class="hidden" id="ClubTeamCompareLink" href="{% url 'hockeyapp:club-team-compare-api' pk %}"></a>
                                        <div class="season-tabs season-last-tabs"
                                             ng-repeat="clubs in ClubTeamCtrl.clubs.clubs">
                                            <div class="ui tabular menu content-tabs">
                                                {% verbatim %}
                                                    <span class="heading">{{ clubs.data.season.label }}</span>
                                                {% endverbatim %}
                                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                    <li class="ui-state-default ui-corner-top"
                                                        ng-class="{ 'ui-tabs-active ui-state-active':clubs.league === league }"
                                                        ng-repeat="league in clubs.data.leagues">
                                                        <a href="" class="item tab-btn ui-tabs-anchor" data-tab="league"
                                                           ng-click="clubs.league = league; clubs.table.club = league.clubs">
                                                            {% verbatim %}
                                                                {{ league.title }}: {{ league.players_count }}
                                                            {% endverbatim %}
                                                            {% trans 'players' %}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <table class="clubs-team-logos-table" id="leagues-all" data-tab="leagues-all">
                                                <tbody>
                                                {% verbatim %}
                                                    <tr ng-repeat="row in ClubTeamCtrl.CLUBS_TABLE">
                                                        <td ng-repeat="cell_id in row"
                                                            class="cell-{{ cell_id[0] }}">
                                                            <a class="team-player-photo-link"
                                                               href="{{ ClubTeamCtrl.getCell(clubs, cell_id).url }}"
                                                               ng-show="ClubTeamCtrl.getCell(clubs, cell_id)">
                                                                <img alt="" class="team-player-photo"
                                                                     ng-src="{{ ClubTeamCtrl.getCell(clubs, cell_id).logo || '/static/images/avatar-sample.png' }}">
                                                                <span class="team-player-name">
                                                                    {{ ClubTeamCtrl.getCell(clubs, cell_id).title_verbose }}
                                                                </span>
                                                                <span class="team-player-name"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endverbatim %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="text-align: center">
                                            <img src="{{ STATIC_URL }}images/loader-large.gif"
                                                 ng-show="ClubTeamCtrl.clubs.loader">
                                        </div>

                                        <div class="align-center">
                                            <a href="" class="more-seasons-btn"
                                               ng-click="ClubTeamCtrl.compare()"
                                               ng-show="ClubTeamCtrl.clubs.getLastClub().data.prev_season">Показать еще сезон</a>
                                        </div>
                                    </div>

                                    <div id="team-tables" data-tab="team-tables">
                                        <input type="hidden" name="seasonz" value="">
                                        <div class="heading">Сезон 2013-2014</div>
                                        <table class="ui celled table segment clubs-team-table">
                                            <thead>
                                                <tr>
                                                    <th width="75">Номер</th>
                                                    <th width="136">Амплуа</th>
                                                    <th width="250">Имя Фамилия</th>
                                                    <th width="95" class="small-cell">Дата рождения</th>
                                                    <th width="115">Гражданство</th>
                                                    <th width="110">Контракт до</th>
                                                    <th width="75">SM-index</th>
                                                    <th>CORSI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="player in ClubTeamCtrl.players.data.all_players">
                                                    {% verbatim %}
                                                        <td align="center">{{ player.number }}</td>
                                                        <td>{{ player.line_display }}</td>
                                                        <td>
                                                            <a href="{{ player.url }}" class="player-popup-btn">
                                                                {{ player.name }} {{ player.lastname }}
                                                            </a>
                                                        </td>
                                                        <td align="center">{{ player.birth_date_short }}</td>
                                                        <td>{{ player.citizenship && player.citizenship.title }}</td>
                                                        <td align="center">{{ player.contract_to }}</td>
                                                        <td align="center">256789</td>
                                                        <td align="center">12345</td>
                                                    {% endverbatim %}
                                                </tr>
                                            </tbody>
                                        </table>
                                        </form>

                                        <div class="align-center"
                                             ng-show="ClubTeamCtrl.players.data.prev_season">
                                            <a href="#" class="more-seasons-btn">Показать еще сезон</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="player-partners-popup popup"
                         onclick="$(this).hide(300)">
                        <a href="{% url 'hockeyapp:player-card-api' 0 %}" class="hidden" id="PlayerCardLink">×</a>
                        <a href="#" class="close-popup-btn">×</a>
                        <div class="player-bio" ng-show="ClubTeamCtrl.popup">
                            {% verbatim %}
                                <img alt="" class="player-photo"
                                     ng-src="{{ ClubTeamCtrl.popup.photo || '/static/images/nophoto.gif' }}">
                            {% endverbatim %}
                            <div class="player-info">
                                {% verbatim %}
                                    <div class="player-name">{{ ClubTeamCtrl.popup.fio }}</div>
                                {% endverbatim %}
                                <div class="player-amplua">{% trans 'Line' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.line_display }}
                                    {% endverbatim %}
                                </div>
                            </div>
                        </div>
                        <div class="player-clubs" ng-show="ClubTeamCtrl.popup.clubplayers.length">
                            <div class="player-club"
                                 ng-repeat="clubplayer in ClubTeamCtrl.popup.clubplayers">
                                {% verbatim %}
                                    <span class="player-club-now"
                                          ng-show="$index === 0">Сейчас</span>
                                    <a href="{{ clubplayer.club_url }}" class="player-club-link">
                                        {{ clubplayer.club.title_verbose }}
                                    </a>
                                {% endverbatim %}
                            </div>
                        </div>
                        <div class="player-details" ng-show="ClubTeamCtrl.popup">
                            <div class="player-details_left">
                                <div class="player-detail">{% trans 'Height' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.height }} см.
                                    {% endverbatim %}
                                </div>
                                <div class="player-detail">{% trans 'Weight' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.weight }} кг.
                                    {% endverbatim %}
                                </div>
                                <div class="player-detail">{% trans 'Grip' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.grip }}
                                    {% endverbatim %}
                                </div>
                            </div>
                            <div class="player-details_right">
                                <div class="player-detail">{% trans 'Birth date' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.birth_date }}
                                    {% endverbatim %}
                                </div>
                                <div class="player-detail">{% trans 'Age' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.age[0] }}
                                    {% endverbatim %}
                                    года
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.age[1] }}
                                    {% endverbatim %}
                                    месяцев
                                </div>
                                <div class="player-detail">{% trans 'Citizenship' %}:
                                    {% verbatim %}
                                        {{ ClubTeamCtrl.popup.citizenship.title }}
                                    {% endverbatim %}
                                </div>
                            </div>
                        </div>
                        <div class="player-indexes" ng-show="ClubTeamCtrl.popup">
                            <div class="player-detail">SM-index: 2323</div>
                            <div class="player-detail">Corsi: 9483</div>
                        </div>
                        <div class="align-center" ng-show="ClubTeamCtrl.popup">
                            {% verbatim %}
                                <a href="{{ ClubTeamCtrl.popup.url }}" class="player-card-btn">
                                    открыть карточку игрока
                                </a>
                            {% endverbatim %}
                        </div>
                        <div style="text-align: center" ng-hide="ClubTeamCtrl.popup">
                            <img src="{{ STATIC_URL }}images/loader-large.gif">
                        </div>
                    </div>
                    </form>
                </div>
                <hr class="hr">
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
