{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}

{% block body %}
<section class="content">
    <div class="container clubs-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Все клубы</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content page-container"
             ng-controller="ClubListController as ClubListCtrl">
            <div class="page-inner-container">
                <form id="ClubListForm" action="{% url 'hockeyapp:club-list-api' %}">
                <div class="clubs-tabs">
                    <a id="LeagueListLink" class="hidden" href="{% url 'hockeyapp:league-list-api' %}"></a>
                    <div class="ui grid">
                        <div class="row">
                            <div class="column">
                                <div class="ui tabular menu content-tabs">
                                    <span class="heading">Все клубы </span>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="season" value="[{{ seasons.0.0 }},{{ seasons.0.1 }}]"
                                               onchange="angular.element(this).scope().setSeason(this)">
                                        <div class="default text">{% trans 'SEASON' %} {{ seasons.0.0 }}-{{ seasons.0.1 }}</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {% for season in seasons %}
                                                <div class="item" data-value="[{{ season.0 }},{{ season.1 }}]">
                                                    {% trans 'SEASON' %} {{ season.0 }}-{{ season.1 }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                        <li class="ui-state-default ui-corner-top"
                                            ng-class="{ 'ui-tabs-active ui-state-active':ClubListCtrl.leagues_selected === null }">
                                            <a class="item tab-btn ui-tabs-anchor" href=""
                                               ng-click="ClubListCtrl.setLeague(null)">
                                                {% trans 'ALL' %}
                                            </a>
                                        </li>
                                        {% verbatim %}
                                            <li class="ui-state-default ui-corner-top"
                                                ng-class="{ 'ui-tabs-active ui-state-active':ClubListCtrl.leagues_selected === league.pk }"
                                                ng-repeat="league in ClubListCtrl.getLeagues(ClubListCtrl.countries, [ClubListCtrl.countries_selected])">
                                                <a class="item tab-btn ui-tabs-anchor" href=""
                                                   ng-click="ClubListCtrl.setLeague(league.pk)">
                                                    {{ league.title }}
                                                </a>
                                            </li>
                                        {% endverbatim %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                {% verbatim %}
                                    <ul class="options-list clubs-countries-menu-list">
                                        <li class="option-item" ng-repeat="country in ClubListCtrl.countries">
                                            <a class="option-link"
                                               ng-class="{ 'option-link_active':ClubListCtrl.countries_selected[0] == country.pk }"
                                               ng-click="ClubListCtrl.setCountry(country.pk)">
                                                {{ country.title }}
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="show-clubs-countries-menu-btn">полный список <i class="triangle down icon"></i></a>
                                {% endverbatim %}
                            </div>
                            <div class="twelve wide column">
                                <table class="ui celled table segment clubs-table">
                                    <thead>
                                        <tr>
                                            <th width="160" ng-class="{ 'column-sort':ClubListCtrl.order_by == '%s_title' }">
                                                <a href="" ng-click="ClubListCtrl.list('%s_title')">Название</a>
                                            </th>
                                            <th width="130" ng-class="{ 'column-sort':ClubListCtrl.order_by == 'address__%s_title' }">
                                                <a href="" ng-click="ClubListCtrl.list('address__%s_title')">Город</a>
                                            </th>
                                            <th width="80" ng-class="{ 'column-sort':ClubListCtrl.order_by == '%s_title__' }"> {# not implemented #}
                                                <a href="" ng-click="ClubListCtrl.list('%s_title')">Место в чемпионате</a>
                                            </th>
                                            <th width="165" ng-class="{ 'column-sort':ClubListCtrl.order_by == 'arena__%s_title' }">
                                                <a href="" ng-click="ClubListCtrl.list('arena__%s_title')">Домашняя площадка</a>
                                            </th>
                                            <th ng-class="{ 'column-sort':ClubListCtrl.order_by == 'coach__%s_fio' }">
                                                <a href="" ng-click="ClubListCtrl.list('coach__%s_fio')">Главный тренер</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% verbatim %}
                                        <tr ng-repeat="club in ClubListCtrl.data.results">
                                            <td>
                                                <a class="clubs-link" href="{{ club.url }}">
                                                    <img ng-src="{{ club.logo }}" alt="" class="club-logo">
                                                    <span>{{ club.title }}</span>
                                                </a>
                                            </td>
                                            <td>{{ club.address.title }}</td>
                                            <td align="center">5</td>
                                            <td><a href="{{ club.arena.url }}">{{ club.arena.title }}</a></td>
                                            <td><a href="#">{{ club.coach.fio }}</a></td>
                                        </tr>
                                        {% endverbatim %}
                                    </tbody>
                                </table>
                                <div style="text-align: center">
                                    <img src="{{ STATIC_URL }}images/loader-large.gif"
                                         ng-show="ClubListCtrl.loader">
                                    <a class="option-btn" href=""
                                       ng-click="ClubListCtrl.next()"
                                       ng-show="!ClubListCtrl.loader && ClubListCtrl.data.next">
                                        показать еще 50</a>
                                    {% verbatim %}
                                    <a class="option-btn" href=""
                                       ng-click="ClubListCtrl.next(true)"
                                       ng-show="!ClubListCtrl.loader && ClubListCtrl.data.next">
                                        показать все {{ ClubListCtrl.data.count }}</a>
                                    {% endverbatim %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <hr class="hr">
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
