<div class="calendar-event-popup">
    <div class="calendar-popup-title">Выездной матч</div>
    <hr class="hr">
    <div class="team-logo">
        <img src="{{ STATIC_URL }}images/ska-logo.png" alt="" class="team-logo-image">
    </div>
    <div class="align-center">
        <a href="#" class="team-link">Нефтехимик (Уфа)</a>
    </div>
    <div class="event-details">
        <p>Начало: 21:00 МСК</p>
        <p><a href="#">Прошлые встречи</a>: 23, счет 32:4 В 21, П 2</p>
        <p><a href="#">Превью матча</a></p>
    </div>
    <div class="ui checkbox">
        <input id="i_go" type="checkbox">
        <label for="i_go">я пойду (идут 2031)</label>
    </div>
    <div class="ui checkbox">
        <input id="get_news" type="checkbox">
        <label for="get_news">получать новости</label>
    </div>
    <hr class="hr">
    <div class="heading">УФА</div>
    <div class="team-cities">
        <div class="city">
            <div class="city-photos">
                <img src="{{ STATIC_URL }}images/stadium.jpg" alt="" class="city-photo">
            </div>
            <div class="city-desc">
                <p><span class="lang-icon"></span> РОССИЯ, Уфа</p>
                <p>Название: «Уфа-Арена» / «Ufa-Arena»</p> 
                <p>Адрес: Уфа, ул.Ленина, 114</p>
                <p>Телефон: 275-14-00</p>
                <p>Открыт: 27 августа 2007г.</p>
                <p>Вместимость: 2970 человек</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="align-center">
        <a href="#" class="how-to-reach">Как добраться</a>
    </div>
</div>
