{% extends "hockeyapp/clubs/base.html" %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-team-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">Хоккей</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Клубы</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club' pk %}">{{ title }}</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/clubs/team-info.html" %}

        <div class="page-content page-container">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club" %}
            <div class="page-inner-container">
                <div class="clubs-team-tabs"
                     ng-controller="ClubTeamController as ClubTeamCtrl">
                    <form id="ClubTeamForm" action="{% url 'hockeyapp:club-team-api' pk %}">
                    <div class="ui grid">
                        <div class="row">
                            <div class="column">
                                <div class="ui tabular menu content-tabs">
                                    <span class="heading">Состав команды на</span>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="season" value="{{ seasons.0.pk }}"
                                               ng-model="ClubTeamCtrl.season"
                                               onchange="angular.element(this).scope().setSeason(this)">
                                        <div class="default text">{{ seasons.0.label }}</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            {% for season in seasons %}
                                                <div class="item" data-value="{{ season.pk }}">{{ season.label }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <ul>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.status = 'all'">Все</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.status = 'joined'">Пришли в этом сезоне</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.status = 'left'">Ушли в этом сезоне</a></li>
                                        <li><a href="#team-all" class="item tab-btn" data-tab="team-all"
                                               ng-click="ClubTeamCtrl.status = 'legionnaire'">Легионеры</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="team-all" data-tab="team-all">
                            <div class="column">
                                <div class="team-view-type-tabs">
                                    <ul class="team-view-list">
                                        <li class="team-view-item">
                                            <a class="item tab-btn team-view-link" href="#team-photos" data-tab="team-photos">фотографии</a>
                                        </li>
                                        <li class="team-view-item">
                                            <a class="item tab-btn team-view-link" href="#team-tables" data-tab="team-tables">таблица</a>
                                        </li>
                                    </ul>

                                    <div id="team-photos" data-tab="team-photos">
                                        <table class="clubs-team-photos-table"
                                               ng-show="ClubTeamCtrl.current_season.data">
                                            <thead>
                                                <tr>
                                                    <th class="cell-defender" colspan="7">защитники</th>
                                                    <th class="cell-forward" colspan="3">нападающие</th>
                                                    <th class="cell-goalkeeper"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% verbatim %}
                                                    <tr ng-repeat="row in ClubTeamCtrl.TABLE_INDEX">
                                                        <td ng-repeat="cell in row"
                                                            class="cell-{{ cell[0] }}">
                                                            <a class="team-player-photo-link"
                                                               href="{{ ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell).url }}"
                                                               ng-show="cell[0] && ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell) && ClubTeamCtrl.isVisible(ClubTeamCtrl.current_season, cell)">
                                                                <span class="team-player-number"
                                                                      ng-show="ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell).number">
                                                                    {{ ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell).number }}
                                                                </span>
                                                                <img ng-src="{{ ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell).photo || '/static/images/nophoto.gif' }}" alt="" class="team-player-photo">
                                                                <span class="team-player-name">
                                                                    {{ ClubTeamCtrl.getPerson(ClubTeamCtrl.current_season, cell).fio }}</span>
                                                                <span class="team-player-name"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endverbatim %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="cell-defender" colspan="3"></td>
                                                    <td class="cell-trainer" colspan="7">тренера</td>
                                                    <td class="cell-goalkeeper">вратари</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div style="text-align: center">
                                            <img src="{{ STATIC_URL }}images/loader-large.gif"
                                                 ng-show="ClubTeamCtrl.current_season.loader">
                                        </div>

                                        <a class="hidden" id="ClubTeamCompareLink" href="{% url 'hockeyapp:club-team-compare-api' pk %}"></a>
                                        <div class="season-tabs season-last-tabs"
                                             ng-repeat="season in ClubTeamCtrl.previous_seasons.seasons">
                                            <div class="ui tabular menu content-tabs">
                                                {% verbatim %}
                                                <span class="heading">{{ season.data.prev_season.label }}</span>
                                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                    <li class="ui-state-default ui-corner-top"
                                                        ng-class="{ 'ui-tabs-active ui-state-active':season.league === 'khl' }">
                                                        <a href="#khl" class="item tab-btn ui-tabs-anchor" data-tab="khl"
                                                           ng-click="season.league = 'khl'">КХЛ: 22 игрока</a></li>
                                                    <li class="ui-state-default ui-corner-top"
                                                        ng-class="{ 'ui-tabs-active ui-state-active':season.league === 'vhl' }">
                                                        <a href="#khl" class="item tab-btn ui-tabs-anchor" data-tab="khl"
                                                           ng-click="season.league = 'vhl'">ВХЛ: 3 игрока</a></li>
                                                    <li class="ui-state-default ui-corner-top"
                                                        ng-class="{ 'ui-tabs-active ui-state-active':season.league === 'nhl' }">
                                                        <a href="#khl" class="item tab-btn ui-tabs-anchor" data-tab="khl"
                                                           ng-click="season.league = 'nhl'">НХЛ: 2 игрока</a></li>
                                                    <li class="ui-state-default ui-corner-top"
                                                        ng-class="{ 'ui-tabs-active ui-state-active':season.league === 'ahl' }">
                                                        <a href="#khl" class="item tab-btn ui-tabs-anchor" data-tab="khl"
                                                           ng-click="season.league = 'ahl'">АХЛ: 1 игрок</a></li>
                                                </ul>
                                                {% endverbatim %}
                                            </div>
                                            <table class="clubs-team-logos-table" id="leagues-all" data-tab="leagues-all">
                                                <tbody>
                                                {% verbatim %}
                                                    <tr ng-repeat="row in ClubTeamCtrl.COMPARE_TABLE_INDEX">
                                                        <td ng-repeat="cell in row"
                                                            class="cell-{{ cell[0] }}">
                                                            <a class="team-player-photo-link"
                                                               href="{{ ClubTeamCtrl.getPerson(season, cell).url }}"
                                                               ng-show="cell[0] && ClubTeamCtrl.getPerson(season, cell) && ClubTeamCtrl.isVisible(season, cell)">
                                                                <img alt="" class="team-player-photo"
                                                                     ng-src="{{ ClubTeamCtrl.getPerson(season, cell).logo }}">
                                                                <span class="team-player-name">
                                                                    {{ ClubTeamCtrl.getPerson(season, cell).title_verbose }}</span>
                                                                <span class="team-player-name"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endverbatim %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div style="text-align: center">
                                            <img src="{{ STATIC_URL }}images/loader-large.gif"
                                                 ng-show="ClubTeamCtrl.previous_seasons.loader">
                                        </div>

                                        <div class="align-center">
                                            <a href="" class="more-seasons-btn"
                                               ng-click="ClubTeamCtrl.compare()"
                                               ng-hide="ClubTeamCtrl.isLastSeason()">Показать еще сезон</a>
                                        </div>
                                    </div>

                                    <div id="team-tables" data-tab="team-tables">
                                        <input type="hidden" name="seasonz" value="">
                                        <div class="heading">Сезон 2013-2014</div>
                                        <table class="ui celled table segment clubs-team-table">
                                            <thead>
                                                <tr>
                                                    <th width="75">Номер</th>
                                                    <th width="136">Амплуа</th>
                                                    <th width="250">Имя Фамилия</th>
                                                    <th width="95" class="small-cell">Дата рождения</th>
                                                    <th width="115">Гражданство</th>
                                                    <th width="110">Контракт до</th>
                                                    <th width="75">SM-index</th>
                                                    <th>CORSI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="player in ClubTeamCtrl.data.all_players">
                                                    {% verbatim %}
                                                    <td align="center">{{ player.number }}</td>
                                                    <td>{{ player.line_display }}</td>
                                                    <td><a href="{{ player.url }}" class="player-popup-btn">{{ player.fio }}</a></td>
                                                    <td align="center">{{ player.birth_date_short }}</td>
                                                    <td>Россия</td>
                                                    <td align="center">21.09.2015</td>
                                                    <td align="center">256789</td>
                                                    <td align="center">12345</td>
                                                    {% endverbatim %}
                                                </tr>
                                            </tbody>
                                        </table>
                                        </form>

                                        <div class="align-center">
                                            <a href="#" class="more-seasons-btn">Показать еще сезон</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="player-partners-popup popup">
                        <a href="#" class="close-popup-btn">×</a>
                        <div class="player-bio">
                            <img src="{{ STATIC_URL }}images/player-avatar.jpg" alt="" class="player-photo">
                            <div class="player-info">
                                <div class="player-name">Акинфеев</div>
                                <div class="player-name">Игорь</div>
                                <div class="player-amplua">Амплуа: голкипер</div>
                            </div>
                        </div>
                        <div class="player-clubs">
                            <div class="player-club"><a href="#" class="player-club-link">Динамо (Москва)</a> 2008-2011</div>
                            <div class="player-club"><a href="#" class="player-club-link">Спартак (Москва)</a> 2011-2013</div>
                            <div class="player-club"><span class="player-club-now">Сейчас </span><a href="#" class="player-club-link">ЦСКА (Москва)</a></div>
                        </div>
                        <div class="player-details">
                            <div class="player-details_left">
                                <div class="player-detail">Рост: 180 см.</div>
                                <div class="player-detail">Вес: 89 кг.</div>
                                <div class="player-detail">Хват: правый</div>
                            </div>
                            <div class="player-details_right">
                                <div class="player-detail">Дата рождения: 19 марта 1983 г.</div>
                                <div class="player-detail">Возраст: 24 года 5 месяцев</div>
                                <div class="player-detail">Гражданство: Россия</div>
                            </div>
                        </div>
                        <div class="player-indexes">
                            <div class="player-detail">SM-index: 2323</div>
                            <div class="player-detail">Corsi: 9483</div>
                        </div>
                        <div class="align-center">
                            <a href="#" class="player-card-btn">открыть карточку игрока</a>
                        </div>
                    </div>
                    </form>
                </div>
                <hr class="hr">
                <ul class="team-controls player-controls-block">
                    <li class="team-control-btn"><a class="ui orange button">СОХРАНИТЬ В ИЗБРАННОМ</a></li>
                    <li class="team-control-btn"><a class="ui blue button">СОХРАНИТЬ В ВИДЕ PDF-ФАЙЛА</a></li>
                    <li class="team-control-btn"><a class="ui green button">ОТПРАВИТЬ ПО E-MAIL</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
