{% extends "hockeyapp/clubs/base.html" %}

{% block title %}
{{title}}: фан-клуб, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-fan-page">
    <div class="ui grid breadcrumb-search">
        <div class="twelve wide column">
                    <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">Хоккей</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Клубы</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="/ru/hockey/clubs/#?country={{address.city.country.pk}}&league=1">{{address.city.country.title}}</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="/ru/hockey/clubs/#?country=1&league={{league.pk}}">{{league.title}}</a>
                <i class="right chevron icon divider"></i>
                <a class="section" href="">{{title}}</a>
                <i class="right chevron icon divider"></i>
                <a class="active section">Фан-клуб</a>
            </div>
            </div>
        </div>
        <div class="four wide column">
              <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% include "hockeyapp/clubs/team-info.html" %}

        <div class="page-content page-container" ng-controller="ClubFanController">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club-fanzone" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">Фан-клуб</span>
                            </div>
                        </div>
                    </div>


                    <div style="position:relative;text-align: center; top: 50px; right: 34px; background: #ffffff" ng-show="!loaded">
                        <img style="position: absolute; max-height: 100px; z-index: 1;" src="{{ STATIC_URL }}images/loader-large.gif">
                    </div>
                    <div class="row" ng-show="loaded">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">Карта болельщиков</span>
                            </div>
                        </div>
                    </div>
                    <div id="clubs-map-container">
                        <div id="clubs-map">
                        </div>
                    </div>

                    <hr class="hr">

                    <div class="row">
                        <div class="seven wide column" style="position:relative;">
                            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17049530.119718827!2d68.2935659097025!3d58.55779998400435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sua!4v1419190365425" width="932" height="586" frameborder="0" style="border:0"></iframe>-->
                            <span class="sub-heading">Ссылки</span>
                            <ul class="fan-links-list">
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.skaifan.ru</a> - неофициальная страница команды
                                </li>
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.maxfan.ru</a> - неофициальная страница команды
                                </li>
                                <li class="fan-link-item">
                                    <a href="#" class="fan-link">http://www.minifan.ru</a> - неофициальная страница команды
                                </li>
                            </ul>
                            <a href="#" class="add-fan-link-btn">+ добавить еще одну ссылку</a>

                            <div class="ui vertical divider custom-divider">
                            </div>
                        </div>
                        <div class="nine wide column">
                            {% verbatim %}
                            <div class="partners-block-container">
                                <div class="partners-block">
                                    <div class="partners-heading"> СПИСОК УЧАСТНИКОВ ИЗ {{selectedPlace}} </div>
                                    <hr class="hr">
                                    <ul class="player-partners-list">
                                        <li  ng-repeat="fan in fans | filter: compare">
                                            <div class="player-partners-item">
                                                <a class="player-partners-link"><img ng-src="/static/images/player-avatar.jpg" alt="" class="player-partners-photo"></a>
                                                <div class="player-partners-info">
                                                    <div class="player-partners-name">{{fan.lastname}}</div>
                                                    <div class="player-partners-name">{{fan.name}}</div>
                                                    <div class="player-partners-country">{{fan.citizenship.title}}</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="player-partners-add-label pointer" ng-click="increaseLimit($index)" ng-if="limit[$index] < players.players.length">
                                            <div class="player-partners-info">
                                                <div>Показать еще</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
