{% extends "hockeyapp/clubs/base.html" %}

{% block title %}
{{title}}: командная статистика, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<section class="content">
    <div class="container clubs-page clubs-stats-page players-search-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section" href="/">Хоккей</a>
                <div class="divider"> / </div>
                <a class="section" href="{% url 'hockeyapp:club-list' %}">Клубы</a>
                <div class="divider"> / </div>
                <a class="section" href="/ru/hockey/clubs/#?country={{address.city.country.pk}}&league=1">{{address.city.country.title}}</a>
                <div class="divider"> / </div>
                <a class="section" href="/ru/hockey/clubs/#?country=1&league={{league.pk}}">{{league.title}}</a>
                <div class="divider"> / </div>
                <a class="section" href="">{{title}}</a>
                <div class="divider"> / </div>
                <a class="active section">Командная статистика</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        {% include "hockeyapp/clubs/team-info.html" %}

        <div class="page-content page-container"
             ng-controller="ClubStatsController as ClubStatsCtrl">
            <a class="hidden" id="PlayersSearchLink"
               href="{% url 'hockeyapp:players-search-api' %}"></a>
            <input name="club" type="hidden" value="{{ pk }}">
            {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club-stats" %}
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu">
                                <span class="heading">Командная статистика</span>
                            </div>
                        </div>
                    </div>
                    {% include "hockeyapp/clubs/clubs-stats-players.html" %}
                </div>
            </div>
            {% include "hockeyapp/player-partners-popup.html" %}
        </div>
    </div>
</section>
{% endblock %}
