{% load i18n %}
{% load base_extras %}

<div class="ui inline dropdown w-page-tabs__dropdown" tabindex="0">
    <input type="hidden" ng-update-hidden
           ng-model="season" ng-init="season = params.season"
           ng-change="setSeason(season)">
    <div class="text">{% trans "Season" %} {% lcb %} SeasonsService.getSeasonTitle(season) {% rcb %}</div>
    <i class="dropdown icon"></i>
    <div class="menu transition hidden seasons" tabindex="-1">
        {% for season in seasons %}
            <div class="item"
                 ng-class="{ 'active selected': SeasonsService.isSeasonActive(season, {{ season.pk }}, {{ forloop.first|yesno:'true,false,' }}) }"
                 data-text="{% trans "Season" %} {{ season.label }}" data-value="{{ season.pk }}">
                {{ season.label }}
            </div>
        {% endfor %}
    </div>
</div>
