<div class="team-info">
    <div class="team-heading">
        <a class="ui red button my-team-btn">+ Я БОЛЕЮ ЗА ЭТУ КОМАНДУ</a>
        <div class="team-logo"><img src="{{ logo }}" alt="Sportomatics" class="team-logo-image"></div>
        <div class="team-name">{{ title }}
            {% if address.title %}
                <span>({{ address.title }})</span>
            {% endif %}
        </div>
    </div>
    <ul class="info-list">
        <li class="info-item"><i class="browser icon"></i> Сайт: {{ site }}</li>
        <li class="info-item"><i class="mail icon"></i> E-mail: pochta@ska.ru</li>
        <li class="info-item"><i class="phone icon"></i> Тел.: +7 (812) 234 72 37</li>
    </ul>
</div>
