{% load i18n %}
<div class="team-info">
    <div id="team-heading" class="team-heading">
        <a class="ui red button my-team-btn">+ Я БОЛЕЮ ЗА ЭТУ КОМАНДУ</a>
        <div id="team-logo" class="team-logo"><img src="{{ logo|default:"" }}" alt="Sportomatics" class="team-logo-image"></div>
        <a id="team-name"  href="{% url 'hockeyapp:club' pk %}" class="team-name">{{ title }}
            {% if address.title %}
                <span>({{ address.title }})</span>
            {% endif %}
        </a>
        <input id="team-id" type="hidden" value="{{pk}}">
        <input id="team-arena-id" type="hidden" value="{{arena.pk}}">
    </div>
    <ul class="info-list">
        {% if site %}
            <li class="info-item"><i class="browser icon"></i> {% trans "Site" %}: <a href="{{ site }}">{{ site }}</a></li>
        {% endif %}
        {% if email %}
            <li class="info-item"><i class="mail icon"></i> E-mail: {{ email }}</li>
        {% endif %}
        {% if phone %}
            <li class="info-item"><i class="phone icon"></i> {% trans "Tel." %}: {{ phone }}</li>
        {% endif %}
    </ul>
</div>
