{% extends "base.html" %}

{% block body %}
<section class="content">
    <div class="container">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">ПРОФИЛЬ</a>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-card">
            <div class="user-avatar">
                <div class="user-avatar-hex1">
                    <div class="user-avatar-hex2" style="background-image: url(../static/images/user-avatar.png)"></div>
                </div>
            </div>
            <div class="user-info">
                <div class="user-info-name">Кристина</div>
                <div class="user-info-surname">Старикова</div>
                <a href="#" class="user-change-avatar">сменить фото ></a>
            </div>
        </div>

        <div class="page-content page-container">
            <div class="ui green inverted menu page-menu">
                <a class="item">Доступные опции</a>
                <a class="item">Пакетные предложения</a>
                <a class="item">История покупок</a>
                <a class="active item">Личные данные</a>
            </div>
            <div class="page-inner-container">
                <div class="user-page">
                    <div class="ui tabular menu content-tabs">
                        <span class="heading">Личные данные</span>
                    </div>
                    <form action="#" name="profile-edit-form" method="POST" class="ui form contact-form">
                        <div class="inline field">
                            <label>Ваш логин:</label>
                            <a class="ui teal label">Negnay</a>
                            <span class="profile-register-date">Дата регистрации: 15 июля 2014г.</span>
                        </div>
                        <div class="inline field">
                            <label>Пароль:</label>
                            <input type="text" name="password">
                            <a href="#" class="profile-password-change-btn">Изменить<i class="triangle down icon"></i></a>
                        </div>
                        <div class="inline field">
                            <label>E-mail:</label>
                            <input type="text" name="email">
                            <div class="ui checkbox">
                                <input type="checkbox" name="news">
                                <label>получать рассылку новостей с сайта</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <label>Имя Фамилия:</label>
                            <input type="text" name="email">
                            <div class="ui checkbox">
                                <input type="checkbox" name="hide_name">
                                <label>скрывать имя в "Любительской версии"</label>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="field">
                            <label>Изменить фотографию</label>
                        </div>
                        <div class="avatar-upload-block">
                            <img src="../static/images/avatar-sample.png" width="97" alt="sample avatar" class="avatar-sample-image">
                            <div class="avatar-upload-controls">
                                <input type="file" class="file-input" name="avatar" id="avatar">
                                <label for="avatar" class="small ui blue button avatar-select-btn">Выберите файл</label>
                                <div class="avatar-upload-desc">Формат фото: jpg, jpeg, png</div>
                            </div>
                        </div>
                        <hr class="hr">
                        <button type="submit" class="small ui green button">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}