{% extends "accounts/profile/base.html" %}
{% load i18n %}

{% block ngapp %}SportomaticsAdminArenaInstaPhoto{% endblock %}

{% block body %}
<section class="content">
    <div id="instagram-photos-container" class="instagram-photos-container" ng-controller="AdminArenaInstaPhotoController" >
        <div class="photos-block">
            <form method="post" action="" >
                {% csrf_token %}
                <div id="photos-new" data-tab="photos-new">
                    {% verbatim %}
                    <div ng-repeat="item in photos track by $index" id="item_id_aip_{{item.id}}" class="item" style="display:inline-block;padding-left:5px;padding-top:20px; margin: 20px">
                        <input type="hidden" id="club_id_aip_{{item.id}}" value="{{item.club}}">
                        <!--<input type="hidden" id="photo_id_aip_{{item.id}}" value="{{item.photo.id}}">-->
                        <img src="{{item.photo.img.file}}" alt="{{item.photo.img.name}}" class="item-photo" width="150" height="150" ng-click="checkedInputImg(item.id)">
                        <div class="item-data">
                            <a href="#" id="{{item.id}}" class="popup-show-button" ng-click="PhotoPopupShow(item.id, $index, $event)">Увеличить</a>
                            <input id="id_aip_{{item.id}}" name="cp" type="checkbox" value="{{item.id}}" style="float: right; margin-top: 3px">
                        </div>
                    </div>
                    <hr class="hr">
                    <div class="team-controls team-control-btn ui blue button" ng-click="nextPage()" id="nextpagebutton">ЗАГРУЗИТЬ ЕЩЕ</div>
                    {% endverbatim %}
                    <!-- here -->
                </div>
                <hr class="hr">
            </form>
        </div>
{% verbatim %}
        <div id="#switcher" class="player-partners-popup no-transition" style="min-width:1220px; z-index: 99999; position: fixed">
            <a href="#" id="close-popup-btn" class="close-popup-btn">×</a>
            <div>
                <div class="rightleft" ng-click="prevPhoto()">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div style="width:648px;display: inline-block;">
                    <img alt="" class="item-photo popup-photo" ng-src="{{ PhotoPopup.data.photo.img.file }}">
                </div>
                <div class="rightleft" ng-click="nextPhoto()">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div style="display:inline-block;margin-left: 30px; vertical-align: top">
                    <div class="ui icon input">
                        Возможные клубы:
                        <div ng-repeat="club in PhotoPopup.clubSet track by $index">
                            <a class="pointer underline" ng-click="setTeam(club)"> {{club.ru_title}} </a>
                        </div>
                    </div>
{% endverbatim %}
                    <br/>
                    <div class="ui icon input m-t-5">
                        <label>Ввести название клуба вручную:
                            <angucomplete id="clubs_filter"
                                          pause="300" minlength="2"
                                          selectedobject="selectedClub"
                                          url="{% url 'hockeyapp:club-titles-search-api' %}?s=" titlefield="title"/>
                        </label>
                    </div>
{% verbatim %}
                    <br>
                    <div ng-if="PhotoPopup.matches.length" class="m-t-5">
                        <div> Или выбрать из прошедших матчей:</div>
                        <ul ng-repeat="match in PhotoPopup.matches">
                            <li><a href="#" ng-click="setTeam(match.home_team)">{{match.home_team.ru_title}}</a>&nbsp;{{match.count}} <a href="#" ng-click="setTeam(match.guest_team)">{{match.guest_team.ru_title}}</a>&nbsp;({{match.date}})</li>
                        </ul>
                    </div>
                    <div ng-if="!PhotoPopup.matches.length" style="margin-top: 41px"></div>
                    <br>
                    <div class="ui icon input">
                        <div>Выбранная команда:</div>
                        <input type="text" id="photo_club" disabled ng-model="selectedClub.originalObject.title">
                    </div>
                    <input ng-show="selectedClub" id="id_aip_club" name="aip_club" type="hidden" value="{{selectedClub.originalObject.pk}}"><br/>
                    <div class="ui icon input m-t-5">
                        <label>Номера игроков:</label>
                        <div>
                            <!--<angucomplete id="players_filter"
                                          pause="300" minlength="1"
                                          selectedobject="selectedPlayer"-->

                            <input ng-show="selectedPlayer" id="id_aip_player" name="aip_player" type="hidden" value="{{selectedPlayer.originalObject.id}}">
                            <input id="id_aip_player_numbers" name="aip_player_numbers" value="{{PhotoPopup.data.players}}" style="max-width: 80px">
                        </div>
                    </div>
                    <br/>
                    <!--<div ng-if="PhotoPopup.data.photo.user_str">
                        <div class="ui icon input" >
                            <label>{{PhotoPopup.data.photo.user_str}}:</label>
                        </div>
                        <div class="m-t-5">
                            <textarea class="photo-comment" id="id_aip_comment" name="aip_comment" type="text">{{PhotoPopup.data.comment}}</textarea>
                        </div>
                    </div>-->
                    <br/>
                    <div class="m-t-10" id="arena_{{PhotoPopup.data.id}}">
                        <a class="ui blue button" ng-click="createArenaPhoto(PhotoPopup.data.id, index)">ФОТО АРЕНЫ</a>
                    </div>

                    <div class="m-t-10">
                        <a class="ui green button"  ng-click="procCPPopup(PhotoPopup.data.id, PhotoPopup.index)">ДОБАВИТЬ</a>
                    </div>
                    <div class="m-t-10">
                        <a class="ui orange button" ng-click="delCPPopup(PhotoPopup.data.id, PhotoPopup.index)">УДАЛИТЬ</a><br/>
                        <div class="m-t-10">
                            <input class="m-t-5" id="id_delete_photopopup_{{PhotoPopup.data.id}}" name="delete_photopopup" type="checkbox" ng-model="deletePhotopopup"><span ng-click="agreePopup()" class="pointer"> я понимаю, что удалю фото насовсем</span>
                        </div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
        <div id="#instruments-block" class="instruments-block">
            <ul class="team-controls player-controls-block">
                <div class="float-left" style="margin-left: 10px">
                    <div class="inline-block float-left">
                        <div class="ui icon input">
                            До <input type="number" style="width: 100px !important; margin-left: 20px" ng-model="max_id">
                            <i class="fa fa-refresh pointer" style="width: 20px" onclick="window.location.reload()"></i>
                        </div>
                    </div>
                </div>
                <a class="ui blue button control-button" ng-click="checkedAllInputs()">ВЫДЕЛИТЬ ВСЕ</a>
                <a class="ui blue button control-button" ng-click="uncheckedAllInputs()">СНЯТЬ ВЫДЕЛЕНИЕ</a>
                <div class="m-t-20"></div>
                <a class="ui orange button control-button" ng-click="deleteAll()">УДАЛИТЬ ВЫБРАННОЕ</a>
                <div class="m-t-5">
                    <input id="id_delete_all" name="delete_all" type="checkbox"><span ng-click="agree()" class="pointer"> я понимаю, что удалю фото насовсем</span>
                </div>
                <div class="m-t-20"></div>
                <a class="ui green button control-button m-t-20" style="background: #e74c3c !important;" ng-click="allAsArenaPhoto()">ФОТО АРЕНЫ</a>
                <a class="ui green button control-button m-t-20" ng-click="addAll()">ДОБАВИТЬ ВЫБРАННОЕ</a>
            </ul>
        </div>
    </div>
</section>
{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}/js/angular-resource.js"></script>
<script type="text/javascript">
    (function() {
        var services = angular.module('ArenaInstaPhotoServices', ['ngResource']);
        services.config(['$resourceProvider', function($resourceProvider) {
            // Don't strip trailing slashes from calculated URLs
            $resourceProvider.defaults.stripTrailingSlashes = false;
        }]);
        services.factory('ArenaInstaPhoto', function($resource){
            return $resource("{% url 'api:hockey:aip_list' %}"+":id/", {}, {
                query: {method:'GET', params:{id:null}},
                get: { method: 'GET'},
                update: { method: 'PATCH'},
                delete: { method: 'DELETE'}
            });
        });

        services.factory('Arena', function($resource){
            return $resource("{% url 'api:hockey:arena_list' %}"+":id/", {}, {
                get: { method: 'GET'}
            });
        });

        services.factory('Club', function($resource){
            return $resource("{% url 'api:hockey:club_list' %}"+":id/", {}, {
                get: { method: 'GET'}
            });
        });

        services.factory('Match', function($resource){
            return $resource("{% url 'api:hockey:match_list' %}"+":id/", {}, {
                query: {method:'GET', params:{id:null}, isArray:true}
            });
        });

        services.factory('Player', function($resource){
            return $resource("{% url 'api:hockey:player_list' %}"+":id/", {}, {
                query: {method:'GET', params:{id:null}, isArray:true}
            });
        });

        services.factory('PlayerList', function($resource){
            return $resource("{% url 'api:hockey:player_list' %}"+":club/", {}, {
                query: {method:'GET', params:{club:null}, isArray:true}
            });
        });

        services.factory('InstagramUser', function($resource){
            return $resource("{% url 'api:base:iu_list' %}"+":id/", {}, {
                query: {method:'GET', params:{id:null}, isArray:true},
                get: { method: 'GET'}
            });
        });

        var app = angular.module('SportomaticsAdminArenaInstaPhoto', ['ArenaInstaPhotoServices', 'angucomplete']);
        app.config(['$httpProvider', '$resourceProvider', function($httpProvider, $resourceProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            $resourceProvider.defaults.stripTrailingSlashes = false;
        }]);
        app.controller('AdminArenaInstaPhotoController', ['$scope', 'ArenaInstaPhoto', 'Club', 'Match','Arena', '$location','PlayerList', function($scope, ArenaInstaPhoto, Club, Match, Arena,  $location, PlayerList) {
            $scope.next_page = 1;
            $scope.arenaInstaPhoto = null;
            $scope.deletePhotopopup = false;
            $scope.selectedClub = '';
            $scope.photos = [];
            $scope.params = $location.search();
            $scope.min_id = 1;
            if($scope.params.max_id){
                $scope.max_id = parseInt($scope.params.max_id);
            }
            $scope.$watch('selectedClub', function(newval, oldval){
                if(newval && newval.length > 0){
                    $('#photo_club').val(newval.title);
                }
            });
            $scope.$watch('max_id', function(newval, oldval){
                if(!newval){
                    $location.url($location.path());
                }
                if(newval){
                    $location.search('max_id', newval)
                }
            });
            var closePopupBtn = $('#close-popup-btn');
            closePopupBtn.on('click', function(e) {
                e.preventDefault();
                $(this).parent().hide(300);
                $scope.clearPopupFields();
                $('.photos-block, .instruments-block, .header').removeClass("blur");
                $scope.selectedClub = null;
            });
            $('.photos-block, #instruments-block, .header').on('click', function(event){
                if(!$(event.target).is('.player-partners-popup') &&
                        !$(event.target).parents('.player-partners-popup').is('.player-partners-popup') &&
                        !$(event.target).is('.popup-show-button')){
                    $('.player-partners-popup').hide(300);
                    $scope.clearPopupFields();
                    $('.photos-block, .instruments-block, .header').removeClass("blur");
                }
            });
            $scope.getPage = function() {
                ArenaInstaPhoto.query({page:$scope.next_page, min_id: $scope.min_id, max_id: $scope.max_id ? $scope.max_id : 1000000}).$promise.then(function(data) {
                    $.each(data.results, function(index, value){
                        $scope.photos.push(value)
                    });
                    $scope.next_page = data.next_page;
                    if(!$scope.next_page) {
                        $('#nextpagebutton').remove();
                    }
                });
            };

            $scope.deleteAll = function() {
                if($('input[name="delete_all"]:checked').length){
                    var inputs = $('input[name="cp"]:checked');
                    $.each(inputs, function(index, value) {
                        ArenaInstaPhoto.delete({id:$(value).val()});
                        $("#item_" + $(value).attr('id')).css('opacity', '0');
                    });
                    $('input[name="delete_all"]').prop("checked", false);
                }
            };
            $scope.allAsArenaPhoto = function(){
                    var inputs = $('input[name="cp"]:checked');
                    $.each(inputs, function(index, value) {
                        console.log(value);
                        var arena_id = $(value).attr('id');
                        var club = $("#club_" + arena_id).val();
                        ArenaInstaPhoto.update({id:$(value).val()}, {club:club.id, processed:true}, function(photo) {
                            $("#item_" + arena_id + " img").css('width', '142px').css('height', '142px').css('border', '4px solid #e74c3c', 'important');
                        });
                    });
                $scope.uncheckedAllInputs();
            };
            $scope.agree = function(){
                $('input[name="delete_all"]').prop("checked", !$('input[name="delete_all"]').prop("checked"));
            };
            $scope.agreePopup = function(){
                $('input[name="delete_photopopup"]').prop("checked", !$('input[name="delete_photopopup"]').prop("checked"));
            };
            $scope.addAll = function() {
                var inputs = $('input[name="cp"]:checked');
                $.each(inputs, function(index, value) {
                    ArenaInstaPhoto.update({id:$(value).val()}, {processed:true});
                    $("#item_" + $(value).attr('id')).css('opacity', '0');
                });
            };
            $scope.nextPage = function() {
                if($scope.next_page) {
                    $scope.getPage($scope.next_page);
                }
            };

            $scope.checkedInputImg = function(id) {
                $('#id_aip_'+id).prop("checked", !$('#id_aip_'+id).prop("checked"))
            };

            $scope.checkedAllInputs = function() {
                $('input[name="cp"]').prop('checked', true);
            };
            $scope.uncheckedAllInputs = function() {
                $('input[name="cp"]').prop('checked', false);
            };

            $scope.PhotoPopup = {
                data: null,
                index: null
            };

            $scope.PhotoPopupShow = function(id, index, event, position) {
                $scope.PhotoPopup.clubSet = [];
                if(event && event.currentTarget)
                $scope.PhotoPopup.domIndex = parseInt(angular.element(event.currentTarget).attr('id'));
                $scope.PhotoPopup.data = ArenaInstaPhoto.get({id:id}, function(photo) {
                    $scope.PhotoPopup.data.players = '';
                    if (photo.club) {
                        $scope.PhotoPopup.club = Club.get({id:photo.club});
                    }
                    else {
                        $scope.PhotoPopup.club = null;   
                    }
                    if(photo.arena){
                        $scope.PhotoPopup.arena = Arena.get({id:photo.arena}, function(arena){
                            $.each(arena.club_set, function(index, value){
                                Club.get({id:value}, function(club){
                                    $scope.PhotoPopup.clubSet.push(club);
                                })
                            })
                        })
                    }
                    var params = {date:photo.photo.created, arena:photo.arena};
                    $scope.PhotoPopup.matches = Match.query(params);
                }, function(){
                    return (position === 'next') ? $scope.nextPhoto() : $scope.prevPhoto()
                });
                $scope.PhotoPopup.index = index;
                $('.photos-block, .instruments-block, .header').addClass("blur");
                $('.player-partners-popup:hidden').show(500);
            };
            $scope.nextPhoto = function(){
                var index = $scope.PhotoPopup.index + 1;
                if($scope.photos[index]){
                    $scope.PhotoPopup.domIndex = $scope.photos[index].id;
                    $scope.PhotoPopupShow($scope.photos[index].id, index, null, 'next');
                    $scope.clearPopupFields();
                }
            };
            $scope.prevPhoto = function(){
                var index = $scope.PhotoPopup.index + -1;
                if($scope.photos[index]){
                    $scope.PhotoPopup.domIndex = $scope.photos[index].id;
                    $scope.PhotoPopupShow($scope.photos[index].id, index, null, 'prev');
                    $scope.clearPopupFields();
                }
            };

            $scope.clearPopupFields = function(){
                $('input[name="aip_player_numbers"]').val('');
                $('input[name="delete_photopopup"]').prop("checked", false);
                $('#photo_club').val('');
                $('#id_aip_club').val('');
                $scope.deletePhotopopup = false;
            };

            $scope.delCPPopup = function(id, index) {
                if($('input[name="delete_photopopup"]').prop("checked")){
                    ArenaInstaPhoto.delete({id:id});
                    $scope.deletePhotopopup=false;
                    $('.player-partners-popup').hide(300);
                    $scope.clearPopupFields();
                    $('.photos-block, .instruments-block, .header').removeClass("blur");
                    $("#item_id_aip_" + $scope.PhotoPopup.domIndex.toString()).css('opacity', '0');
                }
            };

            $scope.procCPPopup = function(id, index) {
                var data = {processed:true};
                var new_club = $('input[name="aip_club"]').val();
                if(new_club) {
                    data['club'] = parseInt(new_club);
                }
                data['comment'] = $('input[name="aip_comment"]').val();
                if($('input[name="aip_player_numbers"]').val())
                data['players'] = $('input[name="aip_player_numbers"]').val().replace(/[^0-9.]/g, " ").split(' ').clean("").map(function(e){ return parseInt(e);});
                ArenaInstaPhoto.update({id:id}, data);
                PlayerList.get({club: parseInt(new_club), number: data['players']});
                $('.player-partners-popup').hide(300);
                $scope.clearPopupFields();
                $('.photos-block, .instruments-block, .header').removeClass("blur");
                $("#item_id_aip_" + $scope.PhotoPopup.domIndex.toString()).css('opacity', '0');
            };

            $scope.createArenaPhoto = function(id, index) {
                $scope.procCPPopup(id, index);
            };

            $scope.setTeam = function(team) {
                $('#photo_club').val(team.ru_title);
                $('#id_aip_club').val(team.id);
            };

            $scope.getPage($scope.next_page);
        }]);
        Array.prototype.clean = function(deleteValue) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == deleteValue) {
                    this.splice(i, 1);
                    i--;
                }
            }
            return this;
        };
    })();

</script>
{% endblock %}