{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}


{% block title %}
{{fio}}: клубы, хоккей  - Sportomatics.ru
{% endblock %}

{% load static from base_extras %}
{% load base_extras %}

{% block custom_scripts %}
    {% with charts=1 %}
      {{block.super}}
    {% endwith %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}


{% block body %}
<div class="w-page__crew">
    <div class="body_inner bg-image">
        <main id="main">
            <section class="container">

                {% include "hockeyapp/players/player-header.html" with player_section="Clubs" %}

                {% include "hockeyapp/players/menu.html" with player_menu_active="player-clubs" %}

                <section class="w-page-tabs">

                    <div class="ui tabular w-page-tabs__tabs w-page-tabs__with-select menu hidden-xs">
                        <div class="item active" data-tab="tab-name">Клубы</div>
                    </div>
                    <!--tabs items ends-->
                    <div class="ui vertical tabular-xs menu visible-xs">
                        <div class="item active" data-tab="tab-name">Клубы</div>
                    </div>

                    <!--tabs content items-->
                    <div class="b-tabs-content ui" >

                    {% block mobile_menu %}
                        {% include "hockeyapp/clubs/mlpushmenu.html" with section="player" active_section="player-clubs" active_menu="main-card" %}
                    {% endblock %}
                        <div class="row">
                            <div class="column">
                                <div id="player-timeline"></div>
                            </div>
                        </div>
                    </div><!--tabs content items-->

                </section><!--w-page-tabs-->

            </section><!--container-->

        </main>
        <footer id="footer">

        </footer>
    </div>


</div>

{% endblock %}
