.font-weight-300{
    font-weight: 300;
}
.line-display{
    text-transform: lowercase !important;
}
.pointer{
    cursor: pointer;
}
.margin-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.b-calendar__item .ui.card{
    min-height: 170px;
}
