{% extends "registration/layout.html" %}
{% load i18n %}

{% block content %}
    <div class="page-inner-container">
        <div class="user-page">
            <div class="ui tabular menu content-tabs">
                <span class="heading">{% trans 'Login' %}</span>
            </div>
            <form action="" name="profile-edit-form" method="POST" class="ui form contact-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="inline field">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                {# ulogin_widget #}
                <hr class="hr">
                <button type="submit" class="small ui green button">{% trans 'Login' %}</button>
                <a href="{% url 'auth_password_reset' %}" class="item">{% trans 'Forgot password' %}</a>
            </form>
        </div>
    </div>
{% endblock %}