{% extends "registration/layout.html" %}
{% load i18n %}
{% load ulogin_tags %}

{% block content %}
    {% include "registration/form/step1.html" %}
    {% include "registration/form/step2.html" %}
    {% include "registration/form/step3.html" %}
    {% include "registration/form/password.html" %}
    <!-- page code -->
    <div class="page-inner-container" ng-controller="RegistrationController">
        <div class="user-page">
            <div class="ui tabular menu content-tabs">
                <span class="heading">{% trans "New User's Registration" %}</span>
            </div>
            <div class="greeting-registration">
                <p>
                    {% trans "Thank you for your interest in our services." %}<br>
                    {% trans "There is nothing easier — just choose an appropriate way" %}<br>
                    {% trans "We tried to do everything so that it does not take away from you more than 1 minute." %}<br><br>
                </p>
            </div>
            <form action="" name="profile-edit-form" method="POST" class="ui form contact-form">
                {% csrf_token %}
                <div class="ui-grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                    <li class="ui-state-default ui-corner-top m-l-20"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'social' }">

                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'social'">
                                            {% trans 'Sign in with social account' %}
                                        </a>
                                    </li>
                                    <li class="ui-state-default ui-corner-top"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'regular' }">
                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'regular'">
                                            {% trans 'Registration form' %}
                                        </a>
                                    </li>
                                    <li class="ui-state-default ui-corner-top"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'remember' }">
                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'remember'">
                                            {% trans 'Remember password' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="selectedType === 'regular'">
                        <div id="tpl-step-content" ng-include src="currentStepTemplate"></div>
                    </div>
                    <div ng-if="selectedType === 'social'">
                        <div class="row registration-content-row">
                            <div class="inline-block">
                                <input  class="m-r-8" type="radio" ng-model="selectedRegistrationType" ng-value="'social'">
                                {% trans 'Select any social account with which you want to sign in:' %}
                            </div>
                            {% ulogin_widget %}
                            {% comment %}
                            <script src="//ulogin.ru/js/ulogin.js"></script>
                            <div class="uLogin-registration" id="uLogin" data-ulogin="display=panel;fields=first_name,last_name;providers=facebook,vkontakte,odnoklassniki,twitter,google,yandex,mailru;hidden=other;redirect_uri=http%3A%2F%2Fdev.sportomatics.ru"></div>
                            {% endcomment %}
                        </div>
                        <div class="row registration-content-row">
                            <div class="inline-block">
                                <input  class="m-r-8" type="radio" ng-model="selectedRegistrationType" ng-value="'regular'">
                                    {% trans "I don't have any of these accounts or I don't want to sign in with it" %}
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="small ui green button registration-next"
                                    ng-disabled="selectedRegistrationType !== 'regular'"
                                    ng-click="selectType('regular') "
                                    ng-class="{'opacity-30': selectedRegistrationType !== 'regular'}">
                            {% trans 'Next' %}</button>
                        </div>
                    </div>
                    <div ng-if="selectedType === 'remember'">
                        <div id="tpl-dw-content" ng-include src="'rememberPasswordTemplate'"></div>
                    </div>
                    <!--<div class="row">
                        {% for field in form %}
                        <div class="inline field">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <hr class="hr">
                    </div>-->
                </div>

            </form>
        </div>
    </div>
{% endblock %}
