{% extends "registration/layout.html" %}
{% load i18n %}

{% block content %}
    <script type="text/ng-template" id="step1">
            <div class="row registration-content-row">
                <p>{% trans "Fine! Just three easy steps, and you're with us!" %}</p>
            </div>
            <div class="row registration-content-row">
                <p><span class="registration-step-label">{% trans 'STEP 1' %}</span> <br>
                    {% trans 'All fields are required' %}</p>
            </div>
            <div class="row registration-content-row">
                {% comment %}
                <div class="row">
                    <div class="registration-label inline-block">
                        {% trans 'Choose your login:' %}
                    </div>
                    <div class="registration-input inline-block">
                        <input type="text" ng-model="user.login">
                    </div>
                </div>
                {% endcomment %}
                <div class="row registration-content-row">
                    <div class="registration-label inline-block">
                        E-mail:
                    </div>
                    <div class="registration-input-email inline-block">
                        <input type="email" ng-model="user.email" ng-hide="userCreated">
                        <div ng-show="userCreated">
                            {% verbatim %}
                                {{ user.email }}
                            {% endverbatim %}
                        </div>
                    </div>
                    <div class="registration-passwords-comparison-label inline-block">
                        <div ng-if="errors.username">
                            {% verbatim %}
                            <i class="fa fa-thumbs-o-down"></i> {{ errors.username[0] }}
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
                <div class="row registration-content-row">
                    <div class="registration-checkbox">
                        <input type="checkbox" ng-model="subscribe">
                        {% trans 'receive email notifications' %}
                    </div>
                </div>
                <div class="row registration-content-row">
                    <div class="registration-label inline-block">
                        {% trans 'Password' %}
                    </div>
                    <div class="registration-input inline-block">
                        <input type="password"
                               ng-change="passwordsMatch = comparePasswords(user.password, user.password2)"
                               ng-model="user.password">
                    </div>
                </div>
                <div class="row registration-content-row">
                    <div class="registration-label inline-block">
                        {% trans 'Verify password' %}
                    </div>
                    <div class="registration-input inline-block">
                        <input type="password"
                               ng-change="passwordsMatch = comparePasswords(user.password, user.password2)"
                               ng-model="user.password2">
                    </div>
                    <div class="registration-passwords-comparison-label inline-block">
                        <div ng-if="user.password && user.password2 && passwordsMatch" ng-class="{'positive': passwordsMatch}">
                            <i class="fa fa-thumbs-o-up"></i> {% trans 'Passwords match' %}
                        </div>
                        <div ng-if="user.password && user.password2 && !passwordsMatch" ng-class="{'negative': !passwordsMatch}">
                            <i class="fa fa-thumbs-o-down"></i> {% trans 'Please make sure your passwords match' %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="small ui green button registration-next-form" ng-click="nextStep()" >{% trans 'Next' %}</button>
                </div>
            </div>
    </script>
    <script type="text/ng-template" id="step2">
        <div class="row registration-content-row">
            <p>
                {% trans "Let's get to know each other! " %}
            </p>
        </div>
        <div class="row registration-content-row">
            <p><span class="registration-step-label">{% trans 'STEP 2' %}</span></p>
        </div>
        <div class="row registration-content-row">
            <div class="row registration-content-row">
                <div class="inline-block">
                    <input type="radio" ng-model="personalInfo" ng-value="true">
                    {% trans 'Tell us about yourself' %}
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="registration-label inline-block">
                    {% trans 'Full name:' %}
                </div>
                <div class="registration-input inline-block">
                    <input type="text" ng-model="personal.name">
                </div>
                <div class="inline-block m-l-20">
                    <input class="vertical-middle" type="checkbox" ng-model="personal.hideName">
                    {% trans 'hide my name in the amateur version of the website' %}
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="registration-label inline-block vertical-top">
                    {% trans 'Profile photo:' %}
                </div>
                <div class="registration-input-photo inline-block">
                    <div class="user-card">
                        <div class="user-avatar">
                            <div class="user-avatar-hex1">
                                <div class="user-avatar-hex2"
                                     style="background-image: url('{{ STATIC_URL }}images/avatar-sample.png')">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="file" class="file-input" name="avatar" id="avatar"
                           onchange="angular.element(this).scope().setAvatar(this.files)">
                    <label for="avatar" class="small ui blue button avatar-select-btn">Выберите файл</label>
                    <div class="avatar-upload-desc">Формат фото: jpg, jpeg, png</div>
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="registration-label inline-block">
                    {% trans 'My website:' %}
                </div>
                <div class="registration-input inline-block">
                    <input type="text" ng-model="personal.website">
                </div>
                <div class="registration-passwords-comparison-label inline-block">
                    <div ng-if="errors.website">
                        {% verbatim %}
                            <i class="fa fa-thumbs-o-down"></i> {{ errors.website[0] }}
                        {% endverbatim %}
                    </div>
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="inline-block">
                    <input type="radio" ng-model="personalInfo" ng-value="false">
                    {% trans "I don't want to give any information about me" %}
                </div>
            </div>
            <div class="row">
                <button type="button" class="small ui green button registration-next" ng-click="prevStep()">{% trans 'PREV' %}</button>
                <button type="button" class="small ui green button registration-next" ng-click="nextStep()">{% trans 'Next' %}</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="step3">
        <div class="row registration-content-row">
            <p>{% trans 'Customize the website!' %}</p>
        </div>
        <div class="row registration-content-row">
            <p><span class="registration-step-label">{% trans 'STEP 3' %}</span></p>
        </div>
        <div class="row registration-content-row">
            <div class="row registration-content-row">
                <div class="inline-block">
                    <input type="radio" ng-model="preferencesInfo" ng-value="true">
                    {% trans 'Set up your preferences' %}
                </div>
            </div>
            <div class="row registration-content-row registration-preferences">
                <div class="inline-block registration-preferences-sports vertical-top">
                    <div class="registration-preferences-sport bold">
                        {% trans "I'm interested in:" %}
                    </div>
                    <div class="registration-preferences-sport">
                        <input class="vertical-middle" type="checkbox" ng-change="log()" ng-model="preferencesSports['hockey']">
                        <div class="vertical-middle inline-block">{% trans 'Hockey' %}</div>
                    </div>
                    <div class="registration-preferences-sport">
                        <input class="vertical-middle" type="checkbox" ng-model="preferencesSports['football']">
                        <div class="vertical-middle inline-block">{% trans 'Football' %}</div>
                    </div>
                    <div class="registration-preferences-sport">
                        <input class="vertical-middle" type="checkbox" ng-model="preferencesSports['basketball']">
                        <div class="vertical-middle inline-block">{% trans 'Basketball' %}</div>
                    </div>
                </div>
                <div class="inline-block registration-preferences-countires vertical-top">
                    <div class="registration-preferences-sport bold">
                        {% trans 'In countries:' %}
                    </div>
                    <!--<div class="registration-preferences-country" ng-repeat="country in countries track by $index">
                        <input class="vertical-middle" type="checkbox" ng-model="countries[$index][1]">
                        <div class="vertical-middle inline-block"><span ng-bind="country[0]"></span></div>
                    </div>-->
                    <div class="inline-block">
                        <tags-input display-property="title" ng-model="countries" placeholder="{% trans 'start typing' %}" add-on-comma="{false}" add-from-autocomplete-only="true" style="max-width:200px !important;">
                            <auto-complete load-on-focus="true" load-on-empty="true" min-length="1" source="loadTagsCountries($query)"></auto-complete>
                        </tags-input>
                    </div>
                </div>
                <div class="inline-block m-l-50">
                    <div class="registration-preferences-sport bold">
                        {% trans 'My favourite clubs:' %}
                    </div>
                    <div class="">
                        <div class="inline-block bold vertical-top">
                            {% trans 'Hockey' %}
                        </div>
                        <div class="inline-block m-l-20">
                            <tags-input display-property="title" ng-model="tags" placeholder="{% trans 'start typing' %}" add-on-comma="{false}" add-from-autocomplete-only="true" style="max-width:450px !important;">
                                <auto-complete load-on-focus="true" load-on-empty="true" min-length="1" source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="inline-block">
                    <input type="radio" ng-model="preferencesInfo" ng-value="false">
                    {% trans "I don't have any preferences" %}
                </div>
            </div>
            <div class="row">
                <button type="button" class="small ui green button registration-next" ng-click="prevStep()">{% trans 'PREV' %}</button>
                <button type="button" class="small ui green button registration-next" ng-click="nextStep()">{% trans 'END' %}</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="rememberPasswordTemplate">
            {# enter email #}
            <div class="row registration-content-row" ng-hide="params.uidb64 && params.token">
                <div class="inline-block">
                    {% comment %}
                    <input class="m-r-10" type="radio" ng-model="rememberWithLogin" ng-value="true">
                    {% endcomment %}
                    {% trans 'Your login:' %}
                </div>
            </div>
            <div class="row registration-content-row" ng-hide="params.uidb64 && params.token">
                <div class="registration-input inline-block">
                    <input class="m-l-8" type="text" ng-model="rememberPasswordData.login">
                </div>
            </div>
            {% comment %}
            <div class="row registration-content-row">
                {% trans 'or' %}
            </div>
            <div class="row registration-content-row">
                <div class="inline-block">
                    <input class="m-r-10" type="radio" ng-model="rememberWithLogin" ng-value="false">
                    {% trans 'E-mail address' %}
                </div>
            </div>
            <div class="row registration-content-row">
                <div class="registration-input inline-block">
                    <input class="m-l-8" type="text" ng-model="rememberPasswordData.password">
                </div>
            </div>
            {% endcomment %}
            <div class="row" ng-hide="params.uidb64 && params.token">
                <button type="button" class="small ui green button registration-next" ng-click="remindPassword()">{% trans 'REMEMBER PASSWORD' %}</button>
            </div>

            {# new password #}
            <div class="row registration-content-row" ng-show="params.uidb64 && params.token">
                <div class="registration-label inline-block">
                    {% trans 'Password' %}
                </div>
                <div class="registration-input inline-block">
                    <input type="password"
                           ng-change="rememberPasswordData.passwordsMatch = comparePasswords(rememberPasswordData.password, rememberPasswordData.password2)"
                           ng-model="rememberPasswordData.password">
                </div>
            </div>
            <div class="row registration-content-row" ng-show="params.uidb64 && params.token">
                <div class="registration-label inline-block">
                    {% trans 'Verify password' %}
                </div>
                <div class="registration-input inline-block">
                    <input type="password"
                           ng-change="rememberPasswordData.passwordsMatch = comparePasswords(rememberPasswordData.password, rememberPasswordData.password2)"
                           ng-model="rememberPasswordData.password2">
                </div>
                <div class="registration-passwords-comparison-label inline-block">
                    <div ng-if="rememberPasswordData.password && rememberPasswordData.password2 && rememberPasswordData.passwordsMatch"
                         ng-class="{'positive': rememberPasswordData.passwordsMatch}">
                        <i class="fa fa-thumbs-o-up"></i> {% trans 'Passwords match' %}
                    </div>
                    <div ng-if="rememberPasswordData.password && rememberPasswordData.password2 && !rememberPasswordData.passwordsMatch"
                         ng-class="{'negative': !rememberPasswordData.passwordsMatch}">
                        <i class="fa fa-thumbs-o-down"></i> {% trans 'Please make sure your passwords match' %}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="params.uidb64 && params.token">
                <button type="button" class="small ui green button registration-next" ng-click="setPassword()">{% trans 'SAVE' %}</button>
            </div>
    </script>
    <!-- page code -->
    <div class="page-inner-container" ng-controller="RegistrationController">
        <div class="user-page">
            <div class="ui tabular menu content-tabs">
                <span class="heading">{% trans "New User's Registration" %}</span>
            </div>
            <div class="greeting-registration">
                <p>
                    {% trans "Thank you for your interest in our services." %}<br>
                    {% trans "There is nothing easier — just choose an appropriate way" %}<br>
                    {% trans "We tried to do everything so that it does not take away from you more than 1 minute." %}<br><br>
                </p>
            </div>
            <form action="" name="profile-edit-form" method="POST" class="ui form contact-form">
                {% csrf_token %}
                <div class="ui-grid">
                    <div class="row">
                        <div class="column">
                            <div class="ui tabular menu content-tabs">
                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                    <li class="ui-state-default ui-corner-top m-l-20"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'social' }">

                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'social'">
                                            {% trans 'Sign in with social account' %}
                                        </a>
                                    </li>
                                    <li class="ui-state-default ui-corner-top"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'regular' }">
                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'regular'">
                                            {% trans 'Registration form' %}
                                        </a>
                                    </li>
                                    <li class="ui-state-default ui-corner-top"
                                        ng-class="{ 'ui-tabs-active ui-state-active': selectedType === 'remember' }">
                                        <a class="item tab-btn ui-tabs-anchor" href="" ng-click="selectedType = 'remember'">
                                            {% trans 'Remember password' %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-if="selectedType === 'regular'">
                        <div id="tpl-step-content" ng-include src="currentStepTemplate"></div>
                    </div>
                    <div ng-if="selectedType === 'social'">
                        <div class="row registration-content-row">
                            <div class="inline-block">
                                <input  class="m-r-8" type="radio" ng-model="selectedRegistrationType" ng-value="'social'">
                                {% trans 'Select any social account with which you want to sign in:' %}
                            </div>
                            <script src="//ulogin.ru/js/ulogin.js"></script>
                            <div class="uLogin-registration" id="uLogin" data-ulogin="display=panel;fields=first_name,last_name;providers=facebook,vkontakte,odnoklassniki,twitter,google,yandex,mailru;hidden=other;redirect_uri=http%3A%2F%2Fdev.sportomatics.ru"></div>
                        </div>
                        <div class="row registration-content-row">
                            <div class="inline-block">
                                <input  class="m-r-8" type="radio" ng-model="selectedRegistrationType" ng-value="'regular'">
                                    {% trans "I don't have any of these accounts or I don't want to sign in with it" %}
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="small ui green button registration-next"
                                    ng-disabled="selectedRegistrationType !== 'regular'"
                                    ng-click="selectType('regular') "
                                    ng-class="{'opacity-30': selectedRegistrationType !== 'regular'}">
                            {% trans 'Next' %}</button>
                        </div>
                    </div>
                    <div ng-if="selectedType === 'remember'">
                        <div id="tpl-dw-content" ng-include src="'rememberPasswordTemplate'"></div>
                    </div>
                    <!--<div class="row">
                        {% for field in form %}
                        <div class="inline field">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <hr class="hr">
                    </div>-->
                </div>

            </form>
        </div>
    </div>
{% endblock %}
