{% load i18n %}
<div class="ui green inverted menu page-menu">
    <a class="{% if profile_menu_active == 'profile-private' %}active {% endif %}item"
       href="{% url 'accounts:profile-private' %}">{% trans 'Personal data' %}</a>
    {% if request.user.version == 'PRO' %}
        <a class="{% if profile_menu_active == 'profile-options' %}active {% endif %}item"
           href="{% url 'accounts:profile-options' %}">{% trans 'Available options' %}</a>
        <a class="{% if profile_menu_active == 'profile-offers' %}active {% endif %}item"
           href="{% url 'accounts:profile-offers' %}">{% trans 'Offers' %}</a>
        <a class="{% if profile_menu_active == 'profile-history' %}active {% endif %}item"
           href="{% url 'accounts:profile-history' %}">{% trans 'Purchase history' %}</a>
    {% endif %}
</div>
