{% extends "accounts/profile/base.html" %}

{% block body %}
<section class="content">
    <div class="container"
         ng-controller="ProfileController as ProfileCtrl"
         ng-init="ProfileCtrl.user.fio = '{{ request.user.fio }}'">
        {% include "accounts/profile/user-info.html" %}

        <div class="page-content page-container">
            {% include "accounts/profile/menu.html" with profile_menu_active="profile-private" %}
            <div class="page-inner-container">
                <div class="user-page">
                    <div class="ui tabular menu content-tabs">
                        <span class="heading">Личные данные</span>
                    </div>
                    <form name="profile-edit-form" method="POST" class="ui form contact-form"
                          ng-init="ProfileCtrl.csrf_token = '{{ csrf_token }}'"
                          ng-submit="ProfileCtrl.save()">
                        <div class="inline field">
                            <label>Ваш логин:</label>
                            <a class="ui teal label">{{ username }}</a>
                            <span class="profile-register-date">Дата регистрации: {{ date_joined }}</span>
                        </div>
                        <div class="inline field">
                            <label>Пароль:</label>
                            <input type="text" name="password">
                            <a href="#" class="profile-password-change-btn">Изменить<i class="triangle down icon"></i></a>
                        </div>
                        <div class="inline field">
                            <label>E-mail:</label>
                            <input type="text" name="email" value="{{ email }}"
                                   ng-model="ProfileCtrl.user.email">
                            <div class="ui checkbox">
                                <input type="checkbox" name="news">
                                <label>получать рассылку новостей с сайта</label>
                            </div>
                        </div>
                        <div class="inline field">
                            <label>Имя Фамилия:</label>
                            <input type="text" name="fio" value="{{ fio }}"
                                   ng-model="ProfileCtrl.user.fio">
                            <div class="ui checkbox">
                                <input type="checkbox" name="hide_name">
                                <label>скрывать имя в "Любительской версии"</label>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="field">
                            <label>Изменить фотографию</label>
                        </div>
                        <div class="avatar-upload-block">
                            <img alt="sample avatar" class="avatar-image" id="id_avatar"
                                 src="/static/images/avatar-sample.png"
                                 {% verbatim %}
                                 ng-src="{{ ProfileCtrl.user.avatar }}">
                                 {% endverbatim%}
                            <div class="avatar-upload-controls">
                                <input type="file" class="file-input" name="avatar" id="avatar"
                                       onchange="angular.element(this).scope().setAvatar(this.files, '{{ csrf_token }}')">
                                <label for="avatar" class="small ui blue button avatar-select-btn">Выберите файл</label>
                                <div class="avatar-upload-desc">Формат фото: jpg, jpeg, png</div>
                            </div>
                        </div>
                        <hr class="hr">
                        <!-- <button type="submit" class="small ui green button">Сохранить изменения</button> -->
                        {% csrf_token %}
                        <input type="submit" class="small ui green button" value="Сохранить изменения" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
