{% load i18n %}
<script type="text/ng-template" id="rememberPasswordTemplate">
    {# enter email #}
    <div ng-hide="($location.search().uidb64 && $location.search().token) || rememberPasswordData.isSent">
        {% comment %}
        <div class="row registration-content-row">
            <div class="inline-block">
                <input class="m-r-10" type="radio" ng-model="rememberWithLogin" ng-value="true">
                {% trans 'Your login:' %}
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-input inline-block">
                <input class="m-l-8" type="text" ng-model="rememberPasswordData.login">
            </div>
        </div>
        <div class="row registration-content-row">
            {% trans 'or' %}
        </div>
        {% endcomment %}
        <div class="row registration-content-row">
            <div class="inline-block">
                {# <input class="m-r-10" type="radio" ng-model="rememberWithLogin" ng-value="false"> #}
                {% trans 'E-mail address' %}
            </div>
            <div class="registration-passwords-comparison-label inline-block">
                <div ng-if="rememberPasswordData.errors.email" class="negative">
                    {% verbatim %}
                    <i class="fa fa-thumbs-o-down"></i> {{ rememberPasswordData.errors.email[0].message }}
                    {% endverbatim %}
                </div>
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-input inline-block">
                <input class="m-l-8" type="text" ng-model="rememberPasswordData.email">
            </div>
        </div>
        <div class="row">
            <button type="button" class="small ui green button registration-next" ng-click="remindPassword()">{% trans 'REMEMBER PASSWORD' %}</button>
        </div>
    </div>
    <div class="row registration-content-row"
         ng-hide="($location.search().uidb64 && $location.search().token) || !rememberPasswordData.isSent">
        <div class="inline-block">
            {% trans "E-mail with further instructions was sent" %}
        </div>
    </div>

    {# new password #}
    <div ng-show="$location.search().uidb64 && $location.search().token && !rememberPasswordData.isComplete">
        <div class="row registration-content-row">
            <div class="registration-label inline-block">
                {% trans 'Password' %}
            </div>
            <div class="registration-input inline-block">
                <input type="password"
                       ng-change="rememberPasswordData.passwordsMatch = comparePasswords(rememberPasswordData.password, rememberPasswordData.password2)"
                       ng-model="rememberPasswordData.password">
            </div>
            <div class="registration-passwords-comparison-label inline-block">
                {% verbatim %}
                    <div ng-if="rememberPasswordData.errors.uidb64" class="negative">
                        <i class="fa fa-thumbs-o-down"></i> {{ rememberPasswordData.errors.uidb64[0] }}
                    </div>
                    <div ng-if="rememberPasswordData.errors.token" class="negative">
                        <i class="fa fa-thumbs-o-down"></i> {{ rememberPasswordData.errors.token[0] }}
                    </div>
                {% endverbatim %}
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-label inline-block">
                {% trans 'Verify password' %}
            </div>
            <div class="registration-input inline-block">
                <input type="password"
                       ng-change="rememberPasswordData.passwordsMatch = comparePasswords(rememberPasswordData.password, rememberPasswordData.password2)"
                       ng-model="rememberPasswordData.password2">
            </div>
            <div class="registration-passwords-comparison-label inline-block">
                <div ng-if="rememberPasswordData.password && rememberPasswordData.password2 && rememberPasswordData.passwordsMatch"
                     ng-class="{'positive': rememberPasswordData.passwordsMatch }">
                    <i class="fa fa-thumbs-o-up"></i> {% trans 'Passwords match' %}
                </div>
                <div ng-if="rememberPasswordData.password && rememberPasswordData.password2 && !rememberPasswordData.passwordsMatch"
                     ng-class="{'negative': !rememberPasswordData.passwordsMatch }">
                    <i class="fa fa-thumbs-o-down"></i> {% trans 'Please make sure your passwords match' %}
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="small ui green button registration-next" ng-click="setPassword()">{% trans 'SAVE' %}</button>
        </div>
    </div>
    <div class="row registration-content-row"
         ng-show="$location.search().uidb64 && $location.search().token && rememberPasswordData.isComplete">
        <div class="inline-block">
            {% trans "Password was updated" %}
        </div>
    </div>
</script>
