{% load i18n %}
<script type="text/ng-template" id="step2">
    <div class="row registration-content-row">
        <p>
            {% trans "Let's get to know each other! " %}
        </p>
    </div>
    <div class="row registration-content-row">
        <p><span class="registration-step-label">{% trans 'STEP 2' %}</span></p>
    </div>
    <div class="row registration-content-row">
        <div class="row registration-content-row">
            <div class="inline-block">
                {% trans 'Tell us about yourself' %}
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-label inline-block">
                {% trans 'Full name:' %}
            </div>
            <div class="registration-input inline-block">
                <input type="text" ng-model="personal.name">
            </div>
            <div class="inline-block m-l-20">
                <input class="vertical-middle" type="checkbox" ng-model="personal.hideName">
                {% trans 'hide my name in the amateur version of the website' %}
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-label inline-block vertical-top">
                {% trans 'Profile photo:' %}
            </div>
            <div class="registration-input-photo inline-block">
                <div class="user-card">
                    <div class="user-avatar">
                        <div class="user-avatar-hex1">
                            <div class="user-avatar-hex2"
                                 style="background-image: url('{{ STATIC_URL }}images/avatar-sample.png')">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="file" class="file-input" name="avatar" id="avatar"
                       onchange="angular.element(this).scope().setAvatar(this.files)">
                <label for="avatar" class="small ui blue button avatar-select-btn">Выберите файл</label>
                <div class="avatar-upload-desc">Формат фото: jpg, jpeg, png</div>
            </div>
        </div>
        <div class="row registration-content-row">
            <div class="registration-label inline-block">
                {% trans 'My website:' %}
            </div>
            <div class="registration-input inline-block">
                <input type="text" ng-model="personal.website">
            </div>
            <div class="registration-passwords-comparison-label inline-block">
                <div ng-if="errors.website">
                    {% verbatim %}
                        <i class="fa fa-thumbs-o-down"></i> {{ errors.website[0] }}
                    {% endverbatim %}
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" class="small ui green button registration-next" ng-click="prevStep()">{% trans 'PREV' %}</button>
            <button type="button" class="small ui green button registration-next" ng-click="nextStep()">{% trans 'NEXT' %}</button>
            <button type="button" class="small ui button registration-next" ng-click="nextStep(true)">{% trans 'SKIP' %}</button>
        </div>
    </div>
</script>
