{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from future %}


{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span></li>
    </ul>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

<div id="content-main">
  <div class="inner-center-column">
    <div class="module" id="changelist">
      <div class="results">
        {% for transfer,players in leagues.items %}
        <h1>{{transfer}}</h1>
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th scope="col">{% trans 'Player' %}</th>
              <th scope="col">{% trans 'Player line' %}</th>
              <th scope="col">{% trans 'Points' %}(H)</th>
              <th scope="col">{% trans 'Points' %}(B)</th>
              <th scope="col">{% trans 'Goals' %}(H)</th>
              <th scope="col">{% trans 'Goals' %}(B)</th>
              <th scope="col">{% trans 'Assists' %}(H)</th>
              <th scope="col">{% trans 'Assists' %}(B)</th>
              <th scope="col">{% trans 'KH' %}(H)</th>
              <th scope="col">{% trans 'KH' %}(B)</th>
            </tr>
          </thead>
          <tbody>
            {% for data in players.values %}
            <tr class="{% cycle 'row1' 'row2' %}">
              <td><a href="{{data.player.admin_change_link}}">{{data.player}}</a></td>
              <td>{{data.player.get_line_display}}</td>
              <td>{{data.down_league.points__avg|floatformat:2}}</td>
              <td>{{data.up_league.points__avg|floatformat:2}}</td>
              <td>{{data.down_league.goals__avg|floatformat:2}}</td>
              <td>{{data.up_league.goals__avg|floatformat:2}}</td>
              <td>{{data.down_league.assists__avg|floatformat:2}}</td>
              <td>{{data.up_league.assists__avg|floatformat:2}}</td>
              <td>{{data.down_league.sf__avg|floatformat:2}}</td>
              <td>{{data.up_league.sf__avg|floatformat:2}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>{% trans 'Quality' %}: {{players.keeper_sf.q|floatformat:2}}</td>
              <td>{% trans 'Goalkeepers' %}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>{{players.keeper_sf.down|floatformat:2}}</td>
              <td>{{players.keeper_sf.up|floatformat:2}}</td>
            </tr>
            <tr>
              <td>{% trans 'Quality' %}: {{players.def_p.q|floatformat:2}}</td>
              <td>{% trans 'Defenders' %}</td>
              <td>{{players.def_p.down|floatformat:2}}</td>
              <td>{{players.def_p.up|floatformat:2}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>{% trans 'Quality' %}: {{players.off_p.q|floatformat:2}}</td>
              <td>{% trans 'Offenders' %}</td>
              <td>{{players.off_p.down|floatformat:2}}</td>
              <td>{{players.off_p.up|floatformat:2}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tfoot>
        </table>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
