{% extends "base.html" %}

{% block body %}
<section class="content">
    <div class="container home-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <div class="active section">Главная</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
