{% extends "base2.html" %}

{% block extrahead %}
    {{ block.super }}
    <style>
    </style>
    {% if object.rgb %}
    <style>
        .clubs-page .ui.tabular.menu .item {
            color: {{object.rgb}} !important; /* текст табов secondary */
        }
        .clubs-team-page .team-player-number{
            background: {{object.rgb}} !important; /* номер игрока secondary */
        }
        .clubs-page .heading{
            color: {{object.rgb}} !important; /* заголовок сезонов secondary */
        }
        .clubs-page .team-info .info-item .icon{
            color: {{object.rgb}} !important; /* иконки над меню primary */
        }
        .clubs-page .page-menu.ui.green.menu {
            background: {{object.rgb}} !important; /* цвет меню primary */
        }
        .clubs-page .ui-tabs-nav .ui-state-active {
            color: #000000 !important;
        }
        .clubs-page .ui.tabular.menu .ui-tabs-active .item{
            color: #000000 !important;
        }
        .player-select-table th {
            background: {{object.rgb}} !important;
        }
        .clubs-calendars-table th {
            background: {{object.rgb}} !important;
        }
        .clubs-team-table th {
            background: {{object.rgb}} !important;
        }
    </style>
    {% endif %}
{% endblock %}

