{% load i18n %}

<div class="ui green menu ">
    <a class="{% if clubs_menu_active == 'club-news' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:details' pk %}">Главное</a>
    <a class="{% if clubs_menu_active == 'club' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:details' pk %}">Состав команды</a>

    <a class="{% if clubs_menu_active == 'club-calendar' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:calendar' pk %}">Календарь игр</a>
    <a class="{% if clubs_menu_active == 'club-stats' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:stats' pk %}">Командная статистика</a>
    <a class="{% if clubs_menu_active == 'club-home' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:home' pk %}">Домашняя площадка</a>
    <a class="{% if clubs_menu_active == 'club-photos' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:photos' pk %}">Фотографии</a>
    <a class="{% if clubs_menu_active == 'club-fanzone' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:fanzone' pk %}">Фан-клуб</a>
    <a class="{% if clubs_menu_active == 'club-numbers' %}active {% endif %}item"
       href="{% url 'hockeyapp:clubs_v1:numbers' pk %}">{% trans "Player's numbers" %}</a>
    <!-- <a class="{% if clubs_menu_active == 'club-forum' %}active {% endif %}item" -->
    <!--    href="#">Форум</a> -->
    <!-- <a class="{% if clubs_menu_active == 'club-shop' %}active {% endif %}item" -->
    <!--    href="#">Магазин</a> -->
</div>

<!--
<div class="ui menu">
  <a class="item">
    Home
  </a>
  <a class="item">
    Messages
  </a>

</div>
 -->
