{% extends 'hockeyapp/clubs/main/clubs-main.html' %}

{% block tabs-content %}

{% include 'hockeyapp/clubs/main/tabs.html' with clubs_main_tab='main-coaches' %}
<!--tabs content items-->
<div class="b-tabs-content ui " ng-controller="ClubCoachesController">
    <div class="b-header b-header__md">
        <h2 class="b-header__text">
            Тренеры
        </h2>
    </div><!--b-header b-header__sm-->


    <div class="w-gallery-preview">
        <div class="b-header b-header__sm">
            <h3 class="b-header__text">
                Сезон 2014-15
            </h3>
        </div><!--b-header b-header__sm-->


        <div class="row w-gallery-preview__items w-gallery-preview__items__8">
             <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-9.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Александр</a>
                        </p>
                        <p class="">
                            главный тренер
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div>
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-17.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник помощника
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-10.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник тренер
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-11.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник помощника
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-12.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник помощника
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item-->
        </div><!--row-->
    </div><!--w-gallery-preview-->


    <div class="w-gallery-preview">
        <div class="b-header b-header__sm">
            <h3 class="b-header__text">
                Сезон 2013-14
            </h3>
        </div><!--b-header b-header__sm-->


        <div class="row w-gallery-preview__items w-gallery-preview__items__8">
             <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-13.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Александр</a>
                        </p>
                        <p class="">
                            главный тренер
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div>
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-14.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник тренер
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-15.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник помощника
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item--><div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-16.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">Иванов Игорь</a>
                        </p>
                        <p class="">
                            помощник помощника
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            сезон 2012-13
                        </p>
                    </div>
                </div><!--ui card-->
             </div><!--w-gallery-preview__item-->
        </div><!--row-->
    </div><!--w-gallery-preview-->

    {% verbatim %}
    <div class="w-gallery-preview" ng-repeat="season in seasonsData track by $index">
        <div class="b-header b-header__sm">
            <h3 class="b-header__text">
                {{season.title}}
            </h3>
        </div><!--b-header b-header__sm-->


        <div class="row w-gallery-preview__items w-gallery-preview__items__8">
             <div class="col-xs-6 col-sm-3 col-lg-3 col-md-4 w-gallery-preview__item" ng-repeat="coach in season.coaches">
                <div class="ui card">
                    <div class="w-gallery-preview__item__img img-wrap">
                        <figure class="figure-styled">
                            <a href="#" class="ui image">
                                <img class="ui image" src="/static/new/images/a-hockey/ava-13.jpg" data-src="/static/new/images/a-hockey/ava-13.jpg">
                            </a>
                        </figure>
                    </div>

                    <div class="w-gallery-preview__item__info">
                        <p class="name">
                            <a href="#">{{coach.fio}}</a>
                        </p>
                        <p class="">
                            {{coach.role}}
                        </p>
                    </div>

                    <div class="extra content w-gallery-preview__item__extra">
                        <p class="b-seasons-play">
                            {{season.title}}
                        </p>
                    </div>
                </div>
             </div><!--w-gallery-preview__item-->
        </div><!--row-->
    </div><!--w-gallery-preview-->

    <div class="ui large centered inline text loader" style="background: none !important">
        Загрузка...
    </div>

    {% endverbatim %}

    <!--<div class="w-btn">
        <a href="#" class="ui green tiny button">Предыдущий сезон</a>
    </div>-->
</div>
<!--tabs content items-->
{% endblock %}

{% block sticky_menu %}
    {% include 'hockeyapp/clubs/main/sticky_menu.html' with clubs_main_tab='main-coaches' clubs_menu_active='club-main' %}
{% endblock %}
