{% extends "hockeyapp/clubs/base.html" %}
{% load i18n %}

{% block title %}
{{title}}: календарь игр, хоккей  - Sportomatics.ru
{% endblock %}

{% block body %}
<input id="club-team-api" type="hidden" value="{% url 'hockeyapp:club-team-api' pk %}">
<input type="hidden" id="club-match-api" value="{% url 'api:hockey:matches' %}">
<input type="hidden" id="club-calendar-api" value="{% url 'hockeyapp:club-calendar-api' pk=pk %}">

<div class="w-page__main">
    <div class="body_inner bg-image">
        <main id="main">
            <section class="container">

                {% include "hockeyapp/clubs/clubs-header.html" with club_section="News" %}

                {% include "hockeyapp/clubs/menu.html" with clubs_menu_active="club-calendar" %}

                <section class="w-club__logo visible-xs">
                    <div class="b-club__logo">
                        <a href="#"><img src="/static/new/images/l-hockey/logo.jpg" /></a>
                    </div>
                    <h3 class="header-text w-club__name">
                        {{club}}
                    </h3>
                </section><!--w-club__logo-->

                <section class="w-page-tabs">
                    <div class="ui inline dropdown w-page-tabs__dropdown" tabindex="0">
                        <div class="text">Сезон 2014-15</div>
                        <i class="dropdown icon"></i>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item active selected" data-text="Сезон 2014-15">2014-15</div>
                            <div class="item" data-text="Сезон 2013-14">2013-14</div>
                            <div class="item" data-text="Сезон 2012-13">2012-13</div>
                            <div class="item" data-text="Сезон 2011-12">2011-12</div>
                        </div>
                    </div>

                <!--tabs content-->

                {% block tabs-content %}
                {% endblock %}

                <!--tabs content end-->

                </section><!--w-page-tabs-->
            </section><!--container-->
        </main>
        <footer id="footer">

        </footer>
    </div>
</div>
{% endblock %}
