* {
    padding:0;
    margin:0;
    zoom: 1;
}

*:focus {
    outline:none !important;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

html {
   font-size: 87.5%; 
}

body {
	background-color:#fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.body_inner {
	min-height:100%;
	position:relative;
	background-color: #f7f7f7;
}



/***************img*********************/

a img {
	display: block !important;
}

@media (max-width:768px) {
	
	a img {
		display: inline-block;
	}

}

.bg-image {
	background-attachment: scroll;
	background-position: left top;
	background-repeat: no-repeat;
}

.img-wrap {
	display: table;
	overflow: hidden;
}

.img-wrap,
.figure-styled {
	width: 100%;
}

.figure-styled {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.img-wrap .figure-styled img {
	display: inline;
	max-width: 100%;
}


/***************img*********************/



a {
	text-decoration: underline;
}
a:hover {
	color:#7aa93c; /*green*/
}
a.with-icon {
	text-decoration: none;
}
a.with-icon span {
	text-decoration: underline;
}



.block {
	display: block;
}



.container {
	background-color: transparent;
	overflow: visible;
}



@media (min-width:1200px) {

	#footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		left:0;
	}
	
}

#footer {
	padding-top: 22px;
	padding-bottom: 44px;
	background-color: #343434;
	color: #fff;
}



h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
	font-family: 'Roboto', sans-serif;	
}



header {
	color: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #DDDDDD;
	position: relative;
}


	
i {
	position: relative;
}
.i-top-1 {
	top: 1px;
}
.i-top-2 {
	top: 2px;
}
.i-top-3 {
	top: 3px;
}


main {
	padding-bottom: 66px
}
main > .container {
	background-color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
	padding-bottom: 36px;
	padding-top: 6px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	z-index: 1;
}
@media (min-width:768px){
	main > .container {
		position: relative;
	}
}



.navbar {
	border: 0;
	border-radius: 0;
}



p {
	margin-bottom: 0;
}



.text-center,
.ui.table td.text-center {
	text-align: center;
}
@media (min-width:768px) {
	.text-center-sm,
	.ui.table td.text-center-sm {
		text-align: center;
	}
}
@media (min-width:992px) {
	.text-center-md {
		text-align: center;
	}
}
@media (min-width:1200px) {
	.text-center-lg {
		text-align: center;
	}
}
.text-right {
	text-align: right;
}
@media (min-width:768px) {
	.text-right-sm {
		text-align: right;
	}
}
@media (min-width:992px) {
	.text-right-md {
		text-align: right;
	}
}
@media (min-width:1200px) {
	.text-right-lg {
		text-align: right;
	}
}



.text-small {
	font-size: 90%;
}



@media (max-width:360px) {
	.hidden-360 {
		display: none !important;
	}
}
@media (min-width:480px) and (max-width:767px) {
	.visible-480 {
		display: block !important;
	}
}



ul.list-inline li {
	display: inline-block;
}
ul.unstyled {
	list-style: none;
}


.unstyled {
	margin: 0;
}



.b-account-plan__item {
	box-shadow: 0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
	padding-top: 24px;
	border-radius: 3px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.b-account-plan__item.b-middle {
	padding-top: 36px;
	background-color: #F1F2E9;
	box-shadow: 0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5, 0 0 10px rgba(0,0,0,.2);
	position: relative;
	z-index: 10;
	padding-bottom: 12px;
}
.b-account-plan__item:not(.b-middle) {
	margin-top: 12px;
	opacity: .6;
}
.b-account-plan__item .b-header__text {
	text-transform: uppercase;
}
.b-account-plan__item .w-btn {
	margin-top: 36px;
	padding: 12px 0;
}
.b-account-plan__pluses li {
	font-size: 16px;
}
.b-account-plan__pluses li + li {
	margin-top: 12px;
}
.b-account-plan__price {
	padding: 12px;
	width: 108px;
	line-height: 82px;
	margin: 18px auto;
	text-align: center;
	background-color: #fff;
	border: 2px solid #d4d4d5;
	border-radius: 100%;
	font-size: 48px;
}
.b-account-plan__item:not(.b-middle).b-account-plan__price {
	color: #777;
}
.b-account-plan__item.b-middle .b-account-plan__price {
	border-color: #82b440;
}
.w-account-plan {
	width: 80%;
	margin: 60px auto;
}



.b-centered-btn {
	text-align: center;
}



.b-club__logo a {
	display: block;
}
.b-club__logo img {
	margin: 0 auto;
}
.w-club__logo {
	margin-top: 24px;
	margin-bottom: 30px;
	text-align: center;
}
.w-club__logo .header-text {
	margin-top: 6px;
}



.b-change-views {
	text-align: right;
	width: 122px;
}
.b-change-views__item {
	background-color: #ddd;
	width: 45px;
	text-align: center;
	border: 1px solid #DEDFDF;
	border-width: 0 1px;
	background-color: #f7f7f7;
	color: rgba(0,0,0,.5);
	text-decoration: none;
	font-size: 19px;
}
.b-change-views__item:active {
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.1) !important;
}
.b-change-views__item + .b-change-views__item {
	border-left: 0;
}
.b-change-views__item:last-of-type {
	border-right: 0;
}
.b-change-views__item:hover {
	background-color: #e8e8e8;	
}
.b-change-views__item:hover,
.b-change-views__item.active {
	color: rgba(0,0,0,.8);	
}
.b-change-views__item.active {
	background-color: #e8e8e8;
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.1) !important;
	cursor: default;
}
.b-change-views__item.b-filter__with-checkbox {
	min-width: 300px;
}



@media (min-width:768px){
	.b-command-info__logo {
		max-width: 180px;
	}
}
.b-command-info__logo img {
	margin: 0 auto;
}
.b-command-info__main .b-header__sm .b-header__sm-text {
	margin-bottom: 3px;
}
.b-command-info__main .b-header__sm p {
	font-size: 13px;
}



.b-comment__author {
	text-align: center;
}
.b-comment__author__img {
	height: 64px;
	border-radius: 100%;
	display: block;
	margin: 0 auto;
	width: 64px;
	overflow: hidden;
	position: relative;
}
.b-comment__author__img img{
	max-width: 64px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.b-comment__author__name {
	line-height: 1.2;
	margin-top: 6px;
}
.b-comment__more {
	text-align: right;
	margin-top: 6px;
}
.b-comment__text {
	position: relative;
}
@media (max-width:767px) {
	.b-comment__text {
		margin-top: 24px;
	}
}
@media (min-width:768px) {
	.b-comment__text:after,
	.b-comment__text:before {
		content: "";
		display: table;
		position: absolute;
		width: 0; 
		height: 0;
		top: 15px;
		
		border: 6px solid transparent; 
	}
	.b-comment__text:before {
		left: 0;
		border-right:8px solid #e6e6e6; 
	}
	.b-comment__text:after {
		left: 2px;
		border-right:8px solid #fff;
	}
}
.b-comment__text .inner {
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	box-shadow: 0 1px 4px 0 rgba(39,41,43,.05);
	padding: 12px 15px;
}
.w-comment {
	margin-top: 24px;
}
.w-comment + .w-comment {
	padding-top: 36px;
	border-top: 1px dashed #d4d4d4;
}
@media (min-width:1200px) {
	.w-comment__full-page .b-comment__author {
		max-width: 126px;
	}
	.w-comment__full-page .b-comment__text {
		min-width: 1010px;
	}
}



.b-dotted {
	text-decoration: none;
}
.b-dotted span {
	border-bottom: 1px dotted #009fda;
}
.desktop-body .b-dotted:hover span {
	border-color: #7aa93c;
}
.b-dotted i {
	font-family: Dropdown;
	line-height: 1;
	height: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	width: auto;
	top: 2px;
}
.b-dotted i:before {
	content: "\f0d7";
}



.b-forgot-pass {
	margin-top: 8px;
}



.b-header__md {
	margin-bottom: 36px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.b-header__sm {
	margin-bottom: 18px;
	padding-bottom: 6px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.b-header__xs {
	margin-bottom: 10px;
}
.b-header .b-header__text {
	margin-bottom: 0;
}
.b-header .b-header__text a.small {
	font-weight: 400;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	top: -4px;
	font-size: 10px;
	text-decoration: none;
}

.b-header__md.b-header__filter-in {
	background-color: #f6f6f6;
	border: 1px solid rgba(0,0,0,.1);
	padding-left: 8px;
	padding-bottom: 0;
	border-radius: 3px;
}
.b-header__md.b-header__filter-in .b-header__text {
	padding: 6px 0;
}



.b-inline {
	display: inline-block;
	vertical-align: middle;
}



@media (max-width:768px){
	.b-games-calendar__item {
		margin-bottom: 24px;
	}
}
.b-games-calendar__item .ui.table td {
	text-align: center;
	border: none;
}
.b-game-stats {
	height: 300px; /*thumb*/
}



@media (max-width:767px) {
	.b-logo {
		position: absolute;
		z-index: 10;
	}
}
@media (min-width:768px) and (max-width:768px) {
	.b-logo a {
		display: block;
		padding-top: 12px;
	}
	.b-logo a img {
		margin: 0 auto;
	}
}



.b-lose.ui.label {
	background-color: #FFB8B8;
}
.b-lose-text,
.b-negative-text {
	color: #D34836;
}
.b-win,
.b-win.ui.label {
	background-color: #BBDB91;
}
.b-win-text,
.b-positive-text {
	color: #86B844;
}



.b-notactive {
	opacity: .3;
}



.b-paging__styled {
	padding-top: 12px;
	margin-top: 24px;
	border-top: 1px solid rgba(0,0,0,.1);
	text-align: center;
}
.b-paging__styled .ui.button + .ui.button {
	margin-left: 10px
}



.b-player__subinfo__events {
	width: 150px;
	text-align: center;
	margin: 0 auto;
}
.b-player-data__list + .b-player-data__list {
	border-left: 1px solid #ddd;
}
@media (min-width:1024px) {
	.b-player-info__img {
		max-width: 200px;
	}
}
.b-player-info__img img {
	max-height: 200px;
	border: 1px solid #d4d4d5;
	border-radius: 3px;
}
.w-player-info {
	margin-top: 24px;
	margin-bottom: 24px;
}
@media (min-width:1024px) {
	.w-player-info .b-player__button {
		min-width: 384px;
		padding-top: 55px;
	}
}

.b-player__subinfo {
	margin-bottom: 36px;
	margin-top: 36px;
}



.b-row + .b-row {
	margin-top: 36px;	
}
.b-row-lg + .b-row-lg {
	margin-top: 48px;	
}
.w-section + .w-section {
	margin-top: 36px;
}



.b-score {
	padding: 0;
	line-height: 49px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
@media (min-width:768px) and (max-width:768px) {
	.b-score {
		line-height: 90px;
	}
}



.b-shirt-number {
	text-align: center;
}
.b-shirt-number span {
	font-size: 4rem;
	line-height: 1.1;
	display: inline-block;
	width: 81px;
	text-align: center;
	padding: 10px;
	background-color: #82b440;
	color: #fff;
	border-radius: 100%;
}
.w-shirt-number + .w-shirt-number {
	margin-top: 36px;
	padding-top: 35px;
	border-top: 1px solid rgba(0,0,0,.1);
}
@media (max-width:767px) {
	.w-shirt-number .w-gallery-preview {
		margin-top: 24px;
	}
}



.b-table-lg .w-gallery-preview__item__img {
	height: 100%;
}
@media (min-width:768px){
	.b-table-lg .w-gallery-preview__item__img .img-wrap {
		width: 44px;
	}
}
.b-table-lg .w-gallery-preview__item__img .figure-styled img {
	max-width: 34px !important;
}
.b-table-lg .label {
	font-weight: bold;
}
@media (min-width:768px){
	.b-table-lg .w-gallery-preview__item__img .img-wrap,
	.b-table-lg .w-gallery-preview__item__img p {
		display: inline-block;
		vertical-align: middle;
	}
}



@media (max-width:767px) {
	.b-talisman {
		margin-bottom: 24px;
	}
}
@media (min-width:768px) and (max-width:1199px) {
	.b-talisman__img img {
		width: 100%;
	}
}
.b-talisman__name {
	text-align: center;
}
.w-talisman .b-send-interview {
	margin-top: 24px;
}



.b-text .b-text__p {
	margin-bottom: 12px;
}
.w-text .b-text__img {
	padding-right: 0;
}
@media (max-width:768px) {
	.w-text .b-text__img {
		margin-right: 15px;
	}
}
@media (min-width:768px) and (max-width:1199px) {
	.b-text__img .img-responsive {
		width: 100%;
	}
}



@media (max-width:767px) {
	.w-breadcrumb {
		position: absolute;
	}
}



@media (max-width:767px) {
	.row-xs {
		margin-left: -15px;
		margin-right: -15px;
	}
}



.w-center-form {
	width: 480px;
	margin: 60px auto;
	box-shadow:  0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5;
	border-radius: 6px;
	padding: 24px 30px;
}



.w-btn label,
.w-btn .ui.slider.checkbox label,
.w-btn .ui.toggle.checkbox label {
	line-height: 36px;
	margin-right: 14px;
}
@media (max-width:767px) {
	.w-btn label,
	.w-btn .ui.slider.checkbox label,
	.w-btn .ui.toggle.checkbox label {
		padding-left: 55px;
	}
}



.w-command-calendar .b-command__name {
	margin-top: 6px;
}
.w-command-calendar__info {
	font-size: 12px;
	margin-top: 12px;
}
@media (min-width:768px) and (max-width:768px) {
	.w-command-calendar__info,
	.w-command-calendar__item .b-header__sm {
		max-width: 267px;
	}
}
.w-command-calendar__info .date {
	margin-bottom: 6px;
}
.w-command-calendar__info ul li {
	line-height: 1.42;
}
.w-command-calendar__item {
	text-align: center;
}
.w-command-calendar__item-bg {
	padding: 12px 15px;
	background-color: #f6f6f6;
	border: 1px solid rgba(0,0,0,.1);
}
@media (min-width:992px) {
	.w-command-calendar__item:not([class*=col-]) {
		max-width: 237px;
		border-radius: 3px;
	}
}
@media (max-width:767px) {
	.w-command-calendar .w-command-calendar__item + .w-command-calendar__item {
		margin-top: 30px;
	}
}



.w-command-info__main {
	border-bottom: 1px dashed #d4d4d5;
	padding-bottom: 36px;
}



.b-filter__sort {
	margin-bottom: 24px;
}
.b-filter__sort .ui.dropdown {
	padding-top: 11px;
	padding-bottom: 12px;
}
.b-filter__sort label {
	margin-right: 5px;
}



.w-gallery-preview + .w-gallery-preview {
	margin-top: 24px;
}
@media (max-width:768px) {
	.w-gallery-preview:not(.w-gallery-preview__in-block) {
		margin-top: 36px;
	}
}
.w-gallery-preview__item {
	margin-bottom: 24px;
	float: none;
	display: inline-block;
	vertical-align: top;
}
@media (max-width:479px) {
	.w-gallery-preview__item.col-xs-6 .w-gallery-preview__item__img.img-wrap .figure-styled img {
		max-width: 138px;
	}
}
@media (max-width:359px) {
	.w-gallery-preview__item.col-xs-6 .w-gallery-preview__item__img.img-wrap .figure-styled img {
		max-width: 118px;
	}
}
.w-gallery-preview__item__img {
	max-height: 210px;
	overflow: hidden;
}
@media (min-width:768px) {
	.w-gallery-preview__item__img.img-wrap .figure-styled img {
		width: 100%;
	}
}
.w-gallery-preview__item__img .content {
	min-height: 183px;
}
.w-gallery-preview__item__img img {
	border-radius: 2px 2px 0 0;
}
.w-gallery-preview__item__info .b-transfered:not(:hover) {
	color: rgba(0,0,0,.4);
}
.w-gallery-preview__item__info {
	padding: 12px 8px;
}
.w-gallery-preview__item__info .name {
	margin-bottom: 6px;
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
}
.w-gallery-preview__item__info .name a {
	color: #333;
	text-decoration: none;
}
.w-gallery-preview__item__info .nickname {
	margin-bottom: 12px;
}
.w-gallery-preview__item__info p + p {
	margin-top: 6px;
}
.w-gallery-preview__item__extra .b-seasons-play {
	text-align: center;
}
.w-gallery-preview__item__extra.extra {
	padding: 8px !important;
}
.w-gallery-preview__item .ui.feed>.event>.label {
	vertical-align: middle;
	width: 36px;
}
.w-gallery-preview__item .ui.feed>.event>.label+.content {
	padding-left: 3px;
}
.w-gallery-preview__item .ui.feed>.event>.label figure {
	display: block;
	width: 25px;
	height: 25px;
	overflow: hidden;
	margin: 0;
	border-radius: 100%;
}
.w-gallery-preview__item .ui.feed>.event>.label img {
	border-radius: 0;
}
@media (max-width:359px) {
	.w-gallery-preview__item__extra .ui.feed>.event {
		margin-top: 12px;
	}
	.w-gallery-preview__item__extra .ui.feed>.event>.label {
		height: auto;
	}
	.w-gallery-preview__item__extra .ui.feed>.event>.label,
	.w-gallery-preview__item__extra .ui.feed > .event > .label + .content {
		display: block;
	}
	.w-gallery-preview__item__extra .ui.feed > .event > .label + .content {
		padding: 0;
	}
}

.w-gallery-preview__items:not(.w-gallery-preview__items__5) {
	margin: 0 -10px;
}
.w-gallery-preview__items:not(.w-gallery-preview__items__5) .w-gallery-preview__item {
	padding: 0 10px;
}

@media (min-width:480px) and (max-width:767px) {
	.w-gallery-preview__items .w-gallery-preview__item {
		width: 33.3333%;
	}
	.w-gallery-preview__item.col-xs-6 .w-gallery-preview__item__img.img-wrap .figure-styled img {
		max-width: 126px;
	}
}

@media (min-width:540px) and (max-width:767px) {
	.w-gallery-preview__item.col-xs-6 .w-gallery-preview__item__img.img-wrap .figure-styled img {
		max-width: 155px;
	}
}

@media (min-width:1024px) {
	.w-gallery-preview__items__6 .w-gallery-preview__item {
		width: 20%;
	}
}
@media (min-width:1200px) {
	.w-gallery-preview__items__6 .w-gallery-preview__item {
		width: 16.6666%;
	}
}

@media (min-width:1024px) {
	.w-gallery-preview__items__8 .w-gallery-preview__item {
		width: 16.6666%;
	}
}
@media (min-width:1200px) {
	.w-gallery-preview__items__8 .w-gallery-preview__item {
		width: 12.5%;
	}
}
/*****@media (min-width:768px) {
	.w-gallery-preview__items:not(.w-gallery-preview__items__5) .w-gallery-preview__item__img {
		height: 150px;
	}
}
.w-gallery-preview__items.w-gallery-preview__overflow {
	overflow: hidden;
	padding: 1px;
}
.w-gallery-preview__items__6.w-gallery-preview__overflow {
	height: 287px;
}
@media (min-width:360px) {
	.w-gallery-preview__items__6.w-gallery-preview__overflow {
		height: 312px;
	}
}
@media (min-width:480px) {
	.w-gallery-preview__items__6.w-gallery-preview__overflow {
		height: 332px;
	}
}
@media (min-width:768px) {
	.w-gallery-preview__items__6.w-gallery-preview__overflow {
		height: 298px;
	}
}
@media (min-width:1024px) {
	.w-gallery-preview__items__6.w-gallery-preview__overflow {
		height: 308px;
	}
}
@media (min-width:1200px) {
	.w-gallery-preview__items__6.w-gallery-preview__overflow {
		height: 312px;
	}
}
.w-gallery-preview__items__8.w-gallery-preview__overflow {
	height: 287px;
}
@media (min-width:360px) {
	.w-gallery-preview__items__8.w-gallery-preview__overflow {
		height: 312px;
	}
}
@media (min-width:480px) {
	.w-gallery-preview__items__8.w-gallery-preview__overflow {
		height: 334px;
	}
}
@media (min-width:768px) {
	.w-gallery-preview__items__8.w-gallery-preview__overflow {
		height: 304px;
	}
}
@media (min-width:1024px) {
	.w-gallery-preview__items__8.w-gallery-preview__overflow {
		height: 310px;
	}
}
@media (min-width:1200px) {
	.w-gallery-preview__items__8.w-gallery-preview__overflow {
		height: 292px;
	}
}*****/



.w-head__navbar {
	background-color: #000;
}
.w-head__navbar .b-menu li.label {
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px;
}
.w-head__navbar .b-menu li {
	display: block;
}
@media (min-width:768px){
	.w-head__navbar .b-menu li {
		display: inline-block;
	}
}
.w-head__navbar .b-menu li a {
	padding: 10px 15px 9px;
	display: block;
	font-size: 14px;
	text-decoration: none;
}
@media (min-width:768px){
	.w-head__navbar .b-menu li a {
		padding: 10px 9px 9px;
	}
}
.w-head__navbar .b-menu li:not(:hover) a,
.w-head__navbar .b-menu li.ui.dropdown>.default.text {
	color: rgba(255,255,255,.8);
}
.w-head__navbar .b-menu li.active a,
.w-head__navbar .b-menu li.active:hover a,
.w-head__navbar .b-menu li.ui.dropdown:hover>.default.text,
.ui.toggle.checkbox input[type=checkbox]:checked~label,
.ui.toggle.checkbox input[type=radio]:checked~label {
	color:#7aa93c; /*green*/
}
.w-head__navbar-two .b-menu li.active a,
.desktop-body .w-head__navbar-two .b-menu li a:hover {
	color: #fff;
	box-shadow: 0 1px 4px 0 rgba(39,41,43,.15);
}



.w-head__navbar-two {
	background-color: #f1f2e9;
	padding-bottom: 6px;
	padding-top: 6px;
}
@media (max-width:767px){
	.w-head__navbar-two .navbar-header {
		margin-right: -30px;
		margin-left: -30px;
		min-height: 75px;
		padding-top: 10px;
	}
	.w-head__navbar-two .navbar-toggle {
		color: #333;
	}
}
@media (min-width:768px){
	.w-head__navbar-two .b-menu {
		display: table;
	}
	.w-head__navbar-two .b-menu li {
		height: 66px;
		display: table-cell;
		vertical-align: middle;
	}
}
@media (min-width:768px){
	.w-head__navbar-two .b-menu li + li {
		padding-left: 5px;
	}
}
.w-head__navbar-two .b-menu li a {
	padding: 7px 23px;
	border-radius: 3px;
	font-weight: 600;
	font-size: 15px;
	display: block;
	text-decoration: none;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
}
.w-head__navbar-two .b-menu .one a {
	color: #e48c22; /*orange*/
}
.w-head__navbar-two .b-menu .one.active a,
.desktop-body .w-head__navbar-two .b-menu .one a:hover {
	background-color: #e48c22; /*orange*/
}
.w-head__navbar-two .b-menu .two a {
color: #a1173b; /*dark red*/
}
.w-head__navbar-two .b-menu .two.active a,
.desktop-body .w-head__navbar-two .b-menu .two a:hover {
	background-color: #a1173b; /*dark red*/
}
.w-head__navbar-two .b-menu .three a {
color: #649792; /*light green*/
}
.w-head__navbar-two .b-menu .three.active a,
.desktop-body .w-head__navbar-two .b-menu .three a:hover {
	background-color: #649792; /*light green*/
}



.w-labeled-list li {
	line-height: 1.33;
}
.w-labeled-list li .b-labeled,
.w-labeled-list .b-labeled {
	font-weight: bold;
}
.w-labeled-list li + li {
	margin-top: 4px;
}
table.w-labeled-list {
	line-height: 1.42
}
table.w-labeled-list td .block {
	display: block;
}



.w-main-nav {
	margin-bottom: 24px;
}
@media (min-width:768px){
	.w-main-nav {
		margin-top: 18px;
	}
}
.w-main-nav__b-menu {
	width: 100%;
	display: table;
}
.ui.button,
.ui.button.blue,
.ui.button.green {
	box-shadow: 0 1px 4px 0 rgba(39,41,43,.15);
}
.w-main-nav__b-menu.ui.inverted.green.menu,
.ui.button.green {
	background-color: #82b440;
}
.ui.toggle.checkbox input[type=checkbox]:checked~label:before,
.ui.toggle.checkbox input[type=radio]:checked~label:before {
	background-color: #82b440;
}
.w-main-nav__b-menu.ui.menu .item {
	display: block;
	padding: 0;
}
.w-main-nav__b-menu.ui.menu .item.ui.pointing.dropdown>.menu:after {
	width: 5px;
	height: 5px;
	top: -3px;
	left: 100%;
	margin-left: -25px;
	
}
@media (min-width:768px){
	.w-main-nav__b-menu.ui.menu > .item {
		display: inline-block;
	}
}
.w-main-nav__b-menu.ui.menu .item a {
	padding: 12px 10px;
	display: block;
	text-decoration: none;
}
@media (min-width:992px){
	.w-main-nav__b-menu.ui.menu .item a {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.w-main-nav__b-menu.ui.menu .item.active a,
.w-main-nav__b-menu.ui.menu .item a:active,
.ui.button.green:active,
.ui.toggle.checkbox input[type=checkbox]:checked~label:before {
	box-shadow: 1px 1px 10px rgba(0,0,0,.2) inset;
}
@media (max-width:767px){
	.w-main-nav__b-menu.ui.menu {
		border-radius: 0;
	}
}
@media (min-width:768px){
	.w-main-nav__b-menu.ui.menu .item:first-of-type a {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}
.desktop-body .w-main-nav__b-menu .item a:hover,
.w-main-nav__b-menu.ui.menu .item.active a,
.ui.button.green:hover {
	background-color:#7aa93c;
}
.w-main-nav__b-menu.ui.menu .w-main-nav__b-menu__logo.item a {
	padding: 0;
	display: block;
	background-color: #fff;
}
.w-main-nav__b-menu__logo.item a img {
	border-radius: 2px 0 0 2px;
	max-height: 42px;
}



.w-map {
	margin-top: 24px;
	overflow: hidden;
	height: 600px;
}



.w-mask {
	position: relative;
}
.w-mask:not(:hover) .b-mask {
	opacity: 0;
}
.w-mask .b-mask {
	background-color: rgba(0,0,0,.6);
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	transition: opacity linear .3s;
}
.w-mask .b-mask a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



.w-menu .navbar-collapse {
	padding: 0;
}
@media (max-width:767px) {
	.w-menu {
		margin: 0 -16px;
	}
}



.w-page-tabs {
	position: relative;
}
.w-page-tabs__dropdown.ui.dropdown {
	border: 0;
	min-width: 100px;
}
.w-page-tabs__dropdown.ui.dropdown >.text {
	margin-right: 0;
}
@media (min-width:768px){
	.w-page-tabs__dropdown.ui.dropdown {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}
@media (min-width:768px) {
	.w-page-tabs__dropdown.ui.dropdown {
		position: absolute;
		left: 2px;
		top: 11px;
	}
}
.w-page-tabs__tabs.ui.menu {
	margin-bottom: 0;
}
.w-page-tabs__tabs.ui.menu .item {
	cursor: pointer;
	padding-bottom: 9px;
	line-height: 14px;
}
@media (min-width:768px) {
	.w-page-tabs__with-select.ui.menu {
		padding-left: 126px;
	}
}
@media (min-width:1200px) {
	.w-page-tabs__with-select.ui.menu {
		padding-left: 196px;
	}
}
.desktop-body .w-page-tabs__dropdown.ui.dropdown:hover {
	box-shadow: none;
}
@media (min-width:768px) and (max-width:991px) {
	.w-page-tabs__with-select.ui.menu .item {
		padding-left: 8px;
		padding-right: 8px;
	}
}
.w-page-tabs__with-select.ui.menu .item.active {
	box-shadow: 0 -2px 4px 0 rgba(0,0,0,.1)
}
.w-page-tabs .b-tabs-content {
	border: 1px dashed #d4d4d5;
	border-radius: 6px;
	padding: 12px 15px;
}
@media (min-width:768px) {
	.w-page-tabs .b-tabs-content {
		padding-bottom: 36px;
		padding-top: 36px;
		border-top: 0;
		border-radius: 0 0 6px 6px;
	}
}



.w-search__top {
	padding-top: 14px;
}
.w-search__top .b-search .ui {
	display: block;
}
.w-search__top .b-search .c-search {
	width: 100%;
}



.w-table {
	display: table;
	width: 100%;
}
.w-table .b-cell {
	display: table-cell;
	vertical-align: middle;
}



.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-none {
	float: none;
}

@media (min-width:768px) {

	.float-left-sm {
		float: left;
	}
	
	.float-right-sm {
		float: right;
	}

	.float-none-sm {
		float: none;
	}
		
}

@media (min-width:992px) {

	.float-left-md {
		float: left;
	}
	
	.float-right-md {
		float: right;
	}

	.float-none-md {
		float: none;
	}
		
}

@media (min-width:1200px) {

	.float-left-lg {
		float: left;
	}
	
	.float-right-lg {
		float: right;
	}

	.float-none-lg {
		float: none;
	}

}

.w-clearboth:after {
	content: "";
	display: table;
	clear: both;
}


/***************bootstrap-styled*********************/

@media (max-width:767px) {
	
	.navbar-collapse {
		box-shadow: none;
	}

	.navbar-header {
		min-height: 50px;
	}
	
	.navbar-toggle {
		font-size: 28px;
		margin: 0;
		line-height: 24px;
	}

}

/***************bootstrap-styled*********************/


/***************semantic-styled*********************/
figure {
	margin: 0;
}


@media (max-width:767px){
	.ui.buttons .button {
		margin-bottom: 6px;
	}
}

.ui.breadcrumb {
	padding-top: 12px;
}
@media (min-width:768px){
	.ui.breadcrumb {
		padding-top: 7px;
	}
}
.ui.breadcrumb a {
	color: #999;
	text-decoration: underline;
}
.ui.breadcrumb a:hover {
	color:#7aa93c; /*green*/
}
.ui.breadcrumb .active {
	color: #666;
}
.ui.small.breadcrumb {
	font-size: 11px;	
}




.ui.button {
	padding: 5px 15px;
	line-height: 24px;
	width: auto !important;
	text-align: center;
	background-color: #f7f7f7;
	margin-bottom: 0 !important;
	margin-right: 0;
}
.ui.button.mini {
	line-height: 1.2;
}
.ui.button.tiny {
	padding-bottom: 2px;	
	padding-top: 2px;	
}
.ui.button:active,
.ui.button.active,
.ui.button.active:hover {
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.1) !important;
}
.ui.button.active,
.ui.button.active:hover {
	cursor: default;
}
.ui.button.green:active {
	background-color: #699D24;
}
.ui.button + .ui.button {
	border-left: none;
}
.ui.button>.icon {
	margin-right: 0;
	opacity: 1;
}
.ui.button.red {
	background-color: #D34836;	
}
.ui.buttons .button {
	font-weight: 400;
	font-size: 13px;	
}
.ui.button.animated .hidden.content {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: 0;
}



.ui.card .w-btn {
	margin-top: 12px;
}
.ui.card>.content p, .ui.cards>.card>.content p {
	margin-bottom: 0;
}



.ui.slider.checkbox label:after,
.ui.slider.checkbox label:before,
.ui.toggle.checkbox label:after,
.ui.toggle.checkbox label:before,
.ui.checkbox input[type=radio] {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	height: 22px;
}
.ui.toggle.checkbox label {
	padding-top: 0;
}



.dropdown ul li.divider {
	display: block;
}
.ui.selection.dropdown.inline .menu {
	width: 100%;
	margin: 0;
	border-top-width: 1px !important;
}
.ui.dropdown>.text>.icon {
	margin-right: 0;
	margin-left: 6px;
	width: auto;
}
.ui.top.right.pointing.dropdown>.menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
@media (max-width:767px) {
	.ui.top.right.pointing.dropdown > .menu{
		position: relative;
		border-radius: 0;
	}
	.ui.top.right.pointing.dropdown > .menu::after {
		left: 20px;
	}
}
.ui.selection.active.dropdown>.text:not(.default),
.ui.selection.visible.dropdown>.text:not(.default) {
	font-weight: bold;
}
.ui.selection.dropdown.visible, .ui.selection.visible.dropdown:hover {
	box-shadow: none;
}



.ui.form input[type=text]:focus,
.ui.form input[type=password]:focus,
.ui.input input:focus {
	box-shadow: 0 1px 4px 0 rgba(39,41,43,.15);
	border: 1px solid rgba(39,41,43,.15);
	border-radius: 3px;
}



.ui.feed {
	margin: 0;
}
.ui.feed>.event>.label+.content {
	padding-left: 8px;
	margin-bottom: 0;
}



.ui.form .field>label {
	font-size: inherit;
}



@media (max-width:767px) {
	.ui.floating.label {
		right: 15px;
		top: 6px;
		left: auto;
	}
}



.ui.green.label {
	background-color: #82b440 !important;
}



.ui.grid {
	margin: 0;
}



.ui.statistic {
	max-width: 100%;
	display: block;
}
.ui.statistic > .label {
	font-size: 13px;
}
.ui.statistic > .value {
	font-size: 2rem;
}
@media (min-width:768px) {
	.ui.statistic > .value {
		font-size: 2.4rem;
	}
}


.b-table-lg td img.ui.image {
	max-width: 32px;
	margin-right: 8px;
}
@media (min-width:768px) and (max-width:1199px) {
	.b-table-lg .b-player {
		min-width: 220px !important;
	}
}
.ui.table.b-table-fixed {
    table-layout: fixed;
}
.ui.table td,
.ui.table tr > td,
.ui.table tr > th {
	padding: 6px 7px;
}
@media (max-width:1199px) {
	.ui.table:not(.b-table-fixed) td,
	.ui.table:not(.b-table-fixed) tr > td,
	.ui.table:not(.b-table-fixed) tr > th {
		min-width: 10%;
	}
	.ui.table td:not(.b-td-xs),
	.ui.table tr > td:not(.b-td-xs),
	.ui.table tr > th:not(.b-td-xs) {
		min-width: 10%;
	}
}
@media (max-width:767px) {
	.ui.table:not(.unstackable) td:first-child,
	.ui.table:not(.unstackable) th:first-child,
	.ui.table:not(.unstackable) td:last-child,
	.ui.table:not(.unstackable) th:last-child {
		padding-bottom: 0;
		padding-top: 7px;
		line-height: 1.4;
	}
	.ui.table:not(.unstackable) td:last-child,
	.ui.table:not(.unstackable) th:last-child {
		padding-top: 0;
		padding-bottom: 7px;
	}
}
@media (max-width:767px){
	.ui.table:not(.unstackable) tr.hidden-xs {
		display: none !important;
	}
}
.ui.table.colored-th:not(.celled),
.ui.table.colored-th:not(.celled) tr th {
	border: none;
}
.ui.table.colored-th tr th {
	text-transform: uppercase;
}
.ui.celled.table.green-th,
.ui.celled.table.green-th tr th {
	border-color: #72A036;
}
.ui.table.green-th tr th {
	background-color: #82b440;
}
.ui.celled.table.grey-th,
.ui.celled.table.grey-th tr th {
	border-color: #666;
}
.ui.table.grey-th tr th {
	background-color: #555;
	color: #fff;
}
.ui.table.grey-th tr th:not(.text-center-sm) {
	text-align: left;
}
.ui.table.grey-th tr th a {
	color: #fff;
	text-decoration: none;
	position: relative;
}
.ui.table tr th a i {
	width: 4px;
	margin-right: 0;
	margin-left: 3px;
	visibility: hidden;
	position: absolute;
	margin-top: 2px;
}
.desktop-body .ui.table tr th a:hover i {
	visibility: visible;
}
.ui.tabl2e tr th.b-table-team {
	min-width: 120px;
}
@media (max-width:767px) {
	.ui.table.grey-th tr .figure-styled {
		text-align: left;
	}
}
.ui.unstackable.table.green-th tr th {
	color: #fff;
}
@media (max-width:767px) {
	.ui.unstackable.table.green-th td {
		text-align: center;
	}
}


.ui.ribbon.label {
	position: absolute;
	top: 12px;
	left: -14px;
	padding-left: 9px;
	z-index: 10;
}
.ui.ribbon.label:after {
	border-right-color: #72A036;
}



.ui.vertical.menu {
	width: 100%;
}

/***************semantic-styled*********************/



/***************push-menu*********************/
.mp-level,
.mp-menu,
.mp-pusher {
	height: auto;
}
.scroller {
	overflow: hidden;
}
/***************push-menu*********************/