{% extends "base.html" %}

{% block body %}
<section class="content">
    <div class="container player-card-short-page">
        <div class="breadcrumbs">
            <div class="ui small breadcrumb">
                <a class="section">ХОККЕЙ</a>
                <div class="divider"> / </div>
                <a class="section">Игроки</a>
                <div class="divider"> / </div>
                <div class="active section">Общение</div>
            </div>
            <div class="search-block">
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="player-card-block">
                        <img src="../static/images/player-avatar.jpg" width="105" alt="" class="player-card-avatar">
                        <div class="player-card-desc">
                            <div class="player-card-name">Ковальчук Илья Валерьевич</div>
                            <div class="player-card-amplua">Амплуа: нападающий</div>
                            <ul class="player-card-list">
                                <li class="player-card-item">Рост: 180 см.</li>
                                <li class="player-card-item">Вес: 89 кг.</li>
                                <li class="player-card-item">Хват: правый</li>
                            </ul>
                            <ul class="player-card-list player-card-list_nb">
                                <li class="player-card-item">Дата рождения: 19 марта 1983г.</li>
                                <li class="player-card-item">Возраст: 24 года 5 месяцев</li>
                                <li class="player-card-item">Гражданство: Россия</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="align-center">
                        <a class="ui mini orange button player-like-btn">+мне нравится этот игрок</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content page-container">
            <div class="ui green inverted menu page-menu">
                <a class="item">Краткая информация</a>
                <a class="item">Спортивные показатели</a>
                <a class="item">Клубы</a>
                <a class="item">Тренеры</a>
                <a class="item">Партнеры по команде</a>
                <a class="item">Фотографии</a>
                <a class="active item">Общение</a>
                <a class="item">Новости</a>
            </div>
            <div class="page-inner-container">
                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column">
                            <div class="heading heading_communication">Общение</div>
                            <form action="#" class="ask-question-form">
                                <div class="ask-question-block">
                                    <textarea name="question" id="question" class="ask-question-field" placeholder="Задай свой вопрос Сергею!"></textarea>
                                </div>
                                <button class="ui blue small button ask-question-btn">Отправить</button>
                            </form>
                            <div class="heading heading_communication">Ответы на вопросы</div>
                            <ul class="answers-list">
                                <li class="answer-item">
                                    <span class="user-avatar">
                                        <img src="../static/images/player1.png" alt="" class="user-avatar-image">
                                    </span>
                                    <a href="#" class="user-name">Иванова Екатерина</a>
                                    <span class="question-date">12 августа 2014</span>
                                    <div class="question-text">Как звали твою первую девушку? И помнишь ли ты ее?</div>
                                    <div class="answer-block">
                                        <span class="player-avatar">
                                            <img src="../static/images/player1.png" alt="" class="player-avatar-image">
                                        </span>
                                        <span class="answer-container">
                                            <span class="answer-text">Ее звали Катя, и я ее совсем не помню.</span>
                                        </span>
                                    </div>
                                </li>
                                <li class="answer-item">
                                    <span class="user-avatar">
                                        <img src="../static/images/player1.png" alt="" class="user-avatar-image">
                                    </span>
                                    <a href="#" class="user-name">Иванова Екатерина</a>
                                    <span class="question-date">12 августа 2014</span>
                                    <div class="question-text">Как звали твою первую девушку? И помнишь ли ты ее?</div>
                                    <div class="answer-block">
                                        <span class="player-avatar">
                                            <img src="../static/images/player1.png" alt="" class="player-avatar-image">
                                        </span>
                                        <span class="answer-container">
                                            <span class="answer-text">Ее звали Катя, и я ее совсем не помню.</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="eight wide column">
                            <div class="heading heading_news">Новости и интервью</div>
                            <ul class="player-event-list">
                                <li class="player-event-item">
                                    <img src="http://lorempixel.com/200/160/sports/" alt="" class="player-event-image">
                                    <div class="player-event-date">12 ноября 2014</div>
                                    <div class="player-event-title">Первый год нового времени</div>
                                    <div class="player-event-text">УКРК "Арена 2000" (Универсальный культурно-развлекательный комплекс "Арена 2000. Локомотив")...</div>
                                </li>
                                <li class="player-event-item">
                                    <img src="http://lorempixel.com/200/160/sports/" alt="" class="player-event-image">
                                    <div class="player-event-date">12 ноября 2014</div>
                                    <div class="player-event-title">Первый год нового времени</div>
                                    <div class="player-event-text">УКРК "Арена 2000" (Универсальный культурно-развлекательный комплекс "Арена 2000. Локомотив")...</div>
                                </li>
                                <li class="player-event-item">
                                    <img src="http://lorempixel.com/200/160/sports/" alt="" class="player-event-image">
                                    <div class="player-event-date">12 ноября 2014</div>
                                    <div class="player-event-title">Первый год нового времени</div>
                                    <div class="player-event-text">УКРК "Арена 2000" (Универсальный культурно-развлекательный комплекс "Арена 2000. Локомотив")...</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="hr">
            </div>
        </div>
    </div>
</section>
{% endblock %}