<div class="ui inline dropdown w-page-tabs__dropdown" tabindex="0">
    <div class="text">Сезон 2014-15</div>
    <i class="dropdown icon"></i>
    <div class="menu transition hidden" tabindex="-1">
        <div class="item active selected" data-text="Сезон 2014-15">2014-15</div>
        <div class="item" data-text="Сезон 2013-14">2013-14</div>
        <div class="item" data-text="Сезон 2012-13">2012-13</div>
        <div class="item" data-text="Сезон 2011-12">2011-12</div>
    </div>
</div>
<!--tabs items-->
<div class="ui tabular w-page-tabs__tabs w-page-tabs__with-select menu hidden-xs">
    <a href="{% url 'hockeyapp:clubs:home-about' pk %}" class="{% if clubs_main_tab == 'home-about' %}active {% endif %} item">Описание</a>
    <a href="{% url 'hockeyapp:clubs:home-schedule' pk %}" class="{% if clubs_main_tab == 'home-schedule' %}active {% endif %} item">Ближайшие матчи</a>
    <a href="{% url 'hockeyapp:clubs:home-map' pk %}" class="{% if clubs_main_tab == 'home-map' %}active {% endif %} item">Карта проезда</a>
    <a href="{% url 'hockeyapp:clubs:home-attendance' pk %}" class="{% if clubs_main_tab == 'home-attendance' %}active {% endif %} item">Посещаемость</a>
    <a href="{% url 'hockeyapp:clubs:home-photos' pk %}" class="{% if clubs_main_tab == 'home-photos' %}active {% endif %} item">Фотографии</a>
</div>
<!--tabs items ends-->
<div class="ui vertical tabular-xs menu visible-xs">
    <a href="{% url 'hockeyapp:clubs:home-about' pk %}" class="{% if clubs_main_tab == 'home-about' %}active {% endif %} item">Описание</a>
    <a href="{% url 'hockeyapp:clubs:home-schedule' pk %}" class="{% if clubs_main_tab == 'home-schedule' %}active {% endif %} item">Ближайшие матчи</a>
    <a href="{% url 'hockeyapp:clubs:home-map' pk %}" class="{% if clubs_main_tab == 'home-map' %}active {% endif %} item">Карта проезда</a>
    <a href="{% url 'hockeyapp:clubs:home-attendance' pk %}" class="{% if clubs_main_tab == 'home-attendance' %}active {% endif %} item">Посещаемость</a>
    <a href="{% url 'hockeyapp:clubs:home-photos' pk %}" class="{% if clubs_main_tab == 'home-photos' %}active {% endif %} item">Фотографии</a>
</div>
<!--tabs items ends-->
