{% load static i18n %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="bottom-line">
    <div class="container">
        <a href="/" class="logo"><img src="{{STATIC_PREFIX}}images/logo.png" alt="Sportomatics" class="logo-image"></a>

        <div class="ui secondary menu user-card-menu">
            <a class="active item">{% trans 'METRICS' %}</a>
            <a class="item">{% trans 'CLUBS' %}</a>
            <a href="{% url 'accounts:profile' %}" class="item">{% trans 'PROFILE' %}</a>
        </div>
        <div class="ui link list">
            <a class="item prof-version">{% trans 'PRO VERSION' %}</a>
            <a class="item simple-version">{% trans 'CLASSIC VERSION' %}</a>
        </div>
    </div>
</div>
