{% load i18n %}
{% load base_extras %}
<div class="top-line">
    <div class="container">
        <div class="ui text menu">
            <div class="header item">{% trans 'Sports type' %}:</div>
            <a class="active item" href="{% url 'hockeyapp:index' %}">{% trans 'Hockey' %}</a>
            {#% include 'partial/header/items.html' %#}

            <!--<div class="ui dropdown item">
                {% trans 'All' %}
                <i class="dropdown icon"></i>

                <div class="menu">
                    {% include 'partial/header/items.html' %}
                </div>
            </div>-->

            <div class="ui text right menu">
                {% if user.is_authenticated %}
                    {% if request.user.avatar %}
                        <a href="{% url 'accounts:profile-private' %}" class="item">
                            <img src="{{ request.user.avatar.url }}" height="30" />
                        </a>
                    {% endif %}
                    <a href="{% url 'accounts:profile-private' %}" class="item">
                        {{ request.user.username }}
                    </a>
                    <a href="{% url 'auth_logout' %}?next={{ request.path }}" class="item">{% trans 'Logout' %}</a>
                {% else %}
                    <form action="{% url 'auth_login' %}?next={{ request.path }}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="username" />
                        <input type="password" name="password" />
                        <input type="submit" value="{% trans 'Login' %}">
                    </form>
                    <!-- <a href="{% url 'auth_login' %}" class="item">{% trans 'Login' %}</a> -->
                    <a href="{% url 'accounts:signup' %}" class="item">{% trans 'Signup' %}</a>
                {% endif %}

                <div class="ui dropdown item">
                    {% trans 'Language' %} <i class="world icon"></i>
                    <div class="menu">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <a href="{% translate_url request.path language.code %}"
                               class="item {% if language.code == request.LANGUAGE_CODE %}active{% endif %}">{{ language.name_local }}</a>
                        {% endfor%}
                    </div>
                    <form action="{% url 'set_language' %}" method="post" id="languageselect" style="block:none;">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="" />
                        <input name="language" type="hidden" value="{{ language.code }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
